# DEMO! Week 14: Family candy log!

### Import Python tools

In [18]:
%load_ext lab_black

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

In [19]:
import pandas as pd

In [20]:
# CSV from here: https://docs.google.com/spreadsheets/d/1GZrzx0_JyspsGtEuWydBCXdVOH-8HwWdK1veLh9nf5g/edit?usp=sharing

In [21]:
url = "https://docs.google.com/spreadsheets/d/e/\
2PACX-1vR4fIh1zczPJQ959IKxT_qcJWor3_37lmaq9UXm0UMN9DhGb-7yh3yUjBh4VAzaTUpGaU2ZozPb4M4f/\
pub?gid=0&single=true&output=csv"

### Read data

In [22]:
df = pd.read_csv(url, dtype={"user": "float"})

### First five rows

In [23]:
df.head()

   user brand package_color     type  peanuts  user_rating
0   1.0  Dove          blue     bars    False            9
1   2.0  Dove          blue     bars    False            5
2   3.0  Dove          blue     bars    False            3
3   4.0  M&Ms         brown  candies    False            1
4   5.0  M&Ms         brown  candies    False            1

### Last five rows

In [24]:
df.tail()

    user     brand package_color  type  peanuts  user_rating
22  23.0  Snickers         brown  bars     True            5
23  24.0  Snickers         brown  bars     True            4
24  25.0  Snickers         brown  bars     True            8
25  26.0  Snickers         brown  bars     True            9
26  27.0  Snickers         brown  bars     True            7

### Sort it by a variable

In [25]:
df.sort_values("user_rating", ascending=False).head()

    user      brand package_color     type  peanuts  user_rating
7    8.0  Milky Way          gold     bars    False           10
17  18.0   Skittles           red  candies    False           10
16  17.0   Skittles           red  candies    False           10
10  11.0  Milky Way          gold     bars    False           10
0    1.0       Dove          blue     bars    False            9

### How many records?

In [26]:
len(df)

27

### Just those with peanuts

In [27]:
df[df["peanuts"] != True]

    user      brand package_color     type  peanuts  user_rating
0    1.0       Dove          blue     bars    False            9
1    2.0       Dove          blue     bars    False            5
2    3.0       Dove          blue     bars    False            3
3    4.0       M&Ms         brown  candies    False            1
4    5.0       M&Ms         brown  candies    False            1
5    6.0       M&Ms         brown  candies    False            8
6    7.0       M&Ms         brown  candies    False            8
7    8.0  Milky Way          gold     bars    False           10
8    9.0  Milky Way          gold     bars    False            5
9   10.0  Milky Way          gold     bars    False            5
10  11.0  Milky Way          gold     bars    False           10
11  12.0  Milky Way          gold     bars    False            5
12  13.0  Milky Way          gold     bars    False            5
13  14.0  Milky Way          gold     bars    False            9
14  15.0  Milky Way          gold     bars    False            4
15  16.0   Skittles           red  candies    False            5
16  17.0   Skittles           red  candies    False           10
17  18.0   Skittles           red  candies    False           10
18  19.0   Skittles           red  candies    False            8
19  20.0   Skittles           red  candies    False            7
20  21.0   Skittles           red  candies    False            8

### Just those with a user rating above 5

In [28]:
df[df["user_rating"] >= 5]

    user      brand package_color     type  peanuts  user_rating
0    1.0       Dove          blue     bars    False            9
1    2.0       Dove          blue     bars    False            5
5    6.0       M&Ms         brown  candies    False            8
6    7.0       M&Ms         brown  candies    False            8
7    8.0  Milky Way          gold     bars    False           10
8    9.0  Milky Way          gold     bars    False            5
9   10.0  Milky Way          gold     bars    False            5
10  11.0  Milky Way          gold     bars    False           10
11  12.0  Milky Way          gold     bars    False            5
12  13.0  Milky Way          gold     bars    False            5
13  14.0  Milky Way          gold     bars    False            9
15  16.0   Skittles           red  candies    False            5
16  17.0   Skittles           red  candies    False           10
17  18.0   Skittles           red  candies    False           10
18  19.0   Skittles           red  candies    False            8
19  20.0   Skittles           red  candies    False            7
20  21.0   Skittles           red  candies    False            8
21  22.0   Snickers         brown     bars     True            5
22  23.0   Snickers         brown     bars     True            5
24  25.0   Snickers         brown     bars     True            8
25  26.0   Snickers         brown     bars     True            9
26  27.0   Snickers         brown     bars     True            7

---

### How many of each brand?

### How many of each color?

In [29]:
df.groupby(["package_color"]).agg({"user": "count"}).reset_index().rename(
    columns={"user": "Count", "package_color": "Package Color"}
)

  Package Color  Count
0          blue      3
1         brown     10
2          gold      8
3           red      6

### What's the average user rating for each brand?

In [30]:
brand_ratings = (
    df.groupby(["brand"])
    .agg({"user_rating": "mean"})
    .round(2)
    .reset_index()
    .sort_values("user_rating", ascending=False)
)
brand_ratings

       brand  user_rating
3   Skittles         8.00
2  Milky Way         6.62
4   Snickers         6.33
0       Dove         5.67
1       M&Ms         4.50

### What's the average rating for products with and without peanuts?

In [14]:
df.groupby(["peanuts"]).agg({"user_rating": "mean", "user": "count"}).round(
    2
).reset_index().sort_values("user_rating", ascending=False)

   peanuts  user_rating  user
0    False         6.48    21
1     True         6.33     6

In [15]:
mean_rating = round(df.user_rating.mean(), 2)

In [16]:
mean_rating

6.44

In [17]:
brand_ratings[brand_ratings["user_rating"] > mean_rating]

       brand  user_rating
3   Skittles         8.00
2  Milky Way         6.62