# Surnames from the U.S. Census Bureau

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import random

### Read the data

In [3]:
# Main url: https://www.census.gov/data/developers/data-sets/surnames.html
# Data documentation: https://www2.census.gov/topics/genealogy/2010surnames/surnames.pdf

In [4]:
df = pd.read_csv("../data/surnames.csv", dtype={"year": str})

### What's the dataframe look like?

### Which names are majority "black"?

### How many unique names?

### How many in each year?

### Surnames in our class (the simple versions, at least)

In [5]:
students = [
    "Vergara",
    "Chua",
    "Guo",
    "Harmon",
    "Kang",
    "Martinez",
    "Sinha",
    "Song",
    "Wang",
]

### Select students at random into three teams

In [6]:
random.shuffle(students)
students

['Harmon',
 'Song',
 'Sinha',
 'Wang',
 'Guo',
 'Vergara',
 'Martinez',
 'Kang',
 'Chua']

In [7]:
# Another way to do random selection here: https://observablehq.com/@mattstiles/jour-554-surnames

In [8]:
team_one = students[0:3]
team_one

['Harmon', 'Song', 'Sinha']

In [9]:
team_two = students[3:6]
team_two

['Wang', 'Guo', 'Vergara']

In [10]:
team_three = students[6:9]
team_three

['Martinez', 'Kang', 'Chua']

---

### This changes each time the notebook loads. Here are the teams.

In [11]:
team_one = ["Sinha", "Song", "Wang"]
team_two = ["Martinez", "Chua", "Vergara"]
team_three = ["Harmon", "Kang", "Guo"]

---

### Find your last name!

### Find the surnames of your teammates, and sort ascending by surname

### Who in your team has the most popular names, in terms of per 100,000 rate

### In 2010, find the 5 names that are most Asian

### Among majority Hispanic names in 2010, which five were most common?

### How did the frequency of your name change in pct terms between 2000 and 2010?

In [12]:
### Hint: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pct_change.html
### Don't forget to sort!

---

### BONUS: Group by name and year for surnames in our class, aggregating with the mean per_100k value

### BONUS: Calculate the % change in surnames for each name from 2000 to 2010

In [13]:
# Hints: pivot_table()
# Hints: % increase = (new number - old number) / original number × 100