# TEAM ONE: Surnames from the U.S. Census Bureau

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import random

### Read the data

In [3]:
# Main url: https://www.census.gov/data/developers/data-sets/surnames.html

In [4]:
# Data documentation: https://www2.census.gov/topics/genealogy/2010surnames/surnames.pdf

In [5]:
df = pd.read_csv("../data/surnames.csv", dtype={"year": str})

---

### Surnames in our class

In [6]:
students = [
    "Vergara",
    "Chua",
    "Guo",
    "Harmon",
    "Kang",
    "Martinez",
    "Sinha",
    "Song",
    "Wang",
]

### Teams

In [7]:
team_one = ["Sinha", "Song", "Wang"]

### Filter the dataframe to just the last name of a team member

### Filter the dataframe to just the surnames of your teammates, and sort ascending by surname

### Who in your team has the most popular names, in terms of per 100,000 rate

### In 2010, find the 5 names among all names that are most Asian

### Among majority Hispanic names in 2010, which five were most common?

### How did the frequency of your team member's name above change, in pct terms between 2000 and 2010?

In [8]:
### Hint: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pct_change.html
### Don't forget to sort!

---

### BONUS: Group by name and year for just surnames in our class, aggregating with the mean per_100k value

### BONUS: Calculate the % change in surnames for each name from 2000 to 2010

In [9]:
# Hints: pivot_table()
# Hints: % increase = (new number - old number) / original number Ã— 100

### BONUS: Clean up the notebook, removing empty cells