# Use Pandas to convert live HTML tables to dataframes

In [1]:
%load_ext lab_black
import pandas as pd

### L.A. County COVID cases, deaths by community

In [2]:
url_dph = "http://publichealth.lacounty.gov/media/Coronavirus/locations.htm"

### Read the page and grab its tables

In [3]:
page_dph = pd.read_html(url_dph, attrs={"class": "table"})

### Read the second table into a dataframe

In [4]:
df_dph = pd.DataFrame(page_dph[1])
df_dph

                      CITY/COMMUNITY**  Cases  Case Rate1  Deaths  Death Rate2
0                 City of Agoura Hills   1458      6982.0      19         91.0
1                     City of Alhambra   8241      9503.0     217        250.0
2                      City of Arcadia   3385      5861.0     147        255.0
3                      City of Artesia   2446     14564.0      80        476.0
4                       City of Avalon     32       827.0       0          0.0
..                                 ...    ...         ...     ...          ...
337          Unincorporated - Whittier    374      9884.0       9        238.0
338  Unincorporated - Whittier Narrows     54    450000.0       1       8333.0
339       Unincorporated - Willowbrook   7935     22728.0     107        306.0
340          Unincorporated - Wiseburn    645     10702.0      12        199.0
341              - Under Investigation  17503         NaN      66          NaN

[342 rows x 5 columns]

In [5]:
df_dph[df_dph["CITY/COMMUNITY**"] == "City of Glendale"]

    CITY/COMMUNITY**  Cases  Case Rate1  Deaths  Death Rate2
28  City of Glendale  24883     12050.0     689        334.0

In [14]:
df_dph.columns = (
    df_dph.columns.str.lower()
    .str.replace("**", "", regex=False)
    .str.replace("/", "_", regex=False)
    .str.replace(" ", "_", regex=False)
)

In [15]:
df_dph.head()

         city_community  cases  case_rate1  deaths  death_rate2
0  City of Agoura Hills   1458      6982.0      19         91.0
1      City of Alhambra   8241      9503.0     217        250.0
2       City of Arcadia   3385      5861.0     147        255.0
3       City of Artesia   2446     14564.0      80        476.0
4        City of Avalon     32       827.0       0          0.0

In [24]:
at_least_one_death = df_dph[df_dph["cases"] > 500]

In [25]:
at_least_one_death.sort_values("death_rate2", ascending=True).head(20)

                       city_community  cases  case_rate1  deaths  death_rate2
170        Los Angeles - Park La Brea    906      6672.0       1          7.0
95          Los Angeles - Beverlywood   1306      9914.0       2         15.0
93              Los Angeles - Bel Air    567      6727.0       2         24.0
175         Los Angeles - Rancho Park    518      7896.0       2         30.0
318  Unincorporated - Stevenson Ranch   1744      8318.0       8         38.0
130        Los Angeles - Hancock Park   1434      8416.0       7         41.0
283   Unincorporated - Marina del Rey    681      7236.0       4         43.0
94        Los Angeles - Beverly Crest    899      7178.0       6         48.0
49            City of Manhattan Beach   2099      5831.0      19         53.0
204              Los Angeles - Venice   2711      8001.0      18         53.0
219            Los Angeles - Westwood   3740      6912.0      29         54.0
32              City of Hermosa Beach   1591      8088.0      11         56.0
184       Los Angeles - South Carthay   1000      9438.0       6         57.0
26                 City of El Segundo   1084      6458.0      10         60.0
97            Los Angeles - Brentwood   2151      6949.0      20         65.0
195         Los Angeles - Toluca Lake    757      8697.0       6         69.0
165   Los Angeles - Pacific Palisades   1169      5491.0      15         70.0
118        Los Angeles - Elysian Park    656     11485.0       4         70.0
56       City of Palos Verdes Estates    679      5021.0      10         74.0
239         Unincorporated - Castaic*   4496     16535.0      21         77.0

### Just these columns/names

---

### DOJ Jan. 6 insurrection defendants

In [8]:
url_doj = "https://www.justice.gov/usao-dc/capitol-breach-cases"

### Read the page and grab its tables

### Read the first table into a dataframe

### Clean up the columns

In [9]:
# df_doj.columns = (
#     df_doj.columns.str.strip()
#     .str.lower()
#     .str.replace(" ", "_", regex=False)
#     .str.replace(":", "", regex=False)
#     .str.replace("/", "_", regex=False)
#     .str.replace(",", "_", regex=False)
#     .str.replace("*", "", regex=False)
#     .str.replace("(s)", "s", regex=False)
# )

### Clean up the location names

In [10]:
# df_doj["location_of_arrest"] = (
#     df_doj["location_of_arrest"]
#     .str.strip()
#     .str.title()
#     .str.replace(", Middle District", "", regex=False)
#     .str.replace(", Southern District", "", regex=False)
#     .str.replace(", Central District", "", regex=False)
#     .str.replace(", Western District", "", regex=False)
#     .str.replace(", Eastern District", "", regex=False)
#     .str.replace(", Northern District", "", regex=False)
# )

### If there's no location, be specific about it

### Split the location column into two

### Drop the original location column

### Group on state, count cases

### Rename your aggregated column

---

### Export both dataframes

In [11]:
# df_dph.to_csv('data/la-county-covid-rates-by-community.csv', index=False)

In [12]:
# df_doj.to_csv('data/doj-capitol-breach-arrests.csv', index=False)

In [13]:
# states.to_csv('data/doj-capitol-breach-arrests-by-state.csv', index=False)