# Week 4: An intro to Python, Pandas and Jupyter

### Environment basics
- Class [Github repo](https://github.com/stiles/usc)
- Structure and workflow
- Clone repo using Github Desktop | [documentation](https://docs.github.com/en/desktop/contributing-and-collaborating-using-github-desktop/adding-and-cloning-repositories/cloning-a-repository-from-github-to-github-desktop)
- Set a directory structure locally and stick to it!

### Jupyter Lab interface basics
- Directory pane
- [Documentation](https://jupyterlab.readthedocs.io/en/stable/)
- Typing and executing code in cells
- Cell types
- Running/restarting a notebook
- Markdown/documentation
- Keyboard shortcuts
- Copy/paste cells

### Import Python tools
These are the Python libraries we will use to complete our work. Here we only need to import [Pandas](https://pandas.pydata.org/docs/getting_started/index.html#getting-started).

In [1]:
import pandas as pd

### Now what?

#### Let's start with simple math

In [2]:
16 + 35

51

In [3]:
math=15/13
print (math)

1.1538461538461537

In [4]:
mply=53*55
print (mply)

2915

#### Defining a variable

In [5]:
num = 68

In [6]:
fal = 54 + 2
num

68

In [7]:
print(num)

68

In [8]:
fal + num

124

#### Conduct a simple data analysis

In [9]:
my_list = [1,2,5,6,7,9,10]

In [10]:
print (my_list)

[1, 2, 5, 6, 7, 9, 10]

In [11]:
my_list

[1, 2, 5, 6, 7, 9, 10]

In [12]:
my_series = pd.Series(my_list)
# my_series = pd.Series(np.random.randint(10, 1000,size=100000000))

In [13]:
my_series

0     1
1     2
2     5
3     6
4     7
5     9
6    10
dtype: int64

#### Descriptive statistics

Once the data becomes a Series, you can immediately run a wide range of [descriptive statistics](https://en.wikipedia.org/wiki/Descriptive_statistics). Letâ€™s try a few.

In [14]:
my_series.sum()

40

#### Then find the maximum value in the next

In [15]:
my_series.max()

10

#### The minimum value in the next

In [16]:
my_series.min()

1

#### How about the average (also known as the mean)? Keep adding cells and calculating new statistics.

In [17]:
my_series.mean()

5.714285714285714

#### The median?

In [18]:
my_series.median()

6.0

#### The standard deviation?

In [19]:
my_series.std()

3.3523268393901033

####  And all of the above, plus a little more about the distribution, in one simple command.

In [20]:
my_series.describe()

count     7.000000
mean      5.714286
std       3.352327
min       1.000000
25%       3.500000
50%       6.000000
75%       8.000000
max      10.000000
dtype: float64

---

## Import data

#### Read a CSV file with members of Congress

In [21]:
df_csv = pd.read_csv('../data/raw/members_of_congress_117.csv')

#### Or an Excel file

In [22]:
df_excel = pd.read_excel('../data/raw/members_of_congress_117_excel.xlsx')

#### Import from a URL

In [23]:
df_url = pd.read_csv('https://raw.githubusercontent.com/stiles/notebooks/master/congress/output/members_of_congress_117.csv')

#### Make a copy and assign a new variable

In [24]:
df = df_csv.copy()

---

## Understanding the dataframe

#### Use the `describe()` to get summary stats on any numerical columns

In [25]:
df.describe()

        seniority  session  dw_nominate  votes_with_party_pct
count  548.000000    548.0   385.000000            542.000000
mean    10.875912    117.0     0.023730             95.338506
std      8.923969      0.0     0.456891              5.383729
min      1.000000    117.0    -0.759000             55.090000
25%      4.000000    117.0    -0.393000             94.120000
50%      8.000000    117.0    -0.197000             97.510000
75%     15.000000    117.0     0.464000             98.605000
max     50.000000    117.0     0.897000            100.000000

#### Use the `info()` method for data types and columns

In [26]:
df.columns = df.columns.str.lower()
df.columns

Index(['id', 'seniority', 'full_name', 'apstate', 'first_name', 'last_name',
       'chamber', 'session', 'state', 'party', 'dw_nominate',
       'votes_with_party_pct'],
      dtype='object')

In [27]:
df.info()
df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 548 entries, 0 to 547
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    548 non-null    object
 1   seniority             548 non-null    int64
 2   full_name             548 non-null    object
 3   apstate               536 non-null    object
 4   first_name            548 non-null    object
 5   last_name             548 non-null    object
 6   chamber               548 non-null    object
 7   session               548 non-null    int64
 8   state                 548 non-null    object
 9   party                 548 non-null    object
 10  dw_nominate           385 non-null    float64
 11  votes_with_party_pct  542 non-null    float64
dtypes: float64(2), int64(2), object(8)
memory usage: 51.5+ KB

,id,seniority,full_name,apstate,first_name,last_name,chamber,session,state,party,dw_nominate,votes_with_party_pct
0,A000370,10,Alma Adams,N.C.,Alma,Adams,house,117,NC,D,-0.465,98.65
1,A000055,26,Robert Aderholt,Ala.,Robert,Aderholt,house,117,AL,R,0.376,97.02
2,A000371,8,Pete Aguilar,Calif.,Pete,Aguilar,house,117,CA,D,-0.294,98.43
3,A000372,8,Rick Allen,Ga.,Rick,Allen,house,117,GA,R,0.696,93.12
4,A000376,4,Colin Allred,Texas,Colin,Allred,house,117,TX,D,NaN,97.54
5,A000369,12,Mark Amodei,Nev.,Mark,Amodei,house,117,NV,R,0.380,95.43
6,A000377,4,Kelly Armstrong,N.D.,Kelly,Armstrong,house,117,ND,R,NaN,95.19
7,A000375,6,Jodey Arrington,Texas,Jodey,Arrington,house,117,TX,R,0.648,89.31
8,A000148,2,Jake Auchincloss,Mass.,Jake,Auchincloss,house,117,MA,D,NaN,98.65
9,A000378,4,Cynthia Axne,Iowa,Cynthia,Axne,house,117,IA,D,NaN,96.87
10,B001291,8,Brian Babin,Texas,Brian,Babin,house,117,TX,R,0.703,92.66
11,B001298,6,Don Bacon,Neb.,Don,Bacon,house,117,NE,R,0.377,91.65
12,B001307,4,James Baird,Ind.,James,Baird,house,117,IN,R,NaN,96.16
13,B001306,6,Troy Balderson,Ohio,Troy,Balderson,house,117,OH,R,NaN,97.02
14,B001299,6,Jim Banks,Ind.,Jim,Banks,house,117,IN,R,0.645,92.97
15,B001282,10,Andy Barr,Ky.,Andy,Barr,house,117,KY,R,0.486,98.17
16,B001300,6,Nanette BarragâˆšÂ°n,Calif.,Nanette,BarragâˆšÂ°n,house,117,CA,D,-0.514,98.64
17,B001270,12,Karen Bass,Calif.,Karen,Bass,house,117,CA,D,-0.584,98.86
18,B001281,10,Joyce Beatty,Ohio,Joyce,Beatty,house,117,OH,D,-0.433,98.42
19,B000668,2,Cliff Bentz,Ore.,Cliff,Bentz,house,117,OR,R,NaN,97.75

#### Reading one column, or "series"

In [28]:
df['last_name']

0           Adams
1        Aderholt
2         Aguilar
3           Allen
4          Allred
          ...
543        Warren
544    Whitehouse
545        Wicker
546         Wyden
547         Young
Name: last_name, Length: 548, dtype: object

#### Counting values in categorical or string columns

In [29]:
df['party'].value_counts()

D     278
R     268
ID      2
Name: party, dtype: int64

---

## Interacting with the data

#### Use the `head()` method to see the first *n* rows

In [30]:
df.head()

,id,seniority,full_name,apstate,first_name,last_name,chamber,session,state,party,dw_nominate,votes_with_party_pct
0,A000370,10,Alma Adams,N.C.,Alma,Adams,house,117,NC,D,-0.465,98.65
1,A000055,26,Robert Aderholt,Ala.,Robert,Aderholt,house,117,AL,R,0.376,97.02
2,A000371,8,Pete Aguilar,Calif.,Pete,Aguilar,house,117,CA,D,-0.294,98.43
3,A000372,8,Rick Allen,Ga.,Rick,Allen,house,117,GA,R,0.696,93.12
4,A000376,4,Colin Allred,Texas,Colin,Allred,house,117,TX,D,NaN,97.54

#### Use the `tail()` method to see the first *n* rows

In [31]:
df.tail()

,id,seniority,full_name,apstate,first_name,last_name,chamber,session,state,party,dw_nominate,votes_with_party_pct
543,W000817,9,Elizabeth Warren,Mass.,Elizabeth,Warren,senate,117,MA,D,-0.759,97.91
544,W000802,15,Sheldon Whitehouse,R.I.,Sheldon,Whitehouse,senate,117,RI,D,-0.355,99.05
545,W000437,15,Roger Wicker,Miss.,Roger,Wicker,senate,117,MS,R,0.378,91.20
546,W000779,26,Ron Wyden,Ore.,Ron,Wyden,senate,117,OR,D,-0.330,98.87
547,Y000064,5,Todd Young,Ind.,Todd,Young,senate,117,IN,R,0.465,90.33

#### Sorting with the `sort_values()` method to find member with most seniority

In [32]:
df.sort_values('seniority',ascending=False).head()

,id,seniority,full_name,apstate,first_name,last_name,chamber,session,state,party,dw_nominate,votes_with_party_pct
444,Y000033,50,Don Young,Alaska,Don,Young,house,117,AK,R,0.283,88.45
497,L000174,47,Patrick Leahy,Vt.,Patrick,Leahy,senate,117,VT,D,-0.360,99.62
188,H000874,42,Steny Hoyer,Md.,Steny,Hoyer,house,117,MD,D,-0.380,98.41
340,R000395,42,Harold Rogers,Ky.,Harold,Rogers,house,117,KY,R,0.338,97.03
378,S000522,42,Christopher Smith,N.J.,Christopher,Smith,house,117,NJ,R,0.167,88.51

#### Sorting with the `sort_values()` method to find member who's most liberal or conservative

In [33]:
df.sort_values('dw_nominate', ascending=True).head()

,id,seniority,full_name,apstate,first_name,last_name,chamber,session,state,party,dw_nominate,votes_with_party_pct
543,W000817,9,Elizabeth Warren,Mass.,Elizabeth,Warren,senate,117,MA,D,-0.759,97.91
481,H001075,3,Kamala Harris,Calif.,Kamala,Harris,senate,117,CA,D,-0.709,100.00
197,J000298,6,Pramila Jayapal,Wash.,Pramila,Jayapal,house,117,WA,D,-0.691,97.52
238,L000551,26,Barbara Lee,Calif.,Barbara,Lee,house,117,CA,D,-0.681,97.96
427,W000187,32,Maxine Waters,Calif.,Maxine,Waters,house,117,CA,D,-0.655,95.12

---

## What questions would you ask of this dataset?

In [34]:
df.groupby(['state'])['id'].count()

state
AK     3
AL     9
AR     6
AS     1
AZ    11
CA    56
CO     9
CT     7
DC     1
DE     3
FL    29
GA    17
GU     1
HI     4
IA     6
ID     4
IL    20
IN    11
KS     6
KY     8
LA     9
MA    11
MD    10
ME     4
MI    16
MN    10
MO    10
MP     1
MS     6
MT     3
NC    15
ND     3
NE     5
NH     4
NJ    14
NM     6
NV     6
NY    29
OH    20
OK     7
OR     7
PA    20
PR     1
RI     4
SC     9
SD     3
TN    11
TX    39
UT     6
VA    13
VI     1
VT     3
WA    12
WI    10
WV     5
WY     3
Name: id, dtype: int64

In [35]:
df.groupby(['state'])['dw_nominate'].mean()

state
AK    0.322667
AL    0.354333
AR    0.467833
AS         NaN
AZ    0.136667
CA   -0.277447
CO    0.091800
CT   -0.351167
DC         NaN
DE   -0.247000
FL    0.030952
GA    0.318556
GU         NaN
HI   -0.384000
IA    0.444500
ID    0.458333
IL   -0.182400
IN    0.321167
KS    0.531333
KY    0.428625
LA    0.393000
MA   -0.459125
MD   -0.257000
ME   -0.154667
MI    0.040500
MN   -0.162500
MO    0.360500
MP         NaN
MS    0.290800
MT    0.178000
NC    0.261800
ND    0.382500
NE    0.471600
NH   -0.241000
NJ   -0.367800
NM   -0.349000
NV   -0.185200
NY   -0.240000
OH    0.183625
OK    0.473600
OR   -0.367333
PA    0.045333
PR         NaN
RI   -0.371750
SC    0.458714
SD    0.402000
TN    0.271000
TX    0.186136
UT    0.642000
VA   -0.122000
VI         NaN
VT   -0.433667
WA   -0.147600
WI   -0.024571
WV    0.271250
WY    0.562333
Name: dw_nominate, dtype: float64

In [36]:
#df.groupby(['state'])['seniority'].mean().sort_values(ascending=False)

---

## Export

In [37]:
df.to_csv('../data/processed/members_of_congress_117.csv', index=False)

In [38]:
df.to_excel('../data/processed/members_of_congress_117.xlsx')