# Week 6: Merging data with Pandas, Part 2
Adding demographics to our voting/vax table [using the `merge()` method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)

#### Load our Python tools

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd
import altair as alt

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

---

## Vax/Recall

#### Read data (don't forget to define data types here)

In [6]:
vax_recall_df = pd.read_csv("../data/processed/no_vax_corr.csv", dtype={"fips": str})

In [7]:
vax_recall_df.head()

,county,fips,no_percent,yes_percent,winner_2021,fully_vaccinated_percent,population
0,Alameda,001,82.5,17.5,D,81.46,1643700.0
1,Alpine,003,60.9,39.1,D,62.54,1148.0
2,Amador,005,36.9,63.1,R,54.27,37829.0
3,Butte,007,47.5,52.5,R,50.26,227075.0
4,Calaveras,009,38.3,61.7,R,53.23,45235.0

---

## Demographics

In [9]:
demos_df = pd.read_csv(
    "../data/raw/ca_counties_demographics.csv",
    dtype={"state_fips": str, "cnty_fips": str, "fips": str},
)

In [10]:
demos_df.head()

,name,state_name,state_fips,cnty_fips,fips,population,white,black,ameri_es,asian,hawn_pi,hispanic,other,mult_race,ave_hh_sz,hsehld_1_m,hsehld_1_f,marhh_chd,marhh_no_c,mhh_child,fhh_child,families,ave_fam_sz,hse_units,vacant,owner_occ,renter_occ,no_farms12,ave_size12,crop_acr12,ave_sale12,sqmi,no_farms17,ave_size17,crop_acr17,ave_sale17,shape_length,shape_area
0,Alameda,California,06,001,06001,1632804,649122,190451,9799,394560,12802,339889,162540,90997,2.70,62350,79576,130014,123671,14625,41773,352423,3.30,582549,37411,291242,253896,452.0,393.0,20347.0,127261.0,744.06,446.0,411.0,17276.0,103507.0,3.850333,0.196742
1,Alpine,California,06,003,06003,1109,881,0,240,7,0,84,19,28,2.32,89,57,82,149,19,28,297,2.92,1760,1263,357,140,3.0,0.0,563.0,88444.0,743.60,6.0,529.0,0.0,0.0,2.174037,0.199155
2,Amador,California,06,005,06005,40533,33149,962,678,419,77,4756,1450,1356,2.30,1688,2215,2315,5548,384,724,9793,2.75,18032,3463,10883,3686,461.0,337.0,16022.0,69345.0,606.02,482.0,377.0,14646.0,64376.0,2.928250,0.161973
3,Butte,California,06,007,06007,210520,180096,3415,4395,9057,452,31116,12141,10444,2.45,10850,13570,14642,22980,2804,6466,52529,2.99,95835,8217,50991,36627,2056.0,185.0,227279.0,263265.0,1677.42,1912.0,182.0,214211.0,274139.0,4.291832,0.456019
4,Calaveras,California,06,009,06009,48292,40522,383,689,571,79,4703,1534,1800,2.39,2237,2430,3211,7419,463,989,13039,2.81,27925,9039,14520,4366,663.0,320.0,6059.0,39222.0,1036.54,699.0,343.0,14848.0,39249.0,3.024186,0.276134

---

## Merge

#### Join, or merge, the demographics and the vax/recall dataframes

#### Did they merge correctly?

#### What's it look like?

#### How did small counties vote?

#### Large?

#### Mean no vote for small?

#### Mean no vote for large?

---

## Export

---

## We've just scratched the surface
#### Read this [excellent explainer](https://towardsdatascience.com/all-the-pandas-merge-you-should-know-for-combining-datasets-526b9ecaf184) on all things `merge()`