# IMDB movie ratings

#### Import python tools

In [ ]:
%load_ext lab_black

In [3]:
import pandas as pd

## Read our data

In [4]:
url = "https://raw.githubusercontent.com/stiles/usc/main/data/raw/imdb_1000.csv"

#### Create a movies dataframe, and sort it by title

In [5]:
movie_df = pd.read_csv(
    "https://raw.githubusercontent.com/stiles/usc/main/data/raw/imdb_1000.csv"
)

#### First five rows?

In [6]:
movie_df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

#### Use the `describe()` method to see the distribution

In [7]:
movie_df.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [8]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     979 non-null    float64
 1   title           979 non-null    object
 2   content_rating  976 non-null    object
 3   genre           979 non-null    object
 4   duration        979 non-null    int64
 5   actors_list     979 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

---

## Categorization exercise

#### What do you consider a 'long' movie?

In [9]:
# Any movie above two hours is long, given our shorter attention spans.
movie_df[movie_df["duration"] > 120].head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [10]:
# But most people would consider 3 hour long movies as 'long'
movie_df[movie_df["duration"] > 180].head()

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
40,8.5,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Michael Clarke Duncan', u'Dav..."

In [11]:
# But this method is cooler
movie_long = 175
movie_long = movie_df["duration"].mean() + movie_df["duration"].std()
movie_long

147.19758083721905

#### Boolean categorization function

In [12]:
def categorize_long_movies(time):
    if time >= movie_long:
        return True
    else:
        return False

#### Apply that to our duration column as a new column

In [13]:
movie_df["is_long"] = movie_df["duration"].apply(categorize_long_movies)

In [14]:
movie_df.head(5)

,star_rating,title,content_rating,genre,duration,actors_list,is_long
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",False
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",True
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",True
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",True
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",True

In [15]:
movie_df.is_long.value_counts()

False    845
True     134
Name: is_long, dtype: int64

----

## Looping exercise

In [16]:
for i in movie_df["genre"].unique():
    print(
        f"https://www.imdb.com/search/title/?genres={i}&title_type=feature&explore=genres"
    )

https://www.imdb.com/search/title/?genres=Crime&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Action&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Drama&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Western&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Adventure&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Biography&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Comedy&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Animation&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Mystery&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Horror&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Film-Noir&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Sci-Fi&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=History&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Thriller&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Family&title_type=feature&explore=genres
https://www.imdb.com/search/title/?genres=Fantasy&title_type=feature&explore=genres

In [17]:
movie_df["genre"].unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [21]:
# Oops! Did not notice this earlier.
# https://www.imdb.com/search/title/?genres=comedy

In [19]:
movie_df["genre_url"] = "https://www.imdb.com/search/title/?genres=" + movie_df["genre"]

In [20]:
movie_df.head()

,star_rating,title,content_rating,genre,duration,actors_list,is_long,genre_url
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",False,https://www.imdb.com/search/title/?genres=Crime
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",True,https://www.imdb.com/search/title/?genres=Crime
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",True,https://www.imdb.com/search/title/?genres=Crime
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",True,https://www.imdb.com/search/title/?genres=Action
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",True,https://www.imdb.com/search/title/?genres=Crime

---

### Questions

#### How many crime movies vs. other types?

In [22]:
movie_df.genre.value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: genre, dtype: int64

In [24]:
# This is confusing. But it does give more data. Still, I'd rather not use this method.
movie_df[movie_df["genre"] == "Crime"].value_counts().head()

star_rating  title                 content_rating  genre  duration  actors_list                                              is_long  genre_url
7.4          Bound                 R               Crime  108       [u'Jennifer Tilly', u'Gina Gershon', u'Joe Pantoliano']  False    https://www.imdb.com/search/title/?genres=Crime    1
8.0          Rope                  PG              Crime  80        [u'James Stewart', u'John Dall', u'Farley Granger']      False    https://www.imdb.com/search/title/?genres=Crime    1
8.1          Strangers on a Train  APPROVED        Crime  101       [u'Farley Granger', u'Robert Walker', u'Ruth Roman']     False    https://www.imdb.com/search/title/?genres=Crime    1
             Sin City              R               Crime  124       [u'Mickey Rourke', u'Clive Owen', u'Bruce Willis']       False    https://www.imdb.com/search/title/?genres=Crime    1
             Prisoners             R               Crime  153       [u'Hugh Jackman', u'Jake Gyllenhaal', u'Viola Davis']    True     https://www.imdb.com/search/title/?genres=Crime    1
dtype: int64

#### Which movie featuring Jack Nicholson had the highest star rating?

In [25]:
movie_df[movie_df["actors_list"].str.contains("Jack Nicholson")].sort_values(
    "star_rating", ascending=False
)

,star_rating,title,content_rating,genre,duration,actors_list,is_long,genre_url
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich...",False,https://www.imdb.com/search/title/?genres=Drama
49,8.5,The Departed,R,Crime,151,"[u'Leonardo DiCaprio', u'Matt Damon', u'Jack N...",True,https://www.imdb.com/search/title/?genres=Crime
62,8.5,The Shining,R,Horror,146,"[u'Jack Nicholson', u'Shelley Duvall', u'Danny...",False,https://www.imdb.com/search/title/?genres=Horror
130,8.3,Chinatown,R,Drama,130,"[u'Jack Nicholson', u'Faye Dunaway', u'John Hu...",False,https://www.imdb.com/search/title/?genres=Drama
578,7.8,As Good as It Gets,PG-13,Comedy,139,"[u'Jack Nicholson', u'Helen Hunt', u'Greg Kinn...",False,https://www.imdb.com/search/title/?genres=Comedy
716,7.6,A Few Good Men,R,Drama,138,"[u'Tom Cruise', u'Jack Nicholson', u'Demi Moore']",False,https://www.imdb.com/search/title/?genres=Drama
801,7.6,Batman,PG-13,Action,126,"[u'Michael Keaton', u'Jack Nicholson', u'Kim B...",False,https://www.imdb.com/search/title/?genres=Action
943,7.4,The Bucket List,PG-13,Adventure,97,"[u'Jack Nicholson', u'Morgan Freeman', u'Sean ...",False,https://www.imdb.com/search/title/?genres=Adve...
944,7.4,Terms of Endearment,R,Comedy,132,"[u'Shirley MacLaine', u'Debra Winger', u'Jack ...",False,https://www.imdb.com/search/title/?genres=Comedy

#### How does the average duration of dramas compare with other genres?

In [26]:
movie_df.groupby(["genre"])["duration"].mean()

genre
Action       126.485294
Adventure    134.840000
Animation     96.596774
Biography    131.844156
Comedy       107.602564
Crime        122.298387
Drama        126.539568
Family       107.500000
Fantasy      112.000000
Film-Noir     97.333333
History       66.000000
Horror       102.517241
Mystery      115.625000
Sci-Fi       109.000000
Thriller     114.200000
Western      136.666667
Name: duration, dtype: float64

#### How many movies contain Al Pacino?

In [27]:
len(movie_df[movie_df["actors_list"].str.contains("Al Pacino")])

13

#### What's the longest PG-13 action movie?

In [28]:
pg = movie_df[movie_df["content_rating"] == "PG-13"]
pg[pg["genre"] == "Action"].sort_values("duration", ascending=False).head()

,star_rating,title,content_rating,genre,duration,actors_list,is_long,genre_url
385,8.0,Spartacus,PG-13,Action,197,"[u'Kirk Douglas', u'Laurence Olivier', u'Jean ...",True,https://www.imdb.com/search/title/?genres=Action
684,7.7,The Big Blue,PG-13,Action,168,"[u'Jean-Marc Barr', u'Jean Reno', u'Rosanna Ar...",True,https://www.imdb.com/search/title/?genres=Action
43,8.5,The Dark Knight Rises,PG-13,Action,165,"[u'Christian Bale', u'Tom Hardy', u'Anne Hatha...",True,https://www.imdb.com/search/title/?genres=Action
433,7.9,Avatar,PG-13,Action,162,"[u'Sam Worthington', u'Zoe Saldana', u'Sigourn...",True,https://www.imdb.com/search/title/?genres=Action
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",True,https://www.imdb.com/search/title/?genres=Action

#### Which genre has the highest star rating?

In [29]:
movie_df.groupby(["genre"])["star_rating"].mean().sort_values(ascending=False)

genre
Western      8.255556
Film-Noir    8.033333
History      8.000000
Mystery      7.975000
Adventure    7.933333
Sci-Fi       7.920000
Crime        7.916935
Animation    7.914516
Drama        7.902518
Action       7.884559
Biography    7.862338
Family       7.850000
Comedy       7.822436
Horror       7.806897
Fantasy      7.700000
Thriller     7.680000
Name: star_rating, dtype: float64

#### How many movies contain the word 'city'?

In [30]:
len(movie_df[movie_df["title"].str.contains("city", case=False)])

5

#### Do long movies have a higher average star rating than not long movies?

In [31]:
# YES!
movie_df.groupby(["is_long"])["star_rating"].mean()

is_long
False    7.858698
True     8.085821
Name: star_rating, dtype: float64

#### Are "G" rated movies more popular than "R" rated movies?

In [32]:
# YES. Oh. Interesting data.
movie_df.groupby(["content_rating"])["star_rating"].mean()

content_rating
APPROVED     8.027660
G            7.990625
GP           7.933333
NC-17        7.614286
NOT RATED    8.123077
PASSED       8.157143
PG           7.879675
PG-13        7.828571
R            7.854783
TV-MA        8.100000
UNRATED      7.994737
X            7.925000
Name: star_rating, dtype: float64

---

## Bonus questions!

#### How many movies start with "The"?

In [33]:
movie_df[movie_df["title"].str.contains("The", case=False)].head()

,star_rating,title,content_rating,genre,duration,actors_list,is_long,genre_url
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",False,https://www.imdb.com/search/title/?genres=Crime
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",True,https://www.imdb.com/search/title/?genres=Crime
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",True,https://www.imdb.com/search/title/?genres=Crime
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",True,https://www.imdb.com/search/title/?genres=Action
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...",True,https://www.imdb.com/search/title/?genres=Western

In [34]:
# I used a different method above, but this is better, as it specifies we're searching the first three characters of the string.
movie_df[movie_df["title"].str[:3] == "The"].head()

,star_rating,title,content_rating,genre,duration,actors_list,is_long,genre_url
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",False,https://www.imdb.com/search/title/?genres=Crime
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",True,https://www.imdb.com/search/title/?genres=Crime
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",True,https://www.imdb.com/search/title/?genres=Crime
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",True,https://www.imdb.com/search/title/?genres=Action
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...",True,https://www.imdb.com/search/title/?genres=Western

In [96]:
len(movie_df[movie_df["title"].str.contains("The", case=False)])

313

In [35]:
# And the difference is clear in the value counts for the movies that start with "The"
# versus movies that have "The" in them
len(movie_df[movie_df["title"].str[:3] == "The"])

223

#### What movie title has the most characters in its name?

In [36]:
movie_df["title_length"] = movie_df["title"].str.len()

In [37]:
movie_df["title_length"].max()

68

In [38]:
movie_df[movie_df["title_length"] == 68]

,star_rating,title,content_rating,genre,duration,actors_list,is_long,genre_url,title_length
48,8.5,Dr. Strangelove or: How I Learned to Stop Worr...,PG,Comedy,95,"[u'Peter Sellers', u'George C. Scott', u'Sterl...",False,https://www.imdb.com/search/title/?genres=Comedy,68

#### What percentage of all the movies are in the crime genre?

In [39]:
movie_df.genre.value_counts(normalize=True) * 100

Drama        28.396323
Comedy       15.934627
Action       13.891726
Crime        12.665986
Biography     7.865169
Adventure     7.660878
Animation     6.332993
Horror        2.962206
Mystery       1.634321
Western       0.919305
Sci-Fi        0.510725
Thriller      0.510725
Film-Noir     0.306435
Family        0.204290
History       0.102145
Fantasy       0.102145
Name: genre, dtype: float64

#### What percentage of movies featuring Meryl Streep are 'long' vs. 'not long'?

In [40]:
meryl_streep = (
    movie_df[movie_df["actors_list"].str.contains("Meryl Streep")]
    .groupby(["is_long"])
    .size()
).reset_index(name="count")

In [43]:
meryl_streep["is_long_share"] = (
    meryl_streep["count"] / meryl_streep["count"].sum()
).round(2) * 100
meryl_streep

   is_long  count  is_long_share
0    False      6           86.0
1     True      1           14.0