# Week 14: Family candy log!

### Import Python tools

In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [3]:
# CSV from here: https://docs.google.com/spreadsheets/d/1GZrzx0_JyspsGtEuWydBCXdVOH-8HwWdK1veLh9nf5g/edit?usp=sharing

In [4]:
url = "https://docs.google.com/spreadsheets/d/e/\
2PACX-1vR4fIh1zczPJQ959IKxT_qcJWor3_37lmaq9UXm0UMN9DhGb-7yh3yUjBh4VAzaTUpGaU2ZozPb4M4f/\
pub?gid=0&single=true&output=csv"

In [5]:
df = pd.read_csv(url)

### First five rows

In [6]:
df.head()

   user brand package_color     type  peanuts  user_rating
0     1  Dove          blue     bars    False            9
1     2  Dove          blue     bars    False            5
2     3  Dove          blue     bars    False            3
3     4  M&Ms         brown  candies    False            1
4     5  M&Ms         brown  candies    False            1

### Last five rows

In [7]:
df.tail()

### How many records?

In [13]:
len(df)

27

### Just those with peanuts

In [14]:
df[df["peanuts"] == True]

    user     brand package_color  type  peanuts  user_rating
21    22  Snickers         brown  bars     True            5
22    23  Snickers         brown  bars     True            5
23    24  Snickers         brown  bars     True            4
24    25  Snickers         brown  bars     True            8
25    26  Snickers         brown  bars     True            9
26    27  Snickers         brown  bars     True            7

### Just those with a user rating above 5

In [16]:
df[df["user_rating"] > 5]

    user      brand package_color     type  peanuts  user_rating
0      1       Dove          blue     bars    False            9
5      6       M&Ms         brown  candies    False            8
6      7       M&Ms         brown  candies    False            8
7      8  Milky Way          gold     bars    False           10
10    11  Milky Way          gold     bars    False           10
13    14  Milky Way          gold     bars    False            9
16    17   Skittles           red  candies    False           10
17    18   Skittles           red  candies    False           10
18    19   Skittles           red  candies    False            8
19    20   Skittles           red  candies    False            7
20    21   Skittles           red  candies    False            8
24    25   Snickers         brown     bars     True            8
25    26   Snickers         brown     bars     True            9
26    27   Snickers         brown     bars     True            7

---

### How many of each brand?

In [8]:
df.groupby(["brand"]).agg({"user": "count"}).reset_index()

       brand  user
0       Dove     3
1       M&Ms     4
2  Milky Way     8
3   Skittles     6
4   Snickers     6

### How many of each color?

In [9]:
df.groupby(["package_color"]).agg({"user": "count"}).reset_index()

  package_color  user
0          blue     3
1         brown    10
2          gold     8
3           red     6

### What's the average user rating for each brand?

In [10]:
df.groupby(["brand"]).agg({"user_rating": "mean"}).round(2).reset_index().sort_values(
    "user_rating", ascending=False
)

       brand  user_rating
3   Skittles         8.00
2  Milky Way         6.62
4   Snickers         6.33
0       Dove         5.67
1       M&Ms         4.50

### What's the average rating for products related to peanuts?

In [11]:
df.groupby(["peanuts"]).agg({"user_rating": "mean"}).round(2).reset_index()

   peanuts  user_rating
0    False         6.48
1     True         6.33

### What's the average rating for products related to peanuts?

In [12]:
df.groupby(["package_color"]).agg({"user_rating": "mean"}).round(2).reset_index()

  package_color  user_rating
0          blue         5.67
1         brown         5.60
2          gold         6.62
3           red         8.00