# LAPD crime data

### Import Python tools

In [18]:
import pandas as pd
import numpy as np

---

In [19]:
df = pd.read_csv('../../usc/data/lapd/lapd_crimes_2010_present_usc_area.csv', dtype={'premises_code':str, 'crime_code':str})

In [20]:
df.head()

,record_id,date_reported,date_occurred,time_occurred,division,division_name,reporting_district,part_type,crime_code,crime_code_description,...,year,quarter,day,month,weekday,monthname,descent_description,hour,minute,part_category
0,200305577,2020-01-27,2020-01-25,2300,3.0,Southwest,338,1,510,Vehicle - stolen,...,2020,1,25,1,5,January,NaN,23,0,other
1,200300514,2020-01-05,2020-01-05,1446,3.0,Southwest,378,2,946,Other miscellaneous crime,...,2020,1,5,1,6,January,black,14,46,other
2,200300521,2020-01-10,2020-01-09,830,3.0,Southwest,379,2,654,"Credit cards, fraud use ($950 & under",...,2020,1,9,1,3,January,asian,8,30,other
3,200304073,2020-01-01,2020-01-01,1300,3.0,Southwest,357,2,626,Intimate partner - simple assault,...,2020,1,1,1,2,January,hispanic,13,0,other
4,200304130,2020-01-02,2020-01-01,2345,3.0,Southwest,328,1,220,Attempted robbery,...,2020,1,1,1,2,January,black,23,45,other

In [21]:
df.iloc[20]

record_id                                                     200304501
date_reported                                                2020-01-09
date_occurred                                                2020-01-08
time_occurred                                                      1930
division                                                            3.0
division_name                                                 Southwest
reporting_district                                                  379
part_type                                                             2
crime_code                                                          930
crime_code_description           Criminal threats - no weapon displayed
modus_operandi_code                                      1810 0443 0432
victim_age                                                           30
victim_sex                                                       female
victim_descent                                                        B
premises_code                                                       502
premises_description       Multi-unit dwelling (apartment, duplex, etc)
weapon_code                                                       511.0
weapon_description                                        Verbal threat
status_code                                                          IC
status_code_description                                     invest_cont
crm_cd_1                                                            930
crm_cd_2                                                            NaN
crm_cd_3                                                            NaN
crm_cd_4                                                            NaN
address                         3900 S  BUDLONG                      AV
cross_street                                                        NaN
latitude                                                        34.0155
longitude                                                     -118.2959
year                                                               2020
quarter                                                               1
day                                                                   8
month                                                                 1
weekday                                                               2
monthname                                                       January
descent_description                                               black
hour                                                                 19
minute                                                               30
part_category                                                     other
Name: 20, dtype: object

#### Just crimes involving campus and student victims

In [22]:
df[(df['premises_code'] == '722') \
   & (df['modus_operandi_code'].str.contains('1251')) \
  & (df['crime_code'] == '480')]

,record_id,date_reported,date_occurred,time_occurred,division,division_name,reporting_district,part_type,crime_code,crime_code_description,...,year,quarter,day,month,weekday,monthname,descent_description,hour,minute,part_category
60,200305114,2020-01-20,2020-01-20,1000,3.0,Southwest,358,1,480,Bike - stolen,...,2020,1,20,1,0,January,asian,10,0,other
128,200306010,2020-02-03,2020-02-03,1740,3.0,Southwest,358,1,480,Bike - stolen,...,2020,1,3,2,0,February,asian,17,40,other
220,200307016,2020-02-18,2020-02-17,1200,3.0,Southwest,358,1,480,Bike - stolen,...,2020,1,17,2,0,February,asian,12,0,other
236,200307015,2020-02-18,2020-02-13,1900,3.0,Southwest,358,1,480,Bike - stolen,...,2020,1,13,2,3,February,white,19,0,other
237,200307083,2020-02-20,2020-02-17,2200,3.0,Southwest,358,1,480,Bike - stolen,...,2020,1,17,2,0,February,white,22,0,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20642,190311843,2019-04-29,2019-04-26,1530,NaN,Southwest,358,1,480,Bike - stolen,...,2019,2,26,4,4,April,ai_an,15,30,other
20658,190325068,2019-11-21,2019-11-19,1700,NaN,Southwest,358,1,480,Bike - stolen,...,2019,4,19,11,1,November,white,17,0,other
20674,190324923,2019-11-19,2019-10-15,830,NaN,Southwest,358,1,480,Bike - stolen,...,2019,4,15,10,1,October,asian,8,30,other
20686,190320537,2019-09-11,2019-09-11,1830,NaN,Southwest,358,1,480,Bike - stolen,...,2019,3,11,9,2,September,white,18,30,other
20691,190309120,2019-03-20,2019-03-08,900,NaN,Southwest,338,1,480,Bike - stolen,...,2019,1,8,3,4,March,white,9,0,other

In [23]:
students_campus_bikes = df[(df['premises_code'] == '722') \
   & (df['modus_operandi_code'].str.contains('1251')) \
  & (df['crime_code'] == '480')]

In [24]:
len(students_campus_bikes)

587

In [25]:
students_campus_bikes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 587 entries, 60 to 20691
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   record_id                587 non-null    int64
 1   date_reported            587 non-null    object
 2   date_occurred            587 non-null    object
 3   time_occurred            587 non-null    int64
 4   division                 21 non-null     float64
 5   division_name            587 non-null    object
 6   reporting_district       587 non-null    int64
 7   part_type                587 non-null    int64
 8   crime_code               587 non-null    object
 9   crime_code_description   587 non-null    object
 10  modus_operandi_code      587 non-null    object
 11  victim_age               587 non-null    int64
 12  victim_sex               587 non-null    object
 13  victim_descent           587 non-null    object
 14  premises_code            587 non-null    object
 15  premises_description     587 non-null    object
 16  weapon_code              2 non-null      float64
 17  weapon_description       2 non-null      object
 18  status_code              587 non-null    object
 19  status_code_description  587 non-null    object
 20  crm_cd_1                 587 non-null    int64
 21  crm_cd_2                 8 non-null      float64
 22  crm_cd_3                 0 non-null      float64
 23  crm_cd_4                 0 non-null      float64
 24  address                  587 non-null    object
 25  cross_street             11 non-null     object
 26  latitude                 587 non-null    float64
 27  longitude                587 non-null    float64
 28  year                     587 non-null    int64
 29  quarter                  587 non-null    int64
 30  day                      587 non-null    int64
 31  month                    587 non-null    int64
 32  weekday                  587 non-null    int64
 33  monthname                587 non-null    object
 34  descent_description      587 non-null    object
 35  hour                     587 non-null    int64
 36  minute                   587 non-null    int64
 37  part_category            587 non-null    object
dtypes: float64(7), int64(13), object(18)
memory usage: 178.9+ KB

---