In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [13]:
df = pd.read_csv(
    "income_tracts_in_around_downtown.csv",
    dtype={
        "statefp10": str,
        "countyfp10": str,
        "tractce10": str,
        "geoid10": str,
        "name10": str,
        "namelsad10": str,
        "mtfcc10": str,
    },
)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 58 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   statefp10            28 non-null     object
 1   countyfp10           28 non-null     object
 2   tractce10            28 non-null     object
 3   geoid10              28 non-null     object
 4   name10               28 non-null     float64
 5   namelsad10           28 non-null     object
 6   mtfcc10              28 non-null     object
 7   funcstat10           28 non-null     object
 8   aland10              28 non-null     int64
 9   awater10             28 non-null     int64
 10  intptlat10           28 non-null     float64
 11  intptlon10           28 non-null     float64
 12  geo_id               28 non-null     object
 13  state                28 non-null     int64
 14  county_left          28 non-null     int64
 15  tract                28 non-null     int64
 16  name_left            28 non-null     object
 17  households           28 non-null     float64
 18  0_9999               28 non-null     float64
 19  10000_14999          28 non-null     float64
 20  15000_19999          28 non-null     float64
 21  20000_24999          28 non-null     float64
 22  25000_29999          28 non-null     float64
 23  30000_34999          28 non-null     float64
 24  35000_39999          28 non-null     float64
 25  40000_44999          28 non-null     float64
 26  45000_49999          28 non-null     float64
 27  50000_59999          28 non-null     float64
 28  60000_74999          28 non-null     float64
 29  75000_99999          28 non-null     float64
 30  100000_124999        28 non-null     float64
 31  125000_149999        28 non-null     float64
 32  150000_199999        28 non-null     float64
 33  200000_more          28 non-null     float64
 34  households_error     28 non-null     float64
 35  0_9999_error         28 non-null     float64
 36  10000_14999_error    28 non-null     float64
 37  15000_19999_error    28 non-null     float64
 38  20000_24999_error    28 non-null     float64
 39  25000_29999_error    28 non-null     float64
 40  30000_34999_error    28 non-null     float64
 41  35000_39999_error    28 non-null     float64
 42  40000_44999_error    28 non-null     float64
 43  45000_49999_error    28 non-null     float64
 44  50000_59999_error    28 non-null     float64
 45  60000_74999_error    28 non-null     float64
 46  75000_99999_error    28 non-null     float64
 47  100000_124999_error  28 non-null     float64
 48  125000_149999_error  28 non-null     float64
 49  150000_199999_error  28 non-null     float64
 50  200000_more_error    28 non-null     float64
 51  index_right          28 non-null     int64
 52  name_right           28 non-null     object
 53  slug                 28 non-null     object
 54  county_right         28 non-null     object
 55  type                 28 non-null     object
 56  city                 28 non-null     object
 57  region               28 non-null     object
dtypes: float64(37), int64(6), object(15)
memory usage: 12.8+ KB

In [15]:
df.head()

,statefp10,countyfp10,tractce10,geoid10,name10,namelsad10,mtfcc10,funcstat10,aland10,awater10,...,125000_149999_error,150000_199999_error,200000_more_error,index_right,name_right,slug,county_right,type,city,region
0,06,037,207502,06037207502,2075.02,Census Tract 2075.02,G5020,S,418373,0,...,60.0,85.0,69.0,53,Downtown,downtown,los-angeles,Los Angeles,los-angeles,central-la
1,06,037,207301,06037207301,2073.01,Census Tract 2073.01,G5020,S,430089,0,...,135.0,157.0,106.0,53,Downtown,downtown,los-angeles,Los Angeles,los-angeles,central-la
2,06,037,207501,06037207501,2075.01,Census Tract 2075.01,G5020,S,134326,0,...,52.0,43.0,65.0,53,Downtown,downtown,los-angeles,Los Angeles,los-angeles,central-la
3,06,037,207302,06037207302,2073.02,Census Tract 2073.02,G5020,S,256159,0,...,134.0,92.0,137.0,53,Downtown,downtown,los-angeles,Los Angeles,los-angeles,central-la
4,06,037,207710,06037207710,2077.10,Census Tract 2077.10,G5020,S,1101544,0,...,53.0,179.0,161.0,53,Downtown,downtown,los-angeles,Los Angeles,los-angeles,central-la

In [17]:
downtown_tracts = df["name10"].to_list()

In [18]:
downtown_tracts

[2075.02,
 2073.01,
 2075.01,
 2073.02,
 2077.1,
 2074.0,
 2063.0,
 2240.1,
 2260.02,
 2062.0,
 2079.0,
 2071.02,
 2071.01,
 2060.31,
 2060.2,
 2080.0,
 2240.2,
 2244.1,
 2270.1,
 5324.0,
 2242.0,
 2093.0,
 2092.0,
 2100.1,
 2281.0,
 1977.0,
 1976.0,
 2260.01]

### Condense income ranges into fewer columns

In [ ]:
sum_10000_24999 = df["10000_14999"] + df["15000_19999"] + df["20000_24999"]

In [ ]:
df["10000_24999"] = sum_10000_24999

In [ ]:
sum_25000_39999 = df["25000_29999"] + df["30000_34999"] + df["35000_39999"]

In [ ]:
df["25000_39999"] = sum_25000_39999

In [ ]:
sum_40000_59999 = df["40000_44999"] + df["45000_49999"] + df["50000_59999"]

In [ ]:
df["40000_59999"] = sum_40000_59999

In [ ]:
sum_60000_99999 = df["60000_74999"] + df["75000_99999"]

In [ ]:
df["60000_99999"] = sum_60000_99999

In [ ]:
sum_100000_149999 = df["100000_124999"] + df["125000_149999"]

In [ ]:
df["100000_149999"] = sum_100000_149999

In [ ]:
###df[''] + df[''] + df['']

In [ ]:
df.info()

In [ ]:
max_income = df["households"].idxmax(
    [
        "0_9999",
        "10000_24999",
        "25000_39999",
        "40000_59999",
        "60000_99999",
        "100000_149999",
        "150000_199999",
        "200000_more",
    ]
)

In [ ]:
df["max_income"] = max_income

### Make percent of columns, to be able to use in Datawrapper

In [ ]:
pct_0_9999 = df["0_9999"] / df["households"] * 100

In [ ]:
df["pct_0_9999"] = pct_0_9999

In [ ]:
pct_10000_24999 = df["10000_24999"] / df["households"] * 100

In [ ]:
###df["households"] / df[""] * 100

In [ ]:
df["pct_10000_24999"] = pct_10000_24999

In [ ]:
pct_25000_39999 = df["25000_39999"] / df["households"] * 100

In [ ]:
df["pct_25000_39999"] = pct_25000_39999

In [ ]:
pct_40000_59999 = df["40000_59999"] / df["households"] * 100

In [ ]:
df["pct_40000_59999"] = pct_40000_59999

In [ ]:
pct_60000_99999 = df["60000_99999"] / df["households"] * 100

In [ ]:
df["pct_60000_99999"] = pct_60000_99999

In [ ]:
pct_100000_149999 = df["100000_149999"] / df["households"] * 100

In [ ]:
df["pct_100000_149999"] = pct_100000_149999

In [ ]:
pct_150000_199999 = df["150000_199999"] / df["households"] * 100

In [ ]:
df["pct_150000_199999"] = pct_150000_199999

In [ ]:
pct_200000_more = df["200000_more"] / df["households"] * 100

In [ ]:
df["pct_200000_more"] = pct_200000_more

### Find median income percentage for each tract, create column

In [ ]:
###pct_columns = df[
###'households'
###].mean("pct_0_9999",
###"pct_10000_24999", "pct_25000_39999", "pct_40000_59999", "pct_60000_99999", "pct_100000_149999", "pct_150000_199999",
###"pct_200000_more")

In [ ]:
###pct_columns_mean = df[pct_columns].mean()

In [ ]:
###df["pct_columns_mean"] = pct_columns_mean

### Limit number of columns used to clean up for Datawrapper (exclude error margins, non-condensed columns)

In [ ]:
income_df = df[
    [
        "statefp10",
        "countyfp10",
        "tractce10",
        "geoid10",
        "name10",
        "namelsad10",
        "mtfcc10",
        "funcstat10",
        "aland10",
        "awater10",
        "intptlat10",
        "intptlon10",
        "geo_id",
        "state",
        "county_left",
        "tract",
        "name_left",
        "households",
        "pct_0_9999",
        "pct_10000_24999",
        "pct_25000_39999",
        "pct_40000_59999",
        "pct_60000_99999",
        "pct_100000_149999",
        "pct_150000_199999",
        "pct_200000_more",
        "max_income",
    ]
]

### Check .info() to make sure column limit worked and test a census tract to see if numbers look right

In [ ]:
income_df.info()

In [ ]:
income_df[income_df["tractce10"] == 207502]

### Export

In [ ]:
income_df.to_csv("income_downtown_tracts_graceswork.csv")

In [ ]:
census_downtown_tract_df.to_csv("census_data_tracts_df.csv")