# Data from HTML tables: L.A. County covid cases

In [16]:
%load_ext lab_black
import pandas as pd

#### L.A. County COVID cases, deaths by community

In [17]:
url = "http://publichealth.lacounty.gov/media/Coronavirus/locations.htm"

#### Read the "CITY/COMMUNITY" cases table into a dataframe

In [18]:
covid = pd.read_html(url)[1]
covid

                      CITY/COMMUNITY**  Cases  Case Rate1  Deaths  Death Rate2
0                 City of Agoura Hills   4094     19604.0      22        105.0
1                     City of Alhambra  16498     19024.0     249        287.0
2                      City of Arcadia   7869     13625.0     163        282.0
3                      City of Artesia   4109     24466.0      88        524.0
4                       City of Avalon     62      1602.0       0          0.0
..                                 ...    ...         ...     ...          ...
337          Unincorporated - Whittier    724     19133.0      10        264.0
338  Unincorporated - Whittier Narrows     64    533333.0       1       8333.0
339       Unincorporated - Willowbrook  13618     39006.0     128        367.0
340          Unincorporated - Wiseburn   1398     23196.0      14        232.0
341              - Under Investigation  67825         NaN     105          NaN

[342 rows x 5 columns]

#### Define cleaner column names

In [19]:
covid.columns = covid.columns.str.lower()
covid

                      city/community**  cases  case rate1  deaths  death rate2
0                 City of Agoura Hills   4094     19604.0      22        105.0
1                     City of Alhambra  16498     19024.0     249        287.0
2                      City of Arcadia   7869     13625.0     163        282.0
3                      City of Artesia   4109     24466.0      88        524.0
4                       City of Avalon     62      1602.0       0          0.0
..                                 ...    ...         ...     ...          ...
337          Unincorporated - Whittier    724     19133.0      10        264.0
338  Unincorporated - Whittier Narrows     64    533333.0       1       8333.0
339       Unincorporated - Willowbrook  13618     39006.0     128        367.0
340          Unincorporated - Wiseburn   1398     23196.0      14        232.0
341              - Under Investigation  67825         NaN     105          NaN

[342 rows x 5 columns]

In [35]:
covid.columns = (
    covid.columns.str.lower()
    .str.replace("/", "_", regex=False)
    .str.replace("*", "", regex=False)
    .str.replace("1", "", regex=False)
    .str.replace("2", "", regex=False)
    .str.replace(" ", "_", regex=False)
)

covid.head()

         city_community  cases  case_rate  deaths  death_rate
0  City of Agoura Hills   4094    19604.0      22       105.0
1      City of Alhambra  16498    19024.0     249       287.0
2       City of Arcadia   7869    13625.0     163       282.0
3       City of Artesia   4109    24466.0      88       524.0
4        City of Avalon     62     1602.0       0         0.0

---

#### How many deaths in Los Angeles - Del Rey? Encino?

In [36]:
covid[covid["city_community"].str.contains("Los Angeles - Del Rey")]

            city_community  cases  case_rate  deaths  death_rate
112  Los Angeles - Del Rey   5857    19565.0      42       140.0

In [37]:
covid[covid["city_community"].str.contains("Los Angeles - Encino")]

           city_community  cases  case_rate  deaths  death_rate
120  Los Angeles - Encino  10075    22304.0      87       193.0

#### How many cases in places outside Los Angeles? [Hint](https://www.google.com/search?q=Python+pandas+string+does+not+contain&oq=Python+pandas+string+does+not+contain)

In [38]:
case = covid[covid["city_community"].str.contains("Los Angeles") == False]
case["cases"].sum()

1454948

#### Which cities and neighborhoods with more than 10,000 cases have the highest rates?

In [39]:
covid[covid["cases"] > 10000].sort_values("case_rate", ascending=False)

                        city_community  cases  case_rate  deaths  death_rate
220  Los Angeles - Wholesale District*  16161    44731.0     134       371.0
66                City of San Fernando  10368    42126.0      80       325.0
113            Los Angeles - Downtown*  11540    41953.0      65       236.0
166              Los Angeles - Pacoima  31883    41418.0     279       362.0
208       Los Angeles - Vernon Central  21536    41417.0     194       373.0
..                                 ...    ...        ...     ...         ...
1                     City of Alhambra  16498    19024.0     249       287.0
53               City of Monterey Park  11230    18037.0     229       368.0
71                City of Santa Monica  16592    17948.0     224       242.0
78                    City of Torrance  22394    15003.0     295       198.0
341              - Under Investigation  67825        NaN     105         NaN

[89 rows x 5 columns]

---

#### Bonus: Create a true/false column for Los Angeles

#### Bonus: Were there more cases in the county vs. the city of Los Angeles?

You would count true or false

In [44]:
df.[df['is_la'] == True]['cases'].sum()

SyntaxError: invalid syntax (557432371.py, line 1)

ERROR:root:Cannot parse: 1:3: df.[df['is_la'] == True]['cases'].sum()
Traceback (most recent call last):
  File "/Users/isabellazavarise/opt/anaconda3/lib/python3.9/site-packages/lab_black.py", line 218, in format_cell
    formatted_code = _format_code(cell)
  File "/Users/isabellazavarise/opt/anaconda3/lib/python3.9/site-packages/lab_black.py", line 29, in _format_code
    return format_str(src_contents=code, mode=FileMode())
  File "/Users/isabellazavarise/opt/anaconda3/lib/python3.9/site-packages/black.py", line 725, in format_str
    src_node = lib2to3_parse(src_contents.lstrip(), mode.target_versions)
  File "/Users/isabellazavarise/opt/anaconda3/lib/python3.9/site-packages/black.py", line 836, in lib2to3_parse
    raise exc from None
black.InvalidInput: Cannot parse: 1:3: df.[df['is_la'] == True]['cases'].sum()

In [45]:
df.[df['is_la'] == False]['cases'].sum()

SyntaxError: invalid syntax (3411781203.py, line 1)

ERROR:root:Cannot parse: 1:3: df.[df['is_la'] == False]['cases'].sum()
Traceback (most recent call last):
  File "/Users/isabellazavarise/opt/anaconda3/lib/python3.9/site-packages/lab_black.py", line 218, in format_cell
    formatted_code = _format_code(cell)
  File "/Users/isabellazavarise/opt/anaconda3/lib/python3.9/site-packages/lab_black.py", line 29, in _format_code
    return format_str(src_contents=code, mode=FileMode())
  File "/Users/isabellazavarise/opt/anaconda3/lib/python3.9/site-packages/black.py", line 725, in format_str
    src_node = lib2to3_parse(src_contents.lstrip(), mode.target_versions)
  File "/Users/isabellazavarise/opt/anaconda3/lib/python3.9/site-packages/black.py", line 836, in lib2to3_parse
    raise exc from None
black.InvalidInput: Cannot parse: 1:3: df.[df['is_la'] == False]['cases'].sum()

#### Discussion: How would you determine whether there were disproportionately more cases in the county?