Assignment 3

#### Load our Python tools

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/stiles/usc/main/data/raw/demolition_permit.csv')

### what does the data look like

In [6]:
df.head()

,assessor book,assessor page,assessor parcel,tract,block,lot,reference # (old permit #),pcis permit #,status,status date,...,applicant last name,applicant business name,applicant address 1,applicant address 2,applicant address 3,zone,occupancy,floor area-l.a. building code definition,census tract,latitude/longitude
0,4286,14,25,OCEAN PARK PLACE,NaN,54,18WL90365,18019-30000-00302,Permit Finaled,10/30/2020 12:00:00 AM,...,MAALOUF,NaN,NaN,NaN,NaN,RD1.5-1,NaN,-360.0,2734.02,"(33.9924, -118.47526)"
1,5054,16,14,WEST ADAMS STREET TRACT,NaN,34,20LA42698,19019-30000-06037,Permit Finaled,10/30/2020 12:00:00 AM,...,GENCHEWA,NaN,8416 HAROLD WAY,NaN,LOS ANGELES CA,RD1.5-1-O-HPOZ,NaN,-384.0,2222.00,"(34.03157, -118.29609)"
2,4316,16,16,TR 15593,NaN,111,20WL04473,20019-30000-00183,Issued,01/13/2020 12:00:00 AM,...,BIBAWI,NaN,NaN,NaN,NaN,R1V2,NaN,-2638.0,2690.00,"(34.03481, -118.40391)"
3,4249,18,9,TR 13371,NaN,154,20WL06439,20019-30000-03251,Permit Finaled,10/30/2020 12:00:00 AM,...,REES,NaN,NaN,NaN,NaN,R1V2,NaN,-2597.0,2719.02,"(34.01355, -118.43075)"
4,4265,21,15,SAN VICENTE PARK,5,15,19WL02462,19019-30000-04653,Permit Finaled,01/15/2020 12:00:00 AM,...,BROWN,NaN,NaN,NaN,NaN,R1-1,NaN,-400.0,2643.02,"(34.04858, -118.46933)"

In [5]:
df.columns=df.columns.str.lower()

Count the number of rows in your data with len()

### How many demolition permits were there?

In [15]:
len(df)

3044

Sort your data with sort_values()

### Who has submitted the most applications?

In [17]:
df.sort_values('applicant last name', ascending=False).head()

,assessor book,assessor page,assessor parcel,tract,block,lot,reference # (old permit #),pcis permit #,status,status date,...,applicant last name,applicant business name,applicant address 1,applicant address 2,applicant address 3,zone,occupancy,floor area-l.a. building code definition,census tract,latitude/longitude
560,4423,12,5,TR 9300,50,5,13WL55321,13019-30000-03210,Permit Finaled,01/21/2014 12:00:00 AM,...,levy,SOCAL CONSTRUCTION MANAGEMENT,2129 S. BURNSIDE AVE.,NaN,"LA, CA",R1-1,NaN,-1794.0,2625.01,"(34.0479, -118.52113)"
1076,4242,4,11,TR 6609,NaN,20,13WL54827,13019-30000-02854,Permit Finaled,05/27/2015 12:00:00 AM,...,ZUNREVER,NaN,1735 GOLDEN GATE AVE,NaN,"LOS ANGELES, CA",R1-1VLD,NaN,-200.0,2737.00,"(33.99722, -118.45475)"
60,5534,15,4,GRIDER AND HAMILTONS HOLLYWOOD TRACT,NaN,314,20WL05061,18019-30000-04731,Issued,02/06/2020 12:00:00 AM,...,ZOHN,NaN,9619 NATIONAL BLVD,NaN,"LOS ANGELES, CA",R3-1,NaN,-1728.0,1909.02,NaN
57,5534,15,4,GRIDER AND HAMILTONS HOLLYWOOD TRACT,NaN,314,20WL05062,18019-30000-04730,Issued,02/06/2020 12:00:00 AM,...,ZOHN,NaN,9619 NATIONAL BLVD,NaN,"LOS ANGELES, CA",R3-1,NaN,-1000.0,1909.02,"(34.09405, -118.32132)"
54,5534,15,4,GRIDER AND HAMILTONS HOLLYWOOD TRACT,NaN,314,20WL05060,18019-30000-04732,Issued,02/06/2020 12:00:00 AM,...,ZOHN,NaN,9619 NATIONAL BLVD,NaN,"LOS ANGELES, CA",R3-1,NaN,-400.0,1909.02,"(34.09405, -118.32132)"

Count values on a column using value_counts('')

In [30]:
### How many permits were issued?

In [26]:
df.value_counts('status')

status
Permit Finaled        2579
Issued                 381
Permit Expired          62
Refund Completed        15
Refund in Progress       3
Intent to Revoke         1
Permit Closed            1
Permit Withdrawn         1
Re-Activate Permit       1
dtype: int64

In [ ]:
Explore distributions with describe()

In [31]:
df.describe().round()

,assessor book,assessor page,assessor parcel,project number,event code,address start,address end,zip code,valuation,floor area-l.a. zoning code definition,# of residential dwelling units,# of stories,license #,floor area-l.a. building code definition,census tract
count,3044.0,3044.0,3044.0,0.0,0.0,3044.0,3044.0,3044.0,3044.0,1658.0,2144.0,1436.0,3044.0,3042.0,3044.0
mean,4512.0,15.0,18.0,NaN,NaN,4196.0,4196.0,90178.0,7050.0,-22.0,-1.0,-0.0,488007.0,-1793.0,2429.0
std,804.0,9.0,21.0,NaN,NaN,4355.0,4355.0,348.0,7148.0,221.0,0.0,0.0,443953.0,1721.0,442.0
min,2039.0,1.0,1.0,NaN,NaN,1.0,1.0,90001.0,0.0,-5482.0,-8.0,-3.0,0.0,-29022.0,1011.0
25%,4247.0,7.0,8.0,NaN,NaN,970.0,970.0,90035.0,3000.0,0.0,-1.0,0.0,0.0,-2362.0,2148.0
50%,4332.0,14.0,15.0,NaN,NaN,2322.0,2322.0,90049.0,5000.0,0.0,-1.0,0.0,573067.0,-1500.0,2627.0
75%,5065.0,22.0,24.0,NaN,NaN,6220.0,6220.0,90077.0,9930.0,0.0,-1.0,0.0,940886.0,-500.0,2712.0
max,7560.0,44.0,900.0,NaN,NaN,24706.0,24706.0,91607.0,110000.0,0.0,0.0,2.0,1078107.0,-2.0,9304.0

In [34]:
df['status'].max()

'Refund in Progress'

In [35]:
df['status'].min()

'Intent to Revoke'

In [54]:
valuation_df = df[df['valuation'] > 25000]