Assignment 3

#### Load our Python tools

In [157]:
import pandas as pd

In [158]:
df = pd.read_csv('https://raw.githubusercontent.com/stiles/usc/main/data/raw/demolition_permit.csv')

### what does the data look like

In [159]:
df.head()

,Assessor Book,Assessor Page,Assessor Parcel,Tract,Block,Lot,Reference # (Old Permit #),PCIS Permit #,Status,Status Date,...,Applicant Last Name,Applicant Business Name,Applicant Address 1,Applicant Address 2,Applicant Address 3,Zone,Occupancy,Floor Area-L.A. Building Code Definition,Census Tract,Latitude/Longitude
0,4286,14,25,OCEAN PARK PLACE,NaN,54,18WL90365,18019-30000-00302,Permit Finaled,10/30/2020 12:00:00 AM,...,MAALOUF,NaN,NaN,NaN,NaN,RD1.5-1,NaN,-360.0,2734.02,"(33.9924, -118.47526)"
1,5054,16,14,WEST ADAMS STREET TRACT,NaN,34,20LA42698,19019-30000-06037,Permit Finaled,10/30/2020 12:00:00 AM,...,GENCHEWA,NaN,8416 HAROLD WAY,NaN,LOS ANGELES CA,RD1.5-1-O-HPOZ,NaN,-384.0,2222.00,"(34.03157, -118.29609)"
2,4316,16,16,TR 15593,NaN,111,20WL04473,20019-30000-00183,Issued,01/13/2020 12:00:00 AM,...,BIBAWI,NaN,NaN,NaN,NaN,R1V2,NaN,-2638.0,2690.00,"(34.03481, -118.40391)"
3,4249,18,9,TR 13371,NaN,154,20WL06439,20019-30000-03251,Permit Finaled,10/30/2020 12:00:00 AM,...,REES,NaN,NaN,NaN,NaN,R1V2,NaN,-2597.0,2719.02,"(34.01355, -118.43075)"
4,4265,21,15,SAN VICENTE PARK,5,15,19WL02462,19019-30000-04653,Permit Finaled,01/15/2020 12:00:00 AM,...,BROWN,NaN,NaN,NaN,NaN,R1-1,NaN,-400.0,2643.02,"(34.04858, -118.46933)"

In [160]:
df.columns=df.columns.str.lower()

Count the number of rows in your data with len()

### How many demolition permits were there?

In [161]:
len(df)

3044

Sort your data with sort_values()

### Sort by applicant last name

In [162]:
df.sort_values('applicant last name', ascending=False).head()

,assessor book,assessor page,assessor parcel,tract,block,lot,reference # (old permit #),pcis permit #,status,status date,...,applicant last name,applicant business name,applicant address 1,applicant address 2,applicant address 3,zone,occupancy,floor area-l.a. building code definition,census tract,latitude/longitude
560,4423,12,5,TR 9300,50,5,13WL55321,13019-30000-03210,Permit Finaled,01/21/2014 12:00:00 AM,...,levy,SOCAL CONSTRUCTION MANAGEMENT,2129 S. BURNSIDE AVE.,NaN,"LA, CA",R1-1,NaN,-1794.0,2625.01,"(34.0479, -118.52113)"
1076,4242,4,11,TR 6609,NaN,20,13WL54827,13019-30000-02854,Permit Finaled,05/27/2015 12:00:00 AM,...,ZUNREVER,NaN,1735 GOLDEN GATE AVE,NaN,"LOS ANGELES, CA",R1-1VLD,NaN,-200.0,2737.00,"(33.99722, -118.45475)"
60,5534,15,4,GRIDER AND HAMILTONS HOLLYWOOD TRACT,NaN,314,20WL05061,18019-30000-04731,Issued,02/06/2020 12:00:00 AM,...,ZOHN,NaN,9619 NATIONAL BLVD,NaN,"LOS ANGELES, CA",R3-1,NaN,-1728.0,1909.02,NaN
57,5534,15,4,GRIDER AND HAMILTONS HOLLYWOOD TRACT,NaN,314,20WL05062,18019-30000-04730,Issued,02/06/2020 12:00:00 AM,...,ZOHN,NaN,9619 NATIONAL BLVD,NaN,"LOS ANGELES, CA",R3-1,NaN,-1000.0,1909.02,"(34.09405, -118.32132)"
54,5534,15,4,GRIDER AND HAMILTONS HOLLYWOOD TRACT,NaN,314,20WL05060,18019-30000-04732,Issued,02/06/2020 12:00:00 AM,...,ZOHN,NaN,9619 NATIONAL BLVD,NaN,"LOS ANGELES, CA",R3-1,NaN,-400.0,1909.02,"(34.09405, -118.32132)"

Count values on a column using value_counts('')

### How many permits were issued?

In [163]:
df.value_counts('status')

status
Permit Finaled        2579
Issued                 381
Permit Expired          62
Refund Completed        15
Refund in Progress       3
Intent to Revoke         1
Permit Closed            1
Permit Withdrawn         1
Re-Activate Permit       1
dtype: int64

In [164]:
df.describe().round()

,assessor book,assessor page,assessor parcel,project number,event code,address start,address end,zip code,valuation,floor area-l.a. zoning code definition,# of residential dwelling units,# of stories,license #,floor area-l.a. building code definition,census tract
count,3044.0,3044.0,3044.0,0.0,0.0,3044.0,3044.0,3044.0,3044.0,1658.0,2144.0,1436.0,3044.0,3042.0,3044.0
mean,4512.0,15.0,18.0,NaN,NaN,4196.0,4196.0,90178.0,7050.0,-22.0,-1.0,-0.0,488007.0,-1793.0,2429.0
std,804.0,9.0,21.0,NaN,NaN,4355.0,4355.0,348.0,7148.0,221.0,0.0,0.0,443953.0,1721.0,442.0
min,2039.0,1.0,1.0,NaN,NaN,1.0,1.0,90001.0,0.0,-5482.0,-8.0,-3.0,0.0,-29022.0,1011.0
25%,4247.0,7.0,8.0,NaN,NaN,970.0,970.0,90035.0,3000.0,0.0,-1.0,0.0,0.0,-2362.0,2148.0
50%,4332.0,14.0,15.0,NaN,NaN,2322.0,2322.0,90049.0,5000.0,0.0,-1.0,0.0,573067.0,-1500.0,2627.0
75%,5065.0,22.0,24.0,NaN,NaN,6220.0,6220.0,90077.0,9930.0,0.0,-1.0,0.0,940886.0,-500.0,2712.0
max,7560.0,44.0,900.0,NaN,NaN,24706.0,24706.0,91607.0,110000.0,0.0,0.0,2.0,1078107.0,-2.0,9304.0

### What are the highest and lowest property valuations?

In [165]:
df['valuation'].max()

110000.0

In [166]:
df['valuation'].min()

0.0

### How many demolition permits were given for properties valued at over $25,000?

In [167]:
valuation_df.head()

,assessor book,assessor page,assessor parcel,tract,block,lot,reference # (old permit #),pcis permit #,status,status date,...,applicant last name,applicant business name,applicant address 1,applicant address 2,applicant address 3,zone,occupancy,floor area-l.a. building code definition,census tract,latitude/longitude
33,4425,20,1,THE RIVIERA,NaN,77,20ON 0100,20019-30000-01359,Permit Finaled,06/16/2020 12:00:00 AM,...,WADE,NaN,NaN,NaN,NaN,RE15-1-H,NaN,-4371.0,2624.00,"(34.05861, -118.50249)"
42,4366,32,22,TR 9924,6,24,17WL83249,17019-30000-03750,Permit Finaled,01/29/2020 12:00:00 AM,...,TAJ,NaN,NaN,NaN,NaN,R1-1,NaN,-3294.0,2654.20,"(34.06804, -118.45982)"
43,4357,11,7,TR 6774,NaN,18,18WL95391,18019-30000-02789,Refund Completed,06/22/2020 12:00:00 AM,...,KAINE,NaN,11150 W OLYMPIC BLVD #700,NaN,"LOS ANGELES, CA",RE40-1-H-HCR,NaN,-9202.0,2612.00,"(34.09397, -118.43534)"
136,4494,2,6,TR 28534,NaN,4,16WL76843,16019-30000-02218,Permit Finaled,03/07/2020 12:00:00 AM,...,TEIGER,NaN,8924 LINDBLADE ST.,NaN,"CULVER CITY, CA.",RA-1,NaN,-3784.0,2623.02,"(34.07323, -118.48051)"
163,4358,6,42,TR 10016,NaN,1,17LA79326,17019-30000-00237,Issued,03/23/2017 12:00:00 AM,...,NaN,NaN,NaN,NaN,NaN,RE40-1,R3 Occ. Group,-13009.0,2621.00,"(34.08252, -118.42398)"

In [168]:
len(valuation_df)

52

In [169]:
valuation_df = df[df['valuation'] > 25000]

In [173]:
df = pd.read_csv('data/raw/building_permits.csv', low_memory=False)

In [174]:
df.head()

,Assessor Book,Assessor Page,Assessor Parcel,Tract,Block,Lot,Reference # (Old Permit #),PCIS Permit #,Status,Status Date,...,Applicant Last Name,Applicant Business Name,Applicant Address 1,Applicant Address 2,Applicant Address 3,Zone,Occupancy,Floor Area-L.A. Building Code Definition,Census Tract,Latitude/Longitude
0,2354,016,056,TR 4295,NaN,225,NaN,13041-10000-24108,Permit Finaled,09/12/2013 12:00:00 AM,...,NaN,NaN,NaN,NaN,NaN,R1-1,NaN,0.0,1433.00,"(34.1559, -118.38389)"
1,5017,025,015,MILHOUSE VERMONT AVENUE TRACT,NaN,3,NaN,20041-10000-19010,Issued,06/10/2020 12:00:00 AM,...,MENDOZA,NaN,NaN,NaN,NaN,C2-1VL-CPIO,NaN,0.0,2323.00,"(33.99616, -118.29167)"
2,5478,017,040,TR 2596,NaN,99,NaN,19041-10000-34160,Permit Finaled,07/07/2020 12:00:00 AM,...,LEUNG,OWNER-BUILDER,NaN,NaN,NaN,R1-1,NaN,0.0,1835.10,"(34.11679, -118.20276)"
3,5153,026,004,"DAY, HINTON AND MATHES RESUBDIVISION OF LOTS 1...",NaN,4,NaN,21041-10000-92658,Issued,10/27/2021 12:00:00 AM,...,GRINBAUM,NaN,NaN,NaN,NaN,R3-1,NaN,0.0,2091.03,"(34.05879, -118.26377)"
4,4422,006,007,TR 9300,80,3,20WL05483,16030-30001-00598,Permit Finaled,06/17/2020 12:00:00 AM,...,TORRES,NaN,NaN,NaN,NaN,R1-1,NaN,NaN,2625.01,"(34.05319, -118.52005)"

In [176]:
df = df.rename(columns={"Lot":"lot"})

In [177]:
df.head()

,Assessor Book,Assessor Page,Assessor Parcel,Tract,Block,lot,Reference # (Old Permit #),PCIS Permit #,Status,Status Date,...,Applicant Last Name,Applicant Business Name,Applicant Address 1,Applicant Address 2,Applicant Address 3,Zone,Occupancy,Floor Area-L.A. Building Code Definition,Census Tract,Latitude/Longitude
0,2354,016,056,TR 4295,NaN,225,NaN,13041-10000-24108,Permit Finaled,09/12/2013 12:00:00 AM,...,NaN,NaN,NaN,NaN,NaN,R1-1,NaN,0.0,1433.00,"(34.1559, -118.38389)"
1,5017,025,015,MILHOUSE VERMONT AVENUE TRACT,NaN,3,NaN,20041-10000-19010,Issued,06/10/2020 12:00:00 AM,...,MENDOZA,NaN,NaN,NaN,NaN,C2-1VL-CPIO,NaN,0.0,2323.00,"(33.99616, -118.29167)"
2,5478,017,040,TR 2596,NaN,99,NaN,19041-10000-34160,Permit Finaled,07/07/2020 12:00:00 AM,...,LEUNG,OWNER-BUILDER,NaN,NaN,NaN,R1-1,NaN,0.0,1835.10,"(34.11679, -118.20276)"
3,5153,026,004,"DAY, HINTON AND MATHES RESUBDIVISION OF LOTS 1...",NaN,4,NaN,21041-10000-92658,Issued,10/27/2021 12:00:00 AM,...,GRINBAUM,NaN,NaN,NaN,NaN,R3-1,NaN,0.0,2091.03,"(34.05879, -118.26377)"
4,4422,006,007,TR 9300,80,3,20WL05483,16030-30001-00598,Permit Finaled,06/17/2020 12:00:00 AM,...,TORRES,NaN,NaN,NaN,NaN,R1-1,NaN,NaN,2625.01,"(34.05319, -118.52005)"

In [178]:
merge_df = pd.merge(valuation_df, df, on=["lot"])

In [180]:
merge_df

,assessor book,assessor page,assessor parcel,tract,block,lot,reference # (old permit #),pcis permit #,status,status date,...,Applicant Last Name,Applicant Business Name,Applicant Address 1,Applicant Address 2,Applicant Address 3,Zone,Occupancy,Floor Area-L.A. Building Code Definition,Census Tract,Latitude/Longitude
0,4425,20,1,THE RIVIERA,NaN,77,20ON 0100,20019-30000-01359,Permit Finaled,06/16/2020 12:00:00 AM,...,ALBA,NaN,3529 CONEJO ROAD,107,"NEWBURY PARK, CA",R1V2,NaN,0.0,2719.01,"(34.01485, -118.42635)"
1,4425,20,1,THE RIVIERA,NaN,77,20ON 0100,20019-30000-01359,Permit Finaled,06/16/2020 12:00:00 AM,...,KALASHYAN,NaN,12441 CHANDLER BLVD,NaN,"VALLEY VILLAGE, CA",RE11-1-H,NaN,NaN,1081.02,"(34.28625, -118.55748)"
2,4425,20,1,THE RIVIERA,NaN,77,20ON 0100,20019-30000-01359,Permit Finaled,06/16/2020 12:00:00 AM,...,NaN,NaN,NaN,NaN,NaN,R1-1,NaN,0.0,1210.20,"(34.21369, -118.4071)"
3,4425,20,1,THE RIVIERA,NaN,77,20ON 0100,20019-30000-01359,Permit Finaled,06/16/2020 12:00:00 AM,...,Sandoval,NaN,2000 Oak St. Suite 200,NaN,Bakersfield,RD1.5-1,NaN,0.0,2014.01,"(34.08468, -118.17898)"
4,4425,20,1,THE RIVIERA,NaN,77,20ON 0100,20019-30000-01359,Permit Finaled,06/16/2020 12:00:00 AM,...,SNIR,NaN,NaN,NaN,NaN,R1-1,NaN,NaN,2346.00,"(33.99245, -118.32566)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1036923,4214,15,21,TR 3842,H,81,22ON 6636,21019-30000-04590,Issued,01/03/2022 12:00:00 AM,...,SALCIDO,NaN,3042 EVELYN AVE,NaN,"ROSEMEAD, CA",RA-1-K,NaN,0.0,1066.43,"(34.28557, -118.5204)"
1036924,4214,15,21,TR 3842,H,81,22ON 6636,21019-30000-04590,Issued,01/03/2022 12:00:00 AM,...,LOPEZ,ORANGE FIRE,SAME AS CONTRACTOR,NaN,NaN,R1V2,NaN,0.0,2697.00,"(34.03619, -118.38994)"
1036925,4214,15,21,TR 3842,H,81,22ON 6636,21019-30000-04590,Issued,01/03/2022 12:00:00 AM,...,BREDT,NaN,SAME,NaN,NaN,R1-1,NaN,NaN,1438.00,"(34.13886, -118.38147)"
1036926,4214,15,21,TR 3842,H,81,22ON 6636,21019-30000-04590,Issued,01/03/2022 12:00:00 AM,...,GROVE,NaN,11280 CORBIN AV,NaN,"PORTER RANCH, CA",[T]RE-1,NaN,211.0,1082.02,"(34.29912, -118.58056)"
1036927,4214,15,21,TR 3842,H,81,22ON 6636,21019-30000-04590,Issued,01/03/2022 12:00:00 AM,...,BREDT,NaN,SAME,NaN,NaN,R1-1,NaN,NaN,1438.00,"(34.13886, -118.38147)"

Summary: