### Izzy's Groupby Assignment

### Load python tools

In [1]:
import pandas as pd

### Read dataset

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/stiles/usc/main/data/raw/imdb_1000.csv')

### What does the dataframe look like?

In [5]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [6]:
df.tail()

,star_rating,title,content_rating,genre,duration,actors_list
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

### How many movies?

In [7]:
len(df)

979

### Are longer films rated higher?

In [18]:
df.groupby(['duration'])['star_rating'].mean()

duration
64     8.00
66     8.00
67     8.10
68     8.25
69     7.60
       ...
220    7.90
224    8.30
229    8.40
238    8.20
242    7.80
Name: star_rating, Length: 133, dtype: float64

### What are some movies ranked higher than 7?

In [16]:
df[df['star_rating'] > 7]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

### How many movies for each genre?

In [28]:
df.groupby(['genre'])['content_rating'].count()

genre
Action       135
Adventure     74
Animation     62
Biography     76
Comedy       156
Crime        124
Drama        278
Family         2
Fantasy        1
Film-Noir      3
History        1
Horror        29
Mystery       16
Sci-Fi         5
Thriller       5
Western        9
Name: content_rating, dtype: int64

### How many movies are rated R?

In [35]:
len(df[df['content_rating'] == 'R'])

460

### What are the average movie times based on rating?

In [27]:
df.groupby(['duration']).mean().reset_index()

     duration  star_rating
0          64         8.00
1          66         8.00
2          67         8.10
3          68         8.25
4          69         7.60
..        ...          ...
128       220         7.90
129       224         8.30
130       229         8.40
131       238         8.20
132       242         7.80

[133 rows x 2 columns]

### Are highter rated films longer?

In [34]:
df.groupby(['star_rating'])['duration'].mean()

star_rating
7.4    113.530612
7.5    116.194444
7.6    117.322581
7.7    118.265487
7.8    118.767241
7.9    119.120000
8.0    120.814433
8.1    120.000000
8.2    126.470588
8.3    132.162791
8.4    130.486486
8.5    135.217391
8.6    117.533333
8.7    140.500000
8.8    154.200000
8.9    157.666667
9.0    152.000000
9.1    200.000000
9.2    175.000000
9.3    142.000000
Name: duration, dtype: float64