In [1]:
import pandas as pd
import altair as alt

In [2]:
%load_ext lab_black
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

In [3]:
drinks_df = pd.read_csv("https://bit.ly/drinksbycountry")
drinks_df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [40]:
continent_groups_pure_alcohol = (
    drinks_df.groupby(["continent"])["total_litres_of_pure_alcohol"].sum().reset_index()
)

In [41]:
continent_groups_pure_alcohol

       continent  total_litres_of_pure_alcohol
0         Africa                         159.4
1           Asia                          95.5
2         Europe                         387.8
3  North America                         137.9
4        Oceania                          54.1
5  South America                          75.7

continent_groups_pure_alcohol = continent_groups_beer = drinks_df.groupby(
    ["continent"]
)["total_litres_of_pure_alcohol"].mean()

In [21]:
plot_df = drinks_df.groupby("continent").agg("sum").reset_index()

In [22]:
plot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   continent                     6 non-null      object
 1   beer_servings                 6 non-null      int64
 2   spirit_servings               6 non-null      int64
 3   wine_servings                 6 non-null      int64
 4   total_litres_of_pure_alcohol  6 non-null      float64
dtypes: float64(1), int64(3), object(1)
memory usage: 368.0+ bytes

alt.Chart(plot_df).mark_bar(color="purple", size=13).encode(
    x=alt.X("Acres:Q", title="country"),
    y=alt.Y("species:N", title="total_litres_of_pure_alcohol", sort="-x"),
).properties(
    width=700, height=450, title="Total Litres of Pure Alcohol Consumed Per Country"
)

In [14]:
all_drinks = drinks_df.groupby(["continent"]).mean().reset_index()

In [26]:
all_drinks

,continent,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Africa,61.471698,16.339623,16.264151,3.007547
1,Asia,37.045455,60.840909,9.068182,2.170455
2,Europe,193.777778,132.555556,142.222222,8.617778
3,North America,145.434783,165.739130,24.521739,5.995652
4,Oceania,89.687500,58.437500,35.625000,3.381250
5,South America,175.083333,114.750000,62.416667,6.308333

alt.Chart(plot_df).mark_bar(color="purple", size=13).encode(
    x=alt.X("continent:Q", title="Continent"),
    y=alt.Y(
        "total_litres_of_pure_alcohol:N",
        title="Total Litres of Pure Alcohol",
        sort="-x",
    ),
).properties(width=700, height=450, title="Total Litres of Pure Alcohol per Continent")

In [31]:
continent_groups_pure_alcohol

continent
Africa           3.007547
Asia             2.170455
Europe           8.617778
North America    5.995652
Oceania          3.381250
South America    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

In [43]:
bars = (
    alt.Chart(continent_groups_pure_alcohol)
    .mark_bar()
    .encode(x="total_litres_of_pure_alcohol:Q", y="continent:N")
)

text = bars.mark_text(
    align="left",
    baseline="middle",
    dx=3,  # Nudges text to right so it doesn't appear on top of the bar
).encode(text="total_litres_of_pure_alcohol:Q")

(bars + text).properties(height=200, title="Total Litres of Pure Alcohol by Continent")

alt.LayerChart(...)