In [1]:
%load_ext lab_black

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("income_tracts_in_around_downtown.csv")

In [4]:
df.head()

,statefp10,countyfp10,tractce10,geoid10,name10,namelsad10,mtfcc10,funcstat10,aland10,awater10,...,125000_149999_error,150000_199999_error,200000_more_error,index_right,name_right,slug,county_right,type,city,region
0,6,37,207502,6037207502,2075.02,Census Tract 2075.02,G5020,S,418373,0,...,60.0,85.0,69.0,53,Downtown,downtown,los-angeles,Los Angeles,los-angeles,central-la
1,6,37,207301,6037207301,2073.01,Census Tract 2073.01,G5020,S,430089,0,...,135.0,157.0,106.0,53,Downtown,downtown,los-angeles,Los Angeles,los-angeles,central-la
2,6,37,207501,6037207501,2075.01,Census Tract 2075.01,G5020,S,134326,0,...,52.0,43.0,65.0,53,Downtown,downtown,los-angeles,Los Angeles,los-angeles,central-la
3,6,37,207302,6037207302,2073.02,Census Tract 2073.02,G5020,S,256159,0,...,134.0,92.0,137.0,53,Downtown,downtown,los-angeles,Los Angeles,los-angeles,central-la
4,6,37,207710,6037207710,2077.10,Census Tract 2077.10,G5020,S,1101544,0,...,53.0,179.0,161.0,53,Downtown,downtown,los-angeles,Los Angeles,los-angeles,central-la

In [5]:
sum_10000_24999 = df["10000_14999"] + df["15000_19999"] + df["20000_24999"]

In [6]:
df["10000_24999"] = sum_10000_24999

In [7]:
sum_25000_39999 = df["25000_29999"] + df["30000_34999"] + df["35000_39999"]

In [8]:
df["25000_39999"] = sum_25000_39999

In [9]:
sum_40000_59999 = df["40000_44999"] + df["45000_49999"] + df["50000_59999"]

In [10]:
df["40000_59999"] = sum_40000_59999

In [11]:
sum_60000_99999 = df["60000_74999"] + df["75000_99999"]

In [12]:
df["60000_99999"] = sum_60000_99999

In [13]:
sum_100000_149999 = df["100000_124999"] + df["125000_149999"]

In [14]:
df["100000_149999"] = sum_100000_149999

In [15]:
###df[''] + df[''] + df['']

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 63 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   statefp10            28 non-null     int64
 1   countyfp10           28 non-null     int64
 2   tractce10            28 non-null     int64
 3   geoid10              28 non-null     int64
 4   name10               28 non-null     float64
 5   namelsad10           28 non-null     object
 6   mtfcc10              28 non-null     object
 7   funcstat10           28 non-null     object
 8   aland10              28 non-null     int64
 9   awater10             28 non-null     int64
 10  intptlat10           28 non-null     float64
 11  intptlon10           28 non-null     float64
 12  geo_id               28 non-null     object
 13  state                28 non-null     int64
 14  county_left          28 non-null     int64
 15  tract                28 non-null     int64
 16  name_left            28 non-null     object
 17  households           28 non-null     float64
 18  0_9999               28 non-null     float64
 19  10000_14999          28 non-null     float64
 20  15000_19999          28 non-null     float64
 21  20000_24999          28 non-null     float64
 22  25000_29999          28 non-null     float64
 23  30000_34999          28 non-null     float64
 24  35000_39999          28 non-null     float64
 25  40000_44999          28 non-null     float64
 26  45000_49999          28 non-null     float64
 27  50000_59999          28 non-null     float64
 28  60000_74999          28 non-null     float64
 29  75000_99999          28 non-null     float64
 30  100000_124999        28 non-null     float64
 31  125000_149999        28 non-null     float64
 32  150000_199999        28 non-null     float64
 33  200000_more          28 non-null     float64
 34  households_error     28 non-null     float64
 35  0_9999_error         28 non-null     float64
 36  10000_14999_error    28 non-null     float64
 37  15000_19999_error    28 non-null     float64
 38  20000_24999_error    28 non-null     float64
 39  25000_29999_error    28 non-null     float64
 40  30000_34999_error    28 non-null     float64
 41  35000_39999_error    28 non-null     float64
 42  40000_44999_error    28 non-null     float64
 43  45000_49999_error    28 non-null     float64
 44  50000_59999_error    28 non-null     float64
 45  60000_74999_error    28 non-null     float64
 46  75000_99999_error    28 non-null     float64
 47  100000_124999_error  28 non-null     float64
 48  125000_149999_error  28 non-null     float64
 49  150000_199999_error  28 non-null     float64
 50  200000_more_error    28 non-null     float64
 51  index_right          28 non-null     int64
 52  name_right           28 non-null     object
 53  slug                 28 non-null     object
 54  county_right         28 non-null     object
 55  type                 28 non-null     object
 56  city                 28 non-null     object
 57  region               28 non-null     object
 58  10000_24999          28 non-null     float64
 59  25000_39999          28 non-null     float64
 60  40000_59999          28 non-null     float64
 61  60000_99999          28 non-null     float64
 62  100000_149999        28 non-null     float64
dtypes: float64(42), int64(10), object(11)
memory usage: 13.9+ KB

In [41]:
pct_10000_24999 = df["10000_24999"] / df["households"] * 100

In [19]:
###df["households"] / df[""] * 100

In [42]:
df["pct_10000_24999"] = pct_10000_24999

In [43]:
pct_25000_39999 = df["25000_39999"] / df["households"] * 100

In [44]:
df["pct_25000_39999"] = pct_25000_39999

In [45]:
pct_40000_59999 = df["40000_59999"] / df["households"] * 100

In [46]:
df["pct_40000_59999"] = pct_40000_59999

In [47]:
pct_60000_99999 = df["60000_99999"] / df["households"] * 100

In [48]:
df["pct_60000_99999"] = pct_60000_99999

In [50]:
pct_100000_149999 = df["100000_149999"] / df["households"] * 100

In [51]:
df["pct_100000_149999"] = pct_100000_149999

In [52]:
pct_150000_199999 = df["150000_199999"] / df["households"] * 100

In [53]:
df["pct_150000_199999"] = pct_150000_199999

In [54]:
pct_200000_more = df["200000_more"] / df["households"] * 100

In [55]:
df["pct_200000_more"] = pct_200000_more

In [56]:
income_df = df[
    [
        "statefp10",
        "countyfp10",
        "tractce10",
        "geoid10",
        "name10",
        "namelsad10",
        "mtfcc10",
        "funcstat10",
        "aland10",
        "awater10",
        "intptlat10",
        "intptlon10",
        "geo_id",
        "state",
        "county_left",
        "tract",
        "name_left",
        "households",
        "pct_10000_24999",
        "pct_25000_39999",
        "pct_40000_59999",
        "pct_60000_99999",
        "pct_100000_149999",
        "pct_150000_199999",
        "pct_200000_more",
    ]
]

In [57]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   statefp10          28 non-null     int64
 1   countyfp10         28 non-null     int64
 2   tractce10          28 non-null     int64
 3   geoid10            28 non-null     int64
 4   name10             28 non-null     float64
 5   namelsad10         28 non-null     object
 6   mtfcc10            28 non-null     object
 7   funcstat10         28 non-null     object
 8   aland10            28 non-null     int64
 9   awater10           28 non-null     int64
 10  intptlat10         28 non-null     float64
 11  intptlon10         28 non-null     float64
 12  geo_id             28 non-null     object
 13  state              28 non-null     int64
 14  county_left        28 non-null     int64
 15  tract              28 non-null     int64
 16  name_left          28 non-null     object
 17  households         28 non-null     float64
 18  pct_10000_24999    28 non-null     float64
 19  pct_25000_39999    28 non-null     float64
 20  pct_40000_59999    28 non-null     float64
 21  pct_60000_99999    28 non-null     float64
 22  pct_100000_149999  28 non-null     float64
 23  pct_150000_199999  28 non-null     float64
 24  pct_200000_more    28 non-null     float64
dtypes: float64(11), int64(9), object(5)
memory usage: 5.6+ KB

In [58]:
income_df[income_df["tractce10"] == 207502]

,statefp10,countyfp10,tractce10,geoid10,name10,namelsad10,mtfcc10,funcstat10,aland10,awater10,...,tract,name_left,households,pct_10000_24999,pct_25000_39999,pct_40000_59999,pct_60000_99999,pct_100000_149999,pct_150000_199999,pct_200000_more
0,6,37,207502,6037207502,2075.02,Census Tract 2075.02,G5020,S,418373,0,...,207502,"Census Tract 2075.02, Los Angeles County, Cali...",2196.0,44.626594,4.644809,1.684882,11.338798,8.652095,7.604736,8.242259