In [1]:
import pandas as pd

In [2]:
desert_df= pd.read_csv('data/Food_Desert_2015.csv')

In [3]:
desert_df = desert_df[['year','county_name', 'state_name', 'state_abbr', 'metro_nonmetro', 'desert_pop_2010', 'total_pop_2010']]

In [4]:
desert_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   year             3143 non-null   int64
 1   county_name      3143 non-null   object
 2   state_name       3143 non-null   object
 3   state_abbr       3143 non-null   object
 4   metro_nonmetro   3143 non-null   object
 5   desert_pop_2010  3143 non-null   int64
 6   total_pop_2010   3143 non-null   int64
dtypes: int64(3), object(4)
memory usage: 172.0+ KB

### Len

In [5]:
len(desert_df)

3143

### Sort values

In [6]:
desert_df.sort_values('desert_pop_2010', ascending=False).head(5)

,year,county_name,state_name,state_abbr,metro_nonmetro,desert_pop_2010,total_pop_2010
2623,2015,Harris County,Texas,TX,Metropolitan,1814695,4092459
103,2015,Maricopa County,Arizona,AZ,Metropolitan,1446218,3817117
204,2015,Los Angeles County,California,CA,Metropolitan,1356106,9818605
2742,2015,Tarrant County,Texas,TX,Metropolitan,1053133,1809034
218,2015,Riverside County,California,CA,Metropolitan,1025120,2189641

### Value counts

In [7]:
desert_df.value_counts('county_name').sum()

3143

In [8]:
desert_df[desert_df['desert_pop_2010'] > 40000].value_counts('state_name').head()

state_name
Texas             46
Florida           37
California        34
Georgia           32
North Carolina    29
dtype: int64

### Describe

In [9]:
desert_df.describe()

         year  desert_pop_2010  total_pop_2010
count  3143.0     3.143000e+03    3.143000e+03
mean   2015.0     4.132523e+04    9.823275e+04
std       0.0     1.036171e+05    3.129012e+05
min    2015.0     0.000000e+00    8.200000e+01
25%    2015.0     3.714000e+03    1.110450e+04
50%    2015.0     1.017100e+04    2.585700e+04
75%    2015.0     2.953850e+04    6.669900e+04
max    2015.0     1.814695e+06    9.818605e+06

### Create a data subset

In [10]:
desert_df['desert_pop_per100k'] = desert_df['desert_pop_2010']/desert_df['total_pop_2010']*100000

In [11]:
desert_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3143 entries, 0 to 3142
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                3143 non-null   int64
 1   county_name         3143 non-null   object
 2   state_name          3143 non-null   object
 3   state_abbr          3143 non-null   object
 4   metro_nonmetro      3143 non-null   object
 5   desert_pop_2010     3143 non-null   int64
 6   total_pop_2010      3143 non-null   int64
 7   desert_pop_per100k  3143 non-null   float64
dtypes: float64(1), int64(3), object(4)
memory usage: 196.6+ KB

### Merge two datasets

In [12]:
diabetes_df = pd.read_csv('data/DiabetesPrev.csv')

In [13]:
df_merged = pd.merge(desert_df, diabetes_df, left_on='county_name', right_on='metro_nonmetro')

In [16]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   year_x                             0 non-null      int64
 1   county_name_x                      0 non-null      object
 2   state_name_x                       0 non-null      object
 3   state_abbr_x                       0 non-null      object
 4   metro_nonmetro_x                   0 non-null      object
 5   desert_pop_2010                    0 non-null      int64
 6   total_pop_2010                     0 non-null      int64
 7   desert_pop_per100k                 0 non-null      float64
 8   year_y                             0 non-null      int64
 9   fips                               0 non-null      int64
 10  state_fips                         0 non-null      int64
 11  county_fips                        0 non-null      int64
 12  county_name_y                      0 non-null      object
 13  state_name_y                       0 non-null      object
 14  state_abbr_y                       0 non-null      object
 15  metro_nonmetro_y                   0 non-null      object
 16  diabetes_population_20_over        0 non-null      float64
 17  total_population_inferred_20_over  0 non-null      float64
dtypes: float64(3), int64(7), object(8)
memory usage: 0.0+ bytes

In [18]:
merged_100k = df_merged[df_merged['desert_pop_per100k'] > 90000]

In [ ]:
merged_100k[merged_100k['merged_100k'] > 6000].sort_values['cou']