# Rhysea's JOUR 561 Midterm Project

#### About:

In this project, I will explore datasets related to pollution, preventable hospitalizations, and primary care shortage areas in California. I am using these three datasets because I want to see if there is any link between pollution and preventable hospitalizations, and I want to connect the primary care shortage dataset just to see if there are any patterns (to see if any of these areas with high pollution levels/preventable deaths have a primary care shortage).

All of these datasets have been taken from the California Open Data Portal.

### Import python tools

In [149]:
%load_ext lab_black
import pandas as pd

The lab_black extension is already loaded. To reload it, use:
  %reload_ext lab_black

### PART I: Importing databases

#### Pollution Dataset

This dataset lists counties by name and census tract number (which I believe is unique) and gives a particular CES score for each county. CES Scores combine exposure indicators, environmental effects indicators, sensitive population indicators and socioeconomic factor indicators to give a singular scaled value that decides how polluted/sensitive to harm from pollution a census tract is. But it also has information on Ozone levels (ozone is actually a pollutant in the troposphere; not great to breathe it in and it should only belong in the stratosphere), particulate matter levels, poverty index, unemployment index, asthma index etc. While this dataset has a lot of information (and using the other datasets may sound redundant at the moment), I would still like to show off my merge skills and perhaps, garner some more informatiom along the way.

These data are from 2017.

In [150]:
## This is the pollution dataset
pollution = pd.read_csv(
    "https://data.ca.gov/dataset/ab4e1b38-df76-4397-b3cf-002fd16937c3/resource/6d6a9a5c-9221-4fc5-9b00-35015ae65837/download/calenviroscreen-final-report.csv"
)

In [151]:
pollution.head()

,Census Tract,Total Population,California County,Click for interactive map,CES 2.0 Score,CES 2.0 Percentile Range,Hyperlink,Ozone,Ozone Pctl,PM2.5,...,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl,Location 1
0,6019001100,3174,Fresno,NaN,89.22,96-100% (highest scores),http://oehha.maps.arcgis.com/apps/Viewer/index...,0.255228,80.87,14.746087,...,21.6,83.66,77.500865,97.78,19.30,92.05,90.072268,9.360658,99.60,"Fresno 93706\n(36.709695199999999, -119.7816961)"
1,6019000300,3609,Fresno,NaN,83.71,96-100% (highest scores),http://oehha.maps.arcgis.com/apps/Viewer/index...,0.287130,83.28,14.619618,...,18.3,78.34,81.204032,98.93,NaN,NaN,92.323243,9.594592,99.90,"Fresno 93706\n(36.726461999999998, -119.8010347)"
2,6019000200,3167,Fresno,NaN,83.47,96-100% (highest scores),http://oehha.maps.arcgis.com/apps/Viewer/index...,0.304446,84.40,14.554656,...,16.2,74.04,86.828423,99.66,25.27,98.14,91.499039,9.508958,99.80,"Fresno 93706\n(36.735491400000001, -119.8055044)"
3,6019001500,2206,Fresno,NaN,83.08,96-100% (highest scores),http://oehha.maps.arcgis.com/apps/Viewer/index...,0.225687,78.25,14.937649,...,19.5,80.68,62.746088,88.32,18.30,89.60,83.474281,8.674967,97.74,"Fresno 93725\n(36.681600000000003, -119.717842..."
4,6019000600,6161,Fresno,NaN,82.95,96-100% (highest scores),http://oehha.maps.arcgis.com/apps/Viewer/index...,0.327935,85.81,14.506413,...,16.9,75.49,88.680993,99.79,26.69,98.61,92.246260,9.586590,99.89,"Fresno 93721\n(36.743062999999999, -119.7933565)"

In [152]:
pollution.tail()

,Census Tract,Total Population,California County,Click for interactive map,CES 2.0 Score,CES 2.0 Percentile Range,Hyperlink,Ozone,Ozone Pctl,PM2.5,...,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl,Location 1
8030,6085504700,719,Santa Clara,NaN,NaN,NaN,http://oehha.maps.arcgis.com/apps/Viewer/index...,0.000000,0.00,8.766532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Mountain View 94035\n(37.416475499999997, -122..."
8031,6095253000,7810,Solano,NaN,NaN,NaN,http://oehha.maps.arcgis.com/apps/Viewer/index...,0.011675,31.04,7.649335,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Vacaville 95687\n(38.320655700000003, -121.978..."
8032,6095980000,16,Solano,NaN,NaN,NaN,http://oehha.maps.arcgis.com/apps/Viewer/index...,0.011353,30.57,7.942773,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Travis AFB 94535\n(38.254451500000002, -121.94..."
8033,6109985202,3590,Tuolumne,NaN,NaN,NaN,http://oehha.maps.arcgis.com/apps/Viewer/index...,0.100283,64.12,7.848357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jamestown 95327\n(37.8919389, -120.5370715)"
8034,6111980000,56,Ventura,NaN,NaN,NaN,http://oehha.maps.arcgis.com/apps/Viewer/index...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Channel Is Air Guard Station 61\n(33.255654700...

#### Preventable Hospitalizations Datasets

The first dataset (ph1) shows hospitalizations for those who are under 18 years of age. That is, all the children who get hospitalized for preventable illnesses. I thought this was interesting, especially if they were hospitalized for diseases like asthma and gastroenteritis (but focusing on asthma more since it can be more directly related to air pollution). These data range from 2005 to 2015.

The second dataset (ph2) contains similar data as the first one, but for a wider range of ages. There is a strong focus on asthma and COPD (chronic obstructive pulmonary disease) with older adults. I may not use it for this assignment, but it may be good to import it in the notebook either way.

In [153]:
ph1 = pd.read_csv(
    "https://data.chhs.ca.gov/dataset/f36f29a0-3ad3-4b56-b954-c82766ed5a4a/resource/c441b087-ed26-4652-bde1-174aa0fd5760/download/ca-oshpd-preventablehospitalizationsunder18pdi-county.csv"
)

In [154]:
ph1.head()

,Year,County,PDI,PDIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
0,2005,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,022","542,079",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
1,2006,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,722","554,385",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,919","558,242",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,_STATEWIDE,9,Low Birth Weight (<2500 grams),"30,066","542,796",55.4,55.4,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,_STATEWIDE,9,Low Birth Weight (<2500 grams),"29,062","518,146",56.1,56.1,NaN,NaN,NaN,NaN,NaN,NaN

In [155]:
ph1.tail()

,Year,County,PDI,PDIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
7923,2016,Yuba,92,PDI Chronic Composite (Age 6-17),NaN,NaN,NaN,NaN,NaN,NaN,74.7,51.3,1.0,Cell suppressed for small numbers
7924,2017,Yuba,92,PDI Chronic Composite (Age 6-17),NaN,NaN,NaN,NaN,11,"13,794",79.7,54.7,NaN,NaN
7925,2018,Yuba,92,PDI Chronic Composite (Age 6-17),NaN,NaN,NaN,NaN,NaN,NaN,28.3,19.4,1.0,Cell suppressed for small numbers
7926,2019,Yuba,92,PDI Chronic Composite (Age 6-17),NaN,NaN,NaN,NaN,NaN,NaN,28.1,19.3,1.0,Cell suppressed for small numbers
7927,2020,Yuba,92,PDI Chronic Composite (Age 6-17),NaN,NaN,NaN,NaN,NaN,NaN,68.8,47.2,1.0,Cell suppressed for small numbers

In [156]:
ph2 = pd.read_csv(
    "https://data.chhs.ca.gov/dataset/f2b33545-db0a-4a53-a611-41de532e7c53/resource/7c7aed93-3643-43b8-92fc-324bf8fc13f2/download/ca-oshpd-preventablehospitalizations-county.csv"
)

In [157]:
ph2.head()

,Year,County,PQI,PQIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
0,2005,Alameda,1,Diabetes Short-term Complications,538.0,1102068.0,48.8,47.3,NaN,NaN,NaN,NaN,NaN,NaN
1,2006,Alameda,1,Diabetes Short-term Complications,479.0,1106823.0,43.3,42.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,Alameda,1,Diabetes Short-term Complications,475.0,1117973.0,42.5,41.3,NaN,NaN,NaN,NaN,NaN,NaN
3,2008,Alameda,1,Diabetes Short-term Complications,531.0,1136417.0,46.7,45.5,NaN,NaN,NaN,NaN,NaN,NaN
4,2009,Alameda,1,Diabetes Short-term Complications,586.0,1155287.0,50.7,49.4,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
ph2.tail()

,Year,County,PQI,PQIDescription,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode,AnnotationDesc
14509,2016,Yuba,93,Prevention Quality Diabetes Composite,NaN,NaN,NaN,NaN,182.0,54335.0,335.0,276.345389,NaN,NaN
14510,2017,Yuba,93,Prevention Quality Diabetes Composite,NaN,NaN,NaN,NaN,212.0,55421.0,382.5,315.342456,NaN,NaN
14511,2018,Yuba,93,Prevention Quality Diabetes Composite,NaN,NaN,NaN,NaN,240.0,55951.0,428.9,352.959591,NaN,NaN
14512,2019,Yuba,93,Prevention Quality Diabetes Composite,NaN,NaN,NaN,NaN,214.0,56969.0,375.6,307.937012,NaN,NaN
14513,2020,Yuba,93,Prevention Quality Diabetes Composite,NaN,NaN,NaN,NaN,169.0,58188.0,290.4,237.951950,NaN,NaN

#### Primary Care Shortage Areas

I may not get to explore this one much if I run out of time, but to me, this one is very interesting as it can help measure the state of the healthcare services, if not the resiliency of a community. There is, sadly, no guide for the labels for the titles, so I will have to make some educated guesses about the meaning of the data. The dataset also contains information related to the poverty levels of counties, which might be great to look at along with the pollution and preventable hospitalizations data. 

These data are from 2018.

In [159]:
pcsa = pd.read_csv(
    "https://data.chhs.ca.gov/dataset/061494a3-e8c7-4615-a22f-b2851d44eb09/resource/0ba7c904-2302-400a-ba27-b8e8e5c1ab4a/download/pcsa.csv"
)

In [160]:
pcsa.head()

,MSSA_COUNTY,MSSA_ID,MSSA_NAME,Total_Population,EST_Physicians,EST_FNPPA,EST_Providers,Provider_Ratio,Score_Provider_Ratio,Pop_100FPL,PCT_100FPL,Score_Poverty,Score_Total,PCSA,Effective Date
0,Alameda,1.1,Livermore Central and West/Spring Town,58273,46.0,5.0,49.8,1172.5,1,3149,0.054,1,2,No,1/30/2020
1,Alameda,1.2,Altamont/Livermore East/Midway/Mountain House/...,39930,13.5,2.7,15.5,2576.1,4,1774,0.044,0,4,No,1/30/2020
2,Alameda,2a,Berkeley South and West/Emeryville/Oakland Nor...,86595,116.0,78.7,175.0,494.8,0,20908,0.241,4,4,No,1/30/2020
3,Alameda,2b,Albany/Berkeley East and North/Claremont/Cragm...,110451,273.0,39.4,302.6,365.0,0,8701,0.079,1,1,No,1/30/2020
4,Alameda,2c,Oakland West Central,88757,361.0,48.1,397.0,223.6,0,22684,0.256,5,5,Yes,1/30/2020

In [161]:
pcsa.tail()

,MSSA_COUNTY,MSSA_ID,MSSA_NAME,Total_Population,EST_Physicians,EST_FNPPA,EST_Providers,Provider_Ratio,Score_Provider_Ratio,Pop_100FPL,PCT_100FPL,Score_Poverty,Score_Total,PCSA,Effective Date
537,Yolo,246.1,Woodland,60630,61.0,35.3,87.5,692.9,0,7451,0.123,2,2,No,1/30/2020
538,Yolo,246.2,Knights Landing,4250,0.0,0.0,0.0,NaN,5,558,0.131,2,7,Yes,1/30/2020
539,Yuba,247,Browns Valley/Brownsville/Dobbins/Oregon House,4365,0.0,2.3,1.7,2567.6,4,979,0.224,4,8,Yes,1/30/2020
540,Yuba,248,Wheatland,4492,0.0,0.0,0.0,NaN,5,439,0.098,1,6,Yes,1/30/2020
541,Yuba,249,Marysville,64493,15.5,26.7,35.6,1811.6,2,12180,0.189,3,5,Yes,1/30/2020

### PART II: Determine Basic Characteristics of the Datasets

In [162]:
pollution.shape

(8035, 52)

In [163]:
pollution.describe()

,Census Tract,Total Population,Click for interactive map,CES 2.0 Score,Ozone,Ozone Pctl,PM2.5,PM2.5 Pctl,Diesel PM,Diesel PM Pctl,...,Education Pctl,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl
count,8.035000e+03,8035.000000,0.0,7973.000000,7970.000000,7970.000000,7944.000000,7944.000000,8035.000000,8035.000000,...,7922.000000,7719.000000,7719.000000,7933.000000,7933.000000,7854.000000,7854.000000,7973.000000,7973.000000,7973.000000
mean,6.054896e+09,4636.459988,NaN,26.606402,0.104349,39.260227,10.014429,50.006294,18.239896,50.013181,...,49.993927,11.205441,48.267167,35.282491,49.993711,11.334557,49.984329,49.776480,5.172979,50.006271
std,2.652280e+07,1972.587602,NaN,14.650299,0.180335,32.807206,2.600539,28.869326,16.621729,28.875854,...,28.881803,11.004975,29.803824,20.160349,28.876673,5.439067,28.893198,18.409073,1.913148,28.869307
min,6.001400e+09,0.000000,NaN,1.610000,0.000000,0.000000,2.302646,0.010000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.766502,0.495407,0.010000
25%,6.037265e+09,3358.000000,NaN,14.850000,0.000702,4.475000,8.077014,25.007500,6.540000,25.030000,...,25.350000,3.000000,22.460000,18.390805,24.990000,7.480000,24.980000,34.808448,3.617393,25.010000
50%,6.059053e+09,4413.000000,NaN,23.720000,0.016299,36.320000,10.063901,50.005000,14.090000,50.010000,...,50.150000,7.700000,48.060000,32.000000,49.990000,10.460000,49.970000,49.339205,5.127515,50.010000
75%,6.073016e+09,5656.500000,NaN,36.580000,0.128813,68.157500,12.335363,75.002500,25.575000,75.005000,...,74.950000,16.200000,74.040000,50.358580,75.000000,14.190000,74.980000,64.670734,6.720880,75.000000
max,6.115041e+09,37452.000000,NaN,89.220000,1.277333,100.000000,17.044476,100.000000,164.400000,100.000000,...,100.000000,79.100000,100.000000,99.074074,100.000000,72.340000,100.000000,96.224141,10.000000,100.000000

In [164]:
pollution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8035 entries, 0 to 8034
Data columns (total 52 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Census Tract               8035 non-null   int64
 1   Total Population           8035 non-null   int64
 2   California County          8035 non-null   object
 3   Click for interactive map  0 non-null      float64
 4   CES 2.0 Score              7973 non-null   float64
 5   CES 2.0 Percentile Range   7973 non-null   object
 6   Hyperlink                  8035 non-null   object
 7   Ozone                      7970 non-null   float64
 8   Ozone Pctl                 7970 non-null   float64
 9   PM2.5                      7944 non-null   float64
 10  PM2.5 Pctl                 7944 non-null   float64
 11  Diesel PM                  8035 non-null   float64
 12  Diesel PM Pctl             8035 non-null   float64
 13  Drinking Water             8000 non-null   float64
 14  Drinking Water Pctl        8000 non-null   float64
 15  Pesticides                 8035 non-null   float64
 16  Pesticides Pctl            8035 non-null   float64
 17  Tox. Release               8023 non-null   float64
 18  Tox. Release Pctl          8023 non-null   float64
 19  Traffic                    8035 non-null   float64
 20  Traffic Pctl               8035 non-null   float64
 21  Cleanup Sites              8035 non-null   float64
 22  Cleanup Sites Pctl         8035 non-null   float64
 23  Groundwater Threats        8035 non-null   float64
 24  Groundwater Threats Pctl   8035 non-null   float64
 25  Haz. Waste                 8035 non-null   float64
 26  Haz. Waste Pctl            8035 non-null   float64
 27  Imp. Water Bodies          8035 non-null   int64
 28  Imp. Water Bodies Pctl     8035 non-null   float64
 29  Solid Waste                8035 non-null   float64
 30  Solid Waste Pctl           8035 non-null   float64
 31  Pollution Burden           8035 non-null   float64
 32  Pollution Burden Score     8035 non-null   float64
 33  Pollution Burden Pctl      8035 non-null   float64
 34  Age                        8024 non-null   float64
 35  Age Pctl                   8024 non-null   float64
 36  Asthma                     8035 non-null   float64
 37  Asthma Pctl                8035 non-null   float64
 38  Low Birth Weight           7994 non-null   float64
 39  Low Birth Weight Pctl      7994 non-null   float64
 40  Education                  7922 non-null   float64
 41  Education Pctl             7922 non-null   float64
 42  Linguistic Isolation       7719 non-null   float64
 43  Linguistic Isolation Pctl  7719 non-null   float64
 44  Poverty                    7933 non-null   float64
 45  Poverty Pctl               7933 non-null   float64
 46  Unemployment               7854 non-null   float64
 47  Unemployment Pctl          7854 non-null   float64
 48  Pop. Char.                 7973 non-null   float64
 49  Pop. Char. Score           7973 non-null   float64
 50  Pop. Char. Pctl            7973 non-null   float64
 51  Location 1                 8035 non-null   object
dtypes: float64(45), int64(3), object(4)
memory usage: 3.2+ MB

----

In [165]:
ph1.shape

(7928, 14)

In [166]:
ph1.describe()

,Year,PDI,RiskAdjRate_ICD9,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode
count,7928.000000,7928.000000,5804.000000,2065.000000,2065.000000,797.0
mean,2012.083754,42.172553,86.687078,34.397821,33.143874,1.0
std,4.499644,36.468774,97.233093,34.824722,33.808278,0.0
min,2005.000000,9.000000,0.000000,0.000000,0.000000,1.0
25%,2008.000000,15.000000,30.800000,10.800000,11.100000,1.0
50%,2012.000000,17.000000,54.800000,25.300000,24.300000,1.0
75%,2016.000000,90.000000,98.000000,47.900000,45.600000,1.0
max,2020.000000,92.000000,864.300000,298.000000,307.600000,1.0

In [167]:
ph1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7928 entries, 0 to 7927
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               7928 non-null   int64
 1   County             7928 non-null   object
 2   PDI                7928 non-null   int64
 3   PDIDescription     7928 non-null   object
 4   Count_ICD9         4068 non-null   object
 5   Population_ICD9    4068 non-null   object
 6   ObsRate_ICD9       5835 non-null   object
 7   RiskAdjRate_ICD9   5804 non-null   float64
 8   Count_ICD10        1268 non-null   object
 9   Population_ICD10   1268 non-null   object
 10  ObsRate_ICD10      2065 non-null   float64
 11  RiskAdjRate_ICD10  2065 non-null   float64
 12  AnnotationCode     797 non-null    float64
 13  AnnotationDesc     797 non-null    object
dtypes: float64(4), int64(2), object(8)
memory usage: 867.2+ KB

----

In [168]:
ph2.shape

(14514, 14)

In [169]:
ph2.describe()

,Year,PQI,Count_ICD9,Population_ICD9,ObsRate_ICD9,RiskAdjRate_ICD9,Count_ICD10,Population_ICD10,ObsRate_ICD10,RiskAdjRate_ICD10,AnnotationCode
count,14514.000000,14514.000000,10123.000000,1.012300e+04,10375.00000,10358.000000,3990.000000,3.990000e+03,4130.000000,4130.000000,140.0
mean,2012.276423,26.747967,2145.906549,8.229931e+05,239.81094,245.132072,2091.013033,9.892439e+05,221.417409,205.971474,1.0
std,4.555688,34.050777,14640.906977,3.349636e+06,343.24735,353.514842,13133.097881,3.863972e+06,291.155381,265.488676,0.0
min,2005.000000,1.000000,0.000000,1.000000e+00,0.00000,0.000000,0.000000,2.060000e+02,0.000000,0.000000,1.0
25%,2008.000000,7.000000,24.000000,2.839950e+04,24.20000,25.100000,37.000000,3.833825e+04,36.100000,34.225345,1.0
50%,2012.000000,12.000000,129.000000,1.128790e+05,93.30000,93.000000,164.000000,1.508150e+05,106.800000,99.588924,1.0
75%,2016.000000,16.000000,628.000000,3.806760e+05,315.65000,322.550000,701.500000,5.570680e+05,269.700000,245.282717,1.0
max,2020.000000,93.000000,354845.000000,2.884238e+07,2181.00000,2455.500000,272219.000000,3.057685e+07,1870.700000,1773.125123,1.0

In [170]:
ph2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14514 entries, 0 to 14513
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               14514 non-null  int64
 1   County             14514 non-null  object
 2   PQI                14514 non-null  int64
 3   PQIDescription     14514 non-null  object
 4   Count_ICD9         10123 non-null  float64
 5   Population_ICD9    10123 non-null  float64
 6   ObsRate_ICD9       10375 non-null  float64
 7   RiskAdjRate_ICD9   10358 non-null  float64
 8   Count_ICD10        3990 non-null   float64
 9   Population_ICD10   3990 non-null   float64
 10  ObsRate_ICD10      4130 non-null   float64
 11  RiskAdjRate_ICD10  4130 non-null   float64
 12  AnnotationCode     140 non-null    float64
 13  AnnotationDesc     140 non-null    object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.6+ MB

----

In [171]:
pcsa.shape

(542, 15)

In [172]:
pcsa.describe()

,Total_Population,EST_Physicians,EST_FNPPA,EST_Providers,Provider_Ratio,Score_Provider_Ratio,Pop_100FPL,PCT_100FPL,Score_Poverty,Score_Total
count,542.000000,542.000000,542.000000,542.000000,512.000000,542.000000,542.000000,542.000000,542.000000,542.000000
mean,70558.940959,69.538192,23.584133,87.221956,3253.890820,2.044280,10652.044280,0.158489,2.570111,4.614391
std,49495.682036,111.963221,28.728731,130.195360,10721.875652,1.969705,9789.781657,0.079765,1.414760,2.577597
min,902.000000,0.000000,0.000000,0.000000,99.400000,0.000000,79.000000,0.030000,0.000000,0.000000
25%,17599.000000,4.075000,3.625000,7.050000,794.525000,0.000000,2533.000000,0.096000,1.000000,2.000000
50%,83125.500000,32.750000,15.300000,47.100000,1352.400000,1.000000,8286.000000,0.144000,2.000000,4.000000
75%,109738.250000,82.500000,33.300000,105.200000,2474.600000,4.000000,15885.750000,0.208750,4.000000,7.000000
max,198013.000000,886.000000,246.300000,1070.700000,160095.000000,5.000000,56556.000000,0.426000,5.000000,10.000000

In [242]:
pcsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542 entries, 0 to 541
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MSSA_COUNTY           542 non-null    object
 1   MSSA_ID               542 non-null    object
 2   MSSA_NAME             542 non-null    object
 3   Total_Population      542 non-null    int64
 4   EST_Physicians        542 non-null    float64
 5   EST_FNPPA             542 non-null    float64
 6   EST_Providers         542 non-null    float64
 7   Provider_Ratio        512 non-null    float64
 8   Score_Provider_Ratio  542 non-null    int64
 9   Pop_100FPL            542 non-null    int64
 10  PCT_100FPL            542 non-null    float64
 11  Score_Poverty         542 non-null    int64
 12  Score_Total           542 non-null    int64
 13  PCSA                  542 non-null    object
 14  Effective Date        542 non-null    object
dtypes: float64(5), int64(5), object(5)
memory usage: 63.6+ KB

----

### PART III: Analyzing the Pollution Dataset

In [174]:
##Which census tracts are most affected by pollution?
pollution.sort_values("CES 2.0 Score", ascending=False, na_position="last").head(3)

,Census Tract,Total Population,California County,Click for interactive map,CES 2.0 Score,CES 2.0 Percentile Range,Hyperlink,Ozone,Ozone Pctl,PM2.5,...,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl,Location 1
0,6019001100,3174,Fresno,NaN,89.22,96-100% (highest scores),http://oehha.maps.arcgis.com/apps/Viewer/index...,0.255228,80.87,14.746087,...,21.6,83.66,77.500865,97.78,19.30,92.05,90.072268,9.360658,99.6,"Fresno 93706\n(36.709695199999999, -119.7816961)"
1,6019000300,3609,Fresno,NaN,83.71,96-100% (highest scores),http://oehha.maps.arcgis.com/apps/Viewer/index...,0.287130,83.28,14.619618,...,18.3,78.34,81.204032,98.93,NaN,NaN,92.323243,9.594592,99.9,"Fresno 93706\n(36.726461999999998, -119.8010347)"
2,6019000200,3167,Fresno,NaN,83.47,96-100% (highest scores),http://oehha.maps.arcgis.com/apps/Viewer/index...,0.304446,84.40,14.554656,...,16.2,74.04,86.828423,99.66,25.27,98.14,91.499039,9.508958,99.8,"Fresno 93706\n(36.735491400000001, -119.8055044)"

In [175]:
##Which census tracts are least affected by pollution?
pollution.sort_values("CES 2.0 Score", ascending=True, na_position="last").head(3)

,Census Tract,Total Population,California County,Click for interactive map,CES 2.0 Score,CES 2.0 Percentile Range,Hyperlink,Ozone,Ozone Pctl,PM2.5,...,Linguistic Isolation,Linguistic Isolation Pctl,Poverty,Poverty Pctl,Unemployment,Unemployment Pctl,Pop. Char.,Pop. Char. Score,Pop. Char. Pctl,Location 1
7972,6061020606,4303,Placer,NaN,1.61,1-5% (lowest scores),http://oehha.maps.arcgis.com/apps/Viewer/index...,0.256708,80.97,8.240441,...,1.1,6.73,5.539227,1.97,4.08,4.32,5.717518,0.594238,0.03,"Granite Bay 95746\n(38.716659900000003, -121.2..."
7971,6017030701,6205,El Dorado,NaN,1.91,1-5% (lowest scores),http://oehha.maps.arcgis.com/apps/Viewer/index...,0.305819,84.43,7.625008,...,0.9,5.19,7.721948,4.51,6.71,18.98,8.240793,0.856439,0.08,"El Dorado Hills 95762\n(38.737015, -121.0874235)"
7970,6075017101,3544,San Francisco,NaN,2.08,1-5% (lowest scores),http://oehha.maps.arcgis.com/apps/Viewer/index...,0.000000,0.00,7.350471,...,0.0,0.00,9.822958,7.89,3.20,2.04,8.157160,0.847710,0.05,"San Francisco 94117\n(37.765724499999997, -122..."

In [177]:
##Which counties are most at risk/affected by pollution?
avg_CES = (
    pollution.groupby(["California County"])["CES 2.0 Score"]
    .agg(["mean"])
    .reset_index()
)

In [178]:
avg_CES = avg_pol_index.rename(columns={"mean": "avg_CES"})
avg_CES.head()

  California County    avg_CES
0          Alameda   21.359300
1           Alpine   11.360000
2           Amador   18.956667
3            Butte   19.712745
4        Calaveras   13.722000

In [179]:
# And...here we have the most affected counties in California!
avg_CES.sort_values("avg_CES", ascending=False).head()

   California County    avg_CES
9            Fresno   43.623232
23           Merced   42.012245
53           Tulare   40.423205
15            Kings   39.103077
49       Stanislaus   38.601596

In [180]:
# And... here we have the least affected counties in California!
# Now you know where to move to, lol.
avg_CES.sort_values("avg_CES", ascending=True).head()

   California County    avg_CES
52          Trinity    9.862000
8          El Dorado  10.176429
20            Marin   10.306481
7          Del Norte  10.878571
1            Alpine   11.360000

In [190]:
# Instead of PM, we use the PM percentile for this calculation.
avg_PM = (
    pollution.groupby(["California County"])["PM2.5 Pctl"].agg(["mean"]).reset_index()
)

In [191]:
avg_PM = avg_PM.rename(columns={"mean": "avg_PM"})
avg_PM.head()

  California County     avg_PM
0          Alameda   26.557056
1           Alpine    0.260000
2           Amador   17.545000
3            Butte   41.396471
4        Calaveras   11.382000

In [192]:
# Counties with most PM pollution
avg_PM.sort_values("avg_PM", ascending=False).head()

   California County     avg_PM
15            Kings   97.358000
9            Fresno   93.813211
53           Tulare   90.270132
14             Kern   85.315200
18       Los Angeles  72.643635

In [193]:
# Counties with least PM pollution
avg_PM.sort_values("avg_PM", ascending=False).tail()

   California County    avg_PM
16             Lake   0.638667
52          Trinity   0.462500
24            Modoc   0.350000
1            Alpine   0.260000
25             Mono   0.070000

In [199]:
county_pol = (
    pollution.groupby(["California County"])
    .agg(
        {
            "CES 2.0 Score": "mean",
            "PM2.5 Pctl": "mean",
            "Drinking Water Pctl": "mean",
            "Asthma": "mean",
            "Groundwater Threats Pctl": "mean",
            "Pollution Burden Pctl": "mean",
        }
    )
    .reset_index()
)

In [201]:
county_pol.head()

,California County,CES 2.0 Score,PM2.5 Pctl,Drinking Water Pctl,Asthma,Groundwater Threats Pctl,Pollution Burden Pctl
0,Alameda,21.359300,26.557056,8.872972,68.906641,63.891750,34.465278
1,Alpine,11.360000,0.260000,86.550000,18.594465,19.900000,10.860000
2,Amador,18.956667,17.545000,50.504444,39.045190,53.198889,28.472222
3,Butte,19.712745,41.396471,44.417059,54.365831,37.763725,27.133529
4,Calaveras,13.722000,11.382000,39.489000,38.468567,31.257000,16.970000

In [220]:
county_pol.columns

Index(['California County', 'CES 2.0 Score', 'PM2.5 Pctl',
       'Drinking Water Pctl', 'Asthma', 'Groundwater Threats Pctl',
       'Pollution Burden Pctl'],
      dtype='object')

In [240]:
# To see how many counties have a serious asthma problem
county_pol[county_pol["Asthma"] > 50].head()

,California County,CES 2.0 Score,PM2.5 Pctl,Drinking Water Pctl,Asthma,Groundwater Threats Pctl,Pollution Burden Pctl
0,Alameda,21.359300,26.557056,8.872972,68.906641,63.891750,34.465278
3,Butte,19.712745,41.396471,44.417059,54.365831,37.763725,27.133529
6,Contra Costa,18.709903,24.443333,13.235700,63.936861,43.647295,28.651691
7,Del Norte,10.878571,0.701429,19.254286,61.353304,61.305714,2.761429
9,Fresno,43.623232,93.813211,83.430909,62.538328,32.034070,76.442965

In [238]:
# To look at counties with high PM, but also looking at the highs and lows from census tract data
# mostly to demonstrate some fancy aggregation skills
pollution.groupby(["California County"])["PM2.5 Pctl"].agg(
    ["mean", "min", "max"]
).reset_index().sort_values("mean", ascending=False).head()

   California County       mean    min     max
15            Kings   97.358000  82.07   98.78
9            Fresno   93.813211   0.25   98.72
53           Tulare   90.270132   9.64   98.59
14             Kern   85.315200   1.76  100.00
18       Los Angeles  72.643635   5.30   94.89

### PART IV: Bringing in Preventable Hospitalizations

In [239]:
# pol_ph1_merge = pd.merge(county_pol, ph1, on=["California County", "County"])

In [227]:
# pol_ph1_merge = county_pol.merge(ph1, how='inner', on=["California County", "County"])

### PART V: Bringing in Primary Care Shortage Areas

### PART VI: Conclusions

### PART VII: The Pitch