# Rhysea's Assignment 3: Showing off my Pandas skills

**Note**: I am going to analyze a dataset that I obtained from the LA Times that contains data about concrete buildings in LA County that are at risk from earthquakes.

### Part I: Importing Pandas and Reading Datasets

In [1]:
import pandas as pd

In [8]:
conc = pd.read_csv("../data/raw/la_concrete_buildings.csv")

In [11]:
ss_condo = pd.read_csv("../data/raw/soft_story_condo.csv")

In [12]:
ss_apartment = pd.read_csv("../data/raw/soft_story_apartment.csv")

______

### Part II: Exploring Dataset 'conc'

In [25]:
conc.head()

,num,lat,lon,address,zip_code,building_name,occupancy,code,stories,yrblt,...,bldvalue,adjvalue,multiplier,contents,combined,day,night,assessor,Type,Update
0,1,34.03616,-118.26004,100 E PICO BLVD,90015,NaN,Industrial,IND2,2,1946.0,...,936776,2402362,1.5,3603542,6005904,63,4,C5B,NaN,NaN
1,2,34.03134,-118.22999,1000 S SANTA FE AVE,90021,NaN,Industrial,IND2,5,1917.0,...,4878537,12511007,1.5,18766511,31277518,310,19,CX,NaN,NaN
2,3,34.03594,-118.25172,1001 S SAN PEDRO ST,90015,NaN,Industrial,COM2,2,1909.0,...,538415,1380766,1.0,1380766,2761532,10,0,CX,NaN,NaN
3,4,34.03594,-118.25172,1001 S SAN PEDRO ST,90015,NaN,Industrial,COM2,2,1911.0,...,552447,1416751,1.0,1416751,2833501,10,0,CX,NaN,NaN
4,5,34.03594,-118.25172,1001 S SAN PEDRO ST,90015,NaN,Industrial,COM2,2,1914.0,...,798910,2048804,1.0,2048804,4097607,14,0,CX,NaN,NaN

In [24]:
#Find out the length of the dataset
row_no = len(conc)
print (f"The number of rows in the dataset are {row_no}.")

The number of rows in the dataset are 1451.

In [33]:
#I'm making the assumption that shorter buildings are less in danger than taller buildings are. 
#So, I am organizing the data according to number of stories to indicate danger levels.
less_danger = conc.sort_values("stories",ascending=True)

In [34]:
less_danger.head()

,num,lat,lon,address,zip_code,building_name,occupancy,code,stories,yrblt,...,bldvalue,adjvalue,multiplier,contents,combined,day,night,assessor,Type,Update
725,727,34.06909,-118.29583,3667 W 3RD ST,90020,NaN,Market,COM1,1,1945.0,...,570456,1462934,1.0,1462934,2925869,72,0,C65,NaN,NaN
382,383,34.02999,-118.25940,1729 WALL ST,90015,NaN,Professional building,COM7,1,1964.0,...,2982939,7649746,1.5,11474620,1912436612,6,51,C5B,NaN,NaN
920,923,34.03976,-118.22438,520 S ANDERSON ST,90033,NaN,Industrial,IND2,1,1917.0,...,4038766,10357415,1.5,1553612325,893539274,16,6,CX,NaN,NaN
379,380,33.99411,-118.30765,1724 W 53RD ST,90062,Western Avenue,School,EDU1,1,NaN,...,1681701,4312722,1.0,4312722,8625443,373,0,NaN,NaN,NaN
928,931,34.06227,-118.34335,5209 WILSHIRE BLVD,90036,NaN,Office,COM4,1,1929.0,...,406242,1041807,1.0,1041807,2083613,16,0,C5,NaN,NaN

In [35]:
#Conversely, taller buildings are not only in greater danger, but more dangerous to the surrounding areas too. 
#Hence, I am sorting the data based on most dangerous buildings.
more_danger = conc.sort_values("stories",ascending=False)

In [36]:
more_danger.head()

,num,lat,lon,address,zip_code,building_name,occupancy,code,stories,yrblt,...,bldvalue,adjvalue,multiplier,contents,combined,day,night,assessor,Type,Update
670,672,34.13761,-118.35707,333 UNIVERSAL HOLLYWOOD DR,91608,Sheraton Universal Hotel,Hotel,RES4,18,1968.0,...,28265235,39867407,0.5,19933703,59801110,181,756,BX,NaN,NaN
63,64,34.06045,-118.43754,10740 WILSHIRE BLVD,90024,The Westwood on Wilshire,Hotel,RES4,18,1972.0,...,14110418,19902392,0.5,9951196,29853588,91,377,BX,NaN,NaN
467,468,34.05879,-118.41231,2070 CENTURY PARK E,90067,Century City Hospital,Hospital,COM6,18,1968.0,...,27867877,71467170,1.5,1072007551,7866792511,9,444,BX,NaN,California law requires all general acute care...
1066,1070,34.06281,-118.30035,616 S NORMANDIE AVE,90005,NaN,Nursing home,RES6,17,1969.0,...,16262761,22938217,0.5,11469109,3440732631,1,466,BXB,NaN,NaN
1001,1005,33.94564,-118.38381,5835 W CENTURY BLVD,90045,Marriott Hotel,Hotel,RES4,17,1972.0,...,59117532,83383801,0.5,4169190012,5075701379,1581,1,BX,NaN,NaN

In [41]:
#I want to find out the number of buildings that have a particular number of stories
#I am running value_counts on the stories column to create a dataset that categories on the basis of no. of stories.
stories_df = conc['stories'].value_counts()
stories_df

1     445
2     333
3     131
4      97
5      93
6      84
7      51
13     47
12     47
8      34
10     29
9      27
11     18
14      4
16      4
18      3
17      3
15      1
Name: stories, dtype: int64