# Groupby: Candy!
Use this method when you want to collapse a dataframe by a categorical column and run an aggregation. For example, if you had a list of candy consumed and wanted to look at the total caleries by brand or type. Let's look.

#### Load python tools

In [65]:
import pandas as pd

#### Read our candy dataset

In [66]:
# CSV from here: Total_and_Affordable_Housing_Units.csv

In [67]:
url = "https://data.lacity.org/Housing-and-Real-Estate/Total-and-Affordable-Housing-Units/rckt-8prm/data"

#### Read the data

In [68]:
df = pd.read_csv('Total_and_Affordable_Housing_Units.csv')

#### First five rows

In [69]:
df.head()

,Fiscal Year,Quarter,New Housing Units,Cumulative New Housing Units,"New Affordable Units Financed by HCIDLA (with new construction, rehab, & tax credit)",Affordable Units Preserved,Affordable Units Produced w/ Land Use Incentives,First-Time Homebuyer Program Loans Closed,Other Affordable Units (Includes County/State Financed),Affordable Units Recapitalized,Total Affordable Housing,Cumulative Affordable Housing
0,2013-2014,Q4,3146,11035.0,211,79,42,31,154,0,517,2324
1,2016-2017,Q3,3850,NaN,21,181,135,21,0,0,358,7040
2,2015-2016,Q2,4523,34271.0,134,0,98,36,77,112,345,4669
3,2016-2017,Q1,5359,46164.0,337,153,103,17,0,0,610,6533
4,2014-2015,Q1,2580,13615.0,53,88,59,22,64,0,286,2610

#### Last five rows

In [70]:
df.tail()

,Fiscal Year,Quarter,New Housing Units,Cumulative New Housing Units,"New Affordable Units Financed by HCIDLA (with new construction, rehab, & tax credit)",Affordable Units Preserved,Affordable Units Produced w/ Land Use Incentives,First-Time Homebuyer Program Loans Closed,Other Affordable Units (Includes County/State Financed),Affordable Units Recapitalized,Total Affordable Housing,Cumulative Affordable Housing
11,2016-2017,Q2,3801,NaN,97,20,0,21,0,313,138,6682
12,2014-2015,Q3,4518,21553.0,283,0,35,25,0,158,343,3725
13,2016-2017,Q4,4712,NaN,196,0,193,11,0,0,400,7440
14,2014-2015,Q4,4376,25929.0,99,0,119,37,74,0,329,4054
15,2013-2014,Q2,2977,4642.0,154,161,137,52,0,0,504,1369

#### How many records?

In [71]:
len(df)

16

In [73]:
df['new housing units'].sum()

KeyError: 'new housing units'

---

---