# Assignment 4

#### Load our Python tools

In [19]:
# %load_ext lab_black

In [20]:
import pandas as pd
#import altair as alt

In [21]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

---

Import dataset

In [22]:
imdb_data=pd.read_csv("data/imdb_1000.csv")

In [23]:
imdb_data.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton']"
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duvall']"
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron Eckhart']"
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L. Jackson']"

What is the average star rating for each movie genre?

In [25]:
imdb_data.groupby(["genre"])["star_rating"].mean()

genre
Action       7.884559
Adventure    7.933333
Animation    7.914516
Biography    7.862338
Comedy       7.822436
Crime        7.916935
Drama        7.902518
Family       7.850000
Fantasy      7.700000
Film-Noir    8.033333
History      8.000000
Horror       7.806897
Mystery      7.975000
Sci-Fi       7.920000
Thriller     7.680000
Western      8.255556
Name: star_rating, dtype: float64

For each movie title, what is it's highest star rating and average duration?

In [53]:
imdb_data.groupby(["title"]).agg({"star_rating":"max", "duration":"mean"}).reset_index().head()

                   title  star_rating  duration
0   (500) Days of Summer          7.8      95.0
1           12 Angry Men          8.9      96.0
2       12 Years a Slave          8.1     134.0
3              127 Hours          7.6      94.0
4  2001: A Space Odyssey          8.3     160.0

What is the lowest star rating for each content rating?

In [34]:
imdb_data.groupby(["content_rating"])["star_rating"].min()

content_rating
APPROVED     7.5
G            7.4
GP           7.7
NC-17        7.4
NOT RATED    7.5
PASSED       7.7
PG           7.4
PG-13        7.4
R            7.4
TV-MA        8.1
UNRATED      7.4
X            7.5
Name: star_rating, dtype: float64

For each genre, what is the highest star rating?

In [41]:
imdb_data.groupby(["genre"])["star_rating"].max()

genre
Action       9.0
Adventure    8.9
Animation    8.6
Biography    8.9
Comedy       8.6
Crime        9.3
Drama        8.9
Family       7.9
Fantasy      7.7
Film-Noir    8.3
History      8.0
Horror       8.6
Mystery      8.6
Sci-Fi       8.2
Thriller     8.0
Western      8.9
Name: star_rating, dtype: float64

In [59]:
imdb_max=imdb_data.groupby(["title"])["star_rating"].max().reset_index()

In [63]:
imdb_max[imdb_max["star_rating"]== imdb_max["star_rating"].max()]

                        title  star_rating
866  The Shawshank Redemption          9.3

In [45]:
imdb_data.groupby(["content_rating"])["genre"].count()

content_rating
APPROVED      47
G             32
GP             3
NC-17          7
NOT RATED     65
PASSED         7
PG           123
PG-13        189
R            460
TV-MA          1
UNRATED       38
X              4
Name: genre, dtype: int64