# Assignment 3

#### Load our Python tools

In [89]:
# %load_ext lab_black

In [90]:
import pandas as pd
#import altair as alt

In [91]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

---

Import dataset

In [92]:
covid_data=pd.read_csv("https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-county-cases-deaths.csv", dtype = {"fips":str})

1. Counting number of rows in the dataset

In [93]:
len(covid_data)

43616

In [94]:
covid_election_date=covid_data[covid_data["date"]=="2021-09-14"].copy()

In [95]:
covid_election_date.head()

,date,county,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths
9280,2021-09-14,Alameda,001,1643700,113674,112329,2614,114943,1316
9281,2021-09-14,Alpine,003,1148,99,98,0,98,0
9282,2021-09-14,Amador,005,37829,4896,4790,48,4838,57
9283,2021-09-14,Butte,007,227075,18233,17516,3213,20729,226
9284,2021-09-14,Calaveras,009,45235,3360,3280,30,3310,66

In [96]:
len(covid_election_date)

58

In [97]:
covid_election_date["confirmed_rate"]=(covid_election_date["confirmed_cases"]/covid_election_date["population"])*1000

In [98]:
covid_election_date.head()

,date,county,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,confirmed_rate
9280,2021-09-14,Alameda,001,1643700,113674,112329,2614,114943,1316,69.157389
9281,2021-09-14,Alpine,003,1148,99,98,0,98,0,86.236934
9282,2021-09-14,Amador,005,37829,4896,4790,48,4838,57,129.424516
9283,2021-09-14,Butte,007,227075,18233,17516,3213,20729,226,80.295057
9284,2021-09-14,Calaveras,009,45235,3360,3280,30,3310,66,74.278766

2. Sorting my data

In [99]:
covid_election_date.sort_values("confirmed_rate", ascending = False).head()

,date,county,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,confirmed_rate
9297,2021-09-14,Lassen,035,31185,6166,5977,252,6229,25,197.723264
9295,2021-09-14,Kings,031,150075,28629,27955,1618,29573,278,190.764618
9292,2021-09-14,Imperial,025,180216,31177,30845,3064,33909,752,172.997958
9315,2021-09-14,San Bernardino,071,2135413,337543,333968,10511,344479,5465,158.069188
9312,2021-09-14,Riverside,065,2383286,344521,338534,15772,354306,4748,144.557137

3. Counting values on a column.

In [100]:
covid_election_date.value_counts("county").head()

county
Alameda       1
Santa Cruz    1
Plumas        1
Riverside     1
Sacramento    1
dtype: int64

4. Exploring distributions

In [101]:
covid_election_date.describe()

,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,confirmed_rate
count,5.800000e+01,5.800000e+01,5.800000e+01,58.000000,5.800000e+01,58.000000,58.000000
mean,6.749787e+05,7.653759e+04,7.552522e+04,3728.620690,7.925384e+04,1155.189655,101.471033
std,1.469646e+06,1.945753e+05,1.928331e+05,7973.166959,2.003262e+05,3517.113791,34.056149
min,1.148000e+03,9.900000e+01,9.800000e+01,0.000000,9.800000e+01,0.000000,44.027304
25%,4.740925e+04,6.029250e+03,5.871500e+03,193.750000,5.977000e+03,58.000000,75.700084
50%,1.834385e+05,1.825900e+04,1.777750e+04,1024.000000,2.000450e+04,240.500000,96.981167
75%,6.839842e+05,5.852175e+04,5.687125e+04,3027.500000,6.640175e+04,854.000000,125.936616
max,1.009805e+07,1.384268e+06,1.372831e+06,51666.000000,1.424497e+06,25729.000000,197.723264

5. Subset dataframe based on value and assign to new variable.

In [102]:
max_covid = covid_election_date[covid_election_date['confirmed_rate'] >= 90]

In [103]:
len(max_covid)

34

6. Merge with another dataset

In [104]:
gov_data=pd.read_json("../../data/raw/gov_race_change_counties.json", dtype = {"fips":str})

In [105]:
gov_data.head()

,county,fips,dem_2018,dem_2021,rep_2018,rep_2021,votes_2018,votes_2021,d_pct_18,d_pct_21,r_pct_18,r_pct_21,d_change,r_change,leader_2021,leader_2018
0,Alameda,001,462558,287014,111677,60716,574235,347730,80.6,82.5,19.4,17.5,1.9,-1.9,D,D
1,Alpine,003,386,340,229,218,615,558,62.8,60.9,37.2,39.1,-1.9,1.9,D,D
2,Amador,005,6237,6411,11356,10971,17593,17382,35.5,36.9,64.5,63.1,1.4,-1.4,R,R
3,Butte,007,41500,31774,47226,35182,88726,66956,46.8,47.5,53.2,52.5,0.7,-0.7,R,R
4,Calaveras,009,7765,7106,13845,11450,21610,18556,35.9,38.3,64.1,61.7,2.4,-2.4,R,R

In [106]:
covid_election_merge=pd.merge(covid_election_date, gov_data, on = ["fips","county"])

In [107]:
covid_election_merge.head()

,date,county,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,confirmed_rate,dem_2018,dem_2021,rep_2018,rep_2021,votes_2018,votes_2021,d_pct_18,d_pct_21,r_pct_18,r_pct_21,d_change,r_change,leader_2021,leader_2018
0,2021-09-14,Alameda,001,1643700,113674,112329,2614,114943,1316,69.157389,462558,287014,111677,60716,574235,347730,80.6,82.5,19.4,17.5,1.9,-1.9,D,D
1,2021-09-14,Alpine,003,1148,99,98,0,98,0,86.236934,386,340,229,218,615,558,62.8,60.9,37.2,39.1,-1.9,1.9,D,D
2,2021-09-14,Amador,005,37829,4896,4790,48,4838,57,129.424516,6237,6411,11356,10971,17593,17382,35.5,36.9,64.5,63.1,1.4,-1.4,R,R
3,2021-09-14,Butte,007,227075,18233,17516,3213,20729,226,80.295057,41500,31774,47226,35182,88726,66956,46.8,47.5,53.2,52.5,0.7,-0.7,R,R
4,2021-09-14,Calaveras,009,45235,3360,3280,30,3310,66,74.278766,7765,7106,13845,11450,21610,18556,35.9,38.3,64.1,61.7,2.4,-2.4,R,R

In [108]:
covid_election_merge_slim=covid_election_merge[["county", "population", "confirmed_cases","confirmed_rate", "reported_deaths", "votes_2021", "d_pct_21", "r_pct_21", "leader_2021"]]

In [109]:
covid_election_merge_slim.head()

,county,population,confirmed_cases,confirmed_rate,reported_deaths,votes_2021,d_pct_21,r_pct_21,leader_2021
0,Alameda,1643700,113674,69.157389,1316,347730,82.5,17.5,D
1,Alpine,1148,99,86.236934,0,558,60.9,39.1,D
2,Amador,37829,4896,129.424516,57,17382,36.9,63.1,R
3,Butte,227075,18233,80.295057,226,66956,47.5,52.5,R
4,Calaveras,45235,3360,74.278766,66,18556,38.3,61.7,R

In [110]:
covid_election_merge_slim.sort_values("confirmed_rate", ascending = True).head()

,county,population,confirmed_cases,confirmed_rate,reported_deaths,votes_2021,d_pct_21,r_pct_21,leader_2021
45,Sierra,2930,129,44.027304,0,1458,38.1,61.9,R
21,Mariposa,17540,889,50.684151,5,7658,40.3,59.7,R
24,Modoc,8938,464,51.913180,5,3211,22.0,78.0,R
52,Trinity,12862,700,54.423884,7,3826,45.7,54.3,R
37,San Francisco,870044,49704,57.128145,603,267432,86.7,13.3,D