# Assignment 3

#### Load our Python tools

In [89]:
# %load_ext lab_black

In [50]:
import pandas as pd
import altair as alt

ModuleNotFoundError: No module named 'altair'

In [51]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

---

Import dataset

In [52]:
covid_data=pd.read_csv("https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-county-cases-deaths.csv", dtype = {"date":str})

1. Counting number of rows in the dataset

In [54]:
covid_data.head()

,date,county,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths
0,2022-03-07,Alameda,1,1643700,252601,252578,13601,266179,1766
1,2022-03-07,Alpine,3,1148,125,125,1,126,0
2,2022-03-07,Amador,5,37829,8384,8368,654,9022,84
3,2022-03-07,Butte,7,227075,32743,32734,6573,39307,378
4,2022-03-07,Calaveras,9,45235,7243,7242,354,7596,116

In [55]:
covid_data["confirmed_rate"]=(covid_data["confirmed_cases"]/covid_data["population"])*100

In [56]:
covid_data.head()

,date,county,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,confirmed_rate
10092,2021-09-14,Alameda,1,1643700,113697,112329,2619,114948,1316,6.917138
10093,2021-09-14,Alpine,3,1148,99,98,0,98,0,8.623693
10094,2021-09-14,Amador,5,37829,4896,4790,48,4838,57,12.942452
10095,2021-09-14,Butte,7,227075,18232,17516,3210,20726,226,8.029065
10096,2021-09-14,Calaveras,9,45235,3359,3280,30,3310,66,7.425666

In [86]:
covid_data["clean_date"]=pd.to_datetime(covid_data["date"]).dt.strftime("%Y-%m-01")

2. Sorting my data

In [87]:
covid_data.head()

,date,county,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,confirmed_rate,clean_date
0,2022-03-07,Alameda,1,1643700,252601,252578,13601,266179,1766,15.367829,2022-03-01
1,2022-03-07,Alpine,3,1148,125,125,1,126,0,10.888502,2022-03-01
2,2022-03-07,Amador,5,37829,8384,8368,654,9022,84,22.162891,2022-03-01
3,2022-03-07,Butte,7,227075,32743,32734,6573,39307,378,14.419465,2022-03-01
4,2022-03-07,Calaveras,9,45235,7243,7242,354,7596,116,16.011938,2022-03-01

In [103]:
covid_group=covid_data.groupby(["clean_date"]).agg({"confirmed_cases":"mean"}).reset_index()

In [104]:
covid_group["population"]=38000000

In [105]:
covid_group

    clean_date  confirmed_cases  population
0   2020-02-01         2.868014    38000000
1   2020-03-01       124.263626    38000000
2   2020-04-01       722.963793    38000000
3   2020-05-01      1736.549499    38000000
4   2020-06-01      3612.880460    38000000
5   2020-07-01      7998.695773    38000000
6   2020-08-01     11667.243604    38000000
7   2020-09-01     13664.947701    38000000
8   2020-10-01     15480.614572    38000000
9   2020-11-01     19448.996552    38000000
10  2020-12-01     33336.072303    38000000
11  2021-01-01     52518.154616    38000000
12  2021-02-01     59825.046182    38000000
13  2021-03-01     61577.540044    38000000
14  2021-04-01     62739.967241    38000000
15  2021-05-01     63563.861513    38000000
16  2021-06-01     64075.904023    38000000
17  2021-07-01     65622.917686    38000000
18  2021-08-01     71194.911568    38000000
19  2021-09-01     76608.876437    38000000
20  2021-10-01     79763.264739    38000000
21  2021-11-01     82538.144828    38000000
22  2021-12-01     86964.519466    38000000
23  2022-01-01    122435.665740    38000000
24  2022-02-01    143102.527709    38000000
25  2022-03-01    144953.847291    38000000

In [106]:
covid_group["covid_rate"]=(covid_group.confirmed_cases/covid_group.population)*100000

In [107]:
covid_group

    clean_date  confirmed_cases  population  covid_rate
0   2020-02-01         2.868014    38000000    0.007547
1   2020-03-01       124.263626    38000000    0.327010
2   2020-04-01       722.963793    38000000    1.902536
3   2020-05-01      1736.549499    38000000    4.569867
4   2020-06-01      3612.880460    38000000    9.507580
5   2020-07-01      7998.695773    38000000   21.049199
6   2020-08-01     11667.243604    38000000   30.703273
7   2020-09-01     13664.947701    38000000   35.960389
8   2020-10-01     15480.614572    38000000   40.738459
9   2020-11-01     19448.996552    38000000   51.181570
10  2020-12-01     33336.072303    38000000   87.726506
11  2021-01-01     52518.154616    38000000  138.205670
12  2021-02-01     59825.046182    38000000  157.434332
13  2021-03-01     61577.540044    38000000  162.046158
14  2021-04-01     62739.967241    38000000  165.105177
15  2021-05-01     63563.861513    38000000  167.273320
16  2021-06-01     64075.904023    38000000  168.620800
17  2021-07-01     65622.917686    38000000  172.691889
18  2021-08-01     71194.911568    38000000  187.355030
19  2021-09-01     76608.876437    38000000  201.602306
20  2021-10-01     79763.264739    38000000  209.903328
21  2021-11-01     82538.144828    38000000  217.205644
22  2021-12-01     86964.519466    38000000  228.853999
23  2022-01-01    122435.665740    38000000  322.199120
24  2022-02-01    143102.527709    38000000  376.585599
25  2022-03-01    144953.847291    38000000  381.457493

In [57]:
covid_data.sort_values("confirmed_rate", ascending = False).head()

,date,county,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,confirmed_rate
15,2022-03-07,Kings,31,150075,51071,51065,3572,54637,433,34.030318
73,2022-03-06,Kings,31,150075,51071,51050,3572,54622,432,34.030318
131,2022-03-05,Kings,31,150075,51070,50926,3572,54498,431,34.029652
189,2022-03-04,Kings,31,150075,51064,50926,3572,54498,431,34.025654
247,2022-03-03,Kings,31,150075,51056,50926,3572,54498,431,34.020323

3. Counting values on a column.

In [58]:
covid_data.value_counts("county").head()

county
Alameda       766
Santa Cruz    766
Plumas        766
Riverside     766
Sacramento    766
dtype: int64

4. Exploring distributions

In [59]:
covid_data.describe()

,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,confirmed_rate
count,44428.000000,4.442800e+04,4.442800e+04,4.442800e+04,44428.000000,4.442800e+04,44428.000000,44428.000000
mean,58.000000,6.749787e+05,4.868489e+04,4.738746e+04,2352.821959,4.974028e+04,689.038107,6.199691
std,33.481715,1.456938e+06,1.664177e+05,1.628047e+05,7505.454539,1.697947e+05,2601.291760,5.903327
min,1.000000,1.148000e+03,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
25%,29.000000,4.523500e+04,5.070000e+02,4.180000e+02,3.000000,4.530000e+02,3.000000,0.708923
50%,58.000000,1.834385e+05,5.761000e+03,5.340000e+03,96.000000,5.640000e+03,63.000000,5.216366
75%,87.000000,7.322120e+05,3.128200e+04,3.047575e+04,1232.000000,3.186925e+04,365.000000,9.864598
max,115.000000,1.009805e+07,2.675229e+06,2.675497e+06,121654.000000,2.797151e+06,30759.000000,34.030318

5. Subset dataframe based on value and assign to new variable.

In [62]:
max_covid = covid_data[covid_data['confirmed_rate'] >= 10]

In [63]:
len(max_covid)

10758

6. Merge with another dataset

In [36]:
flight_data=pd.read_csv("data/Los_Angeles_International_Airport_-_Flight_Operations_By_Month.csv", dtype = {"DataExtractDate":str})

In [82]:
flight_data["clean_date"]= pd.to_datetime(flight_data["ReportPeriod"]).dt.strftime("%Y-%m-%d")

In [83]:
flight_data.head()

,DataExtractDate,ReportPeriod,FlightType,Arrival_Departure,Domestic_International,FlightOpsCount,clean_date
0,04/01/2021 09:37:48 AM,02/01/2021 12:00:00 AM,Scheduled,Departure,International,1690,2021-02-01
1,04/18/2018 03:12:41 PM,12/01/2017 12:00:00 AM,Scheduled,Departure,Domestic,20797,2017-12-01
2,04/18/2018 03:12:41 PM,10/01/2008 12:00:00 AM,Charter,Departure,International,9,2008-10-01
3,04/18/2018 03:12:41 PM,02/01/2016 12:00:00 AM,Scheduled,Arrival,Domestic,18427,2016-02-01
4,04/18/2018 03:12:41 PM,09/01/2007 12:00:00 AM,Scheduled,Departure,International,4227,2007-09-01

In [81]:
flight_data[flight_data["clean_date"]=="2018-04-17"]

Empty DataFrame
Columns: [DataExtractDate, ReportPeriod, FlightType, Arrival_Departure, Domestic_International, FlightOpsCount, clean_date]
Index: []

In [84]:
flight_ops_data=flight_data[flight_data["Arrival_Departure"]=="Departure"].groupby(["clean_date"])["FlightOpsCount"].sum()

In [85]:
flight_ops_data

clean_date
2006-01-01    23844
2006-02-01    21394
2006-03-01    24222
2006-04-01    23327
2006-05-01    24279
2006-06-01    24276
2006-07-01    25534
2006-08-01    25790
2006-09-01    23638
2006-10-01    24455
2006-11-01    23436
2006-12-01    24808
2007-01-01    24693
2007-02-01    22125
2007-03-01    25165
2007-04-01    24101
2007-05-01    24764
2007-06-01    24936
2007-07-01    27098
2007-08-01    27226
2007-09-01    25123
2007-10-01    25961
2007-11-01    25121
2007-12-01    26099
2008-01-01    24710
2008-02-01    22797
2008-03-01    24401
2008-04-01    23721
2008-05-01    24473
2008-06-01    25021
2008-07-01    25840
2008-08-01    25304
2008-09-01    21162
2008-10-01    21888
2008-11-01    19929
2008-12-01    20942
2009-01-01    20520
2009-02-01    18640
2009-03-01    21182
2009-04-01    20496
2009-05-01    21021
2009-06-01    21436
2009-07-01    22909
2009-08-01    22682
2009-09-01    20468
2009-10-01    21349
2009-11-01    20427
2009-12-01    21597
2010-01-01    21269
2010-02-01    19165
2010-03-01    21982
2010-04-01    21351
2010-05-01    22151
2010-06-01    22542
2010-07-01    23585
2010-08-01    23336
2010-09-01    20977
2010-10-01    21662
2010-11-01    20734
2010-12-01    21629
2011-01-01    21448
2011-02-01    19391
2011-03-01    22463
2011-04-01    22495
2011-05-01    23385
2011-06-01    24012
2011-07-01    25175
2011-08-01    25012
2011-09-01    22556
2011-10-01    23105
2011-11-01    21831
2011-12-01    22982
2012-01-01    22310
2012-02-01    20998
2012-03-01    23434
2012-04-01    22585
2012-05-01    23217
2012-06-01    23806
2012-07-01    25144
2012-08-01    24911
2012-09-01    22235
2012-10-01    22466
2012-11-01    21390
2012-12-01    22421
2013-01-01    21808
2013-02-01    19645
2013-03-01    22792
2013-04-01    22401
2013-05-01    23585
2013-06-01    24413
2013-07-01    25849
2013-08-01    25410
2013-09-01    23315
2013-10-01    23990
2013-11-01    22361
2013-12-01    23991
2014-01-01    23300
2014-02-01    20763
2014-03-01    24234
2014-04-01    23576
2014-05-01    24631
2014-06-01    25324
2014-07-01    26813
2014-08-01    26122
2014-09-01    23681
2014-10-01    24381
2014-11-01    22622
2014-12-01    23584
2015-01-01    23760
2015-02-01    21237
2015-03-01    24535
2015-04-01    24123
2015-05-01    24845
2015-06-01    25427
2015-07-01    26803
2015-08-01    26429
2015-09-01    24027
2015-10-01    24849
2015-11-01    23436
2015-12-01    24671
2016-01-01    24009
2016-02-01    22593
2016-03-01    25124
2016-04-01    24575
2016-05-01    26148
2016-06-01    27370
2016-07-01    28533
2016-08-01    28455
2016-09-01    25627
2016-10-01    26394
2016-11-01    25298
2016-12-01    26618
2017-01-01    25873
2017-02-01    23111
2017-03-01    26686
2017-04-01    25756
2017-05-01    26838
2017-06-01    27580
2017-07-01    28668
2017-08-01    28599
2017-09-01    25594
2017-10-01    26753
2017-11-01    25173
2017-12-01    26518
2018-01-01    26086
2018-02-01    23429
2018-03-01    26712
2018-04-01    26585
2018-05-01    27681
2018-06-01    27879
2018-07-01    29001
2018-08-01    28838
2018-09-01    26109
2018-10-01    26721
2018-11-01    25306
2018-12-01    26473
2019-01-01    25572
2019-02-01    22860
2019-03-01    26443
2019-04-01    25561
2019-05-01    26386
2019-06-01    26909
2019-07-01    28480
2019-08-01    28217
2019-09-01    25264
2019-10-01    25980
2019-11-01    24614
2019-12-01    26462
2020-01-01    25263
2020-02-01    23174
2020-03-01    20990
2020-04-01     5560
2020-05-01     4683
2020-06-01     6314
2020-07-01    10058
2020-08-01    10962
2020-09-01     9833
2020-10-01    10993
2020-11-01    11530
2020-12-01    12645
2021-01-01    12466
2021-02-01    10745
2021-03-01    13517
2021-04-01    14130
2021-05-01    16884
2021-06-01    19133
2021-07-01    20887
2021-08-01    21052
2021-09-01    19441
2021-10-01    19954
2021-11-01    19665
2021-12-01    19549
Name: FlightOpsCount, dtype: int64

In [66]:
covid_flight_merge=pd.merge(covid_data, flight_ops_data, on = ["DataExtractDate"])

KeyError: 'DataExtractDate'

In [40]:
covid_flight_merge.head()

NameError: name 'covid_flight_merge' is not defined