# Midterm

#### Load our Python tools

In [71]:
# %load_ext lab_black

In [1]:
import pandas as pd
import altair as alt

In [73]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

---

Import dataset

In [74]:
covid_data=pd.read_csv("https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-county-cases-deaths.csv", dtype = {"date":str})

First 5 rows of dataset

In [75]:
covid_data.head()

,date,county,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths
0,2022-03-09,Alameda,1,1643700,252915,252893,13601,266494,1781
1,2022-03-09,Alpine,3,1148,125,125,1,126,0
2,2022-03-09,Amador,5,37829,8437,8409,654,9063,84
3,2022-03-09,Butte,7,227075,32778,32767,6573,39340,380
4,2022-03-09,Calaveras,9,45235,7250,7249,354,7603,117

In [76]:
covid_data.describe()

,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths
count,44544.000000,4.454400e+04,4.454400e+04,4.454400e+04,44544.000000,4.454400e+04,44544.000000
mean,58.000000,6.749787e+05,4.893703e+04,4.764194e+04,2373.039107,5.001498e+04,691.109667
std,33.481714,1.456938e+06,1.673630e+05,1.637658e+05,7565.765669,1.708118e+05,2607.047951
min,1.000000,1.148000e+03,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,29.000000,4.523500e+04,5.120000e+02,4.210000e+02,3.000000,4.560000e+02,3.000000
50%,58.000000,1.834385e+05,5.790500e+03,5.386000e+03,97.000000,5.673500e+03,63.000000
75%,87.000000,7.322120e+05,3.138625e+04,3.060300e+04,1243.000000,3.200725e+04,367.250000
max,115.000000,1.009805e+07,2.677633e+06,2.677901e+06,121654.000000,2.799555e+06,30842.000000

Change date to Y-M-Date frame

In [77]:
covid_data["clean_date"]=pd.to_datetime(covid_data["date"]).dt.strftime("%Y-%m-01")

In [78]:
covid_data.head()

,date,county,fips,population,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,clean_date
0,2022-03-09,Alameda,1,1643700,252915,252893,13601,266494,1781,2022-03-01
1,2022-03-09,Alpine,3,1148,125,125,1,126,0,2022-03-01
2,2022-03-09,Amador,5,37829,8437,8409,654,9063,84,2022-03-01
3,2022-03-09,Butte,7,227075,32778,32767,6573,39340,380,2022-03-01
4,2022-03-09,Calaveras,9,45235,7250,7249,354,7603,117,2022-03-01

Create new columns for covid cases rate per county's population of 40,000,000

In [79]:
covid_group=covid_data.groupby(["clean_date"]).agg({"confirmed_cases":"mean"}).reset_index()

In [80]:
covid_group["population"]=40000000

In [81]:
covid_group["covid_rate"]=(covid_group.confirmed_cases/covid_group.population)*100000

In [82]:
covid_group

    clean_date  confirmed_cases  population  covid_rate
0   2020-02-01         2.868014    40000000    0.007170
1   2020-03-01       124.266407    40000000    0.310666
2   2020-04-01       722.974713    40000000    1.807437
3   2020-05-01      1735.987208    40000000    4.339968
4   2020-06-01      3610.618966    40000000    9.026547
5   2020-07-01      7996.316463    40000000   19.990791
6   2020-08-01     11664.813126    40000000   29.162033
7   2020-09-01     13662.504023    40000000   34.156260
8   2020-10-01     15478.105673    40000000   38.695264
9   2020-11-01     19446.405747    40000000   48.616014
10  2020-12-01     33333.679644    40000000   83.334199
11  2021-01-01     52516.200779    40000000  131.290502
12  2021-02-01     59823.400862    40000000  149.558502
13  2021-03-01     61576.010567    40000000  153.940026
14  2021-04-01     62738.572414    40000000  156.846431
15  2021-05-01     63562.575640    40000000  158.906439
16  2021-06-01     64074.628736    40000000  160.186572
17  2021-07-01     65621.667964    40000000  164.054170
18  2021-08-01     71193.776418    40000000  177.984441
19  2021-09-01     76608.005172    40000000  191.520013
20  2021-10-01     79762.598999    40000000  199.406497
21  2021-11-01     82537.616092    40000000  206.344040
22  2021-12-01     86965.812570    40000000  217.414531
23  2022-01-01    122449.121802    40000000  306.122805
24  2022-02-01    143126.526478    40000000  357.816316
25  2022-03-01    145056.528736    40000000  362.641322

Which date has the highest covid rate?

In [62]:
covid_group.sort_values("covid_rate", ascending = False).head()

    clean_date  confirmed_cases  population  covid_rate
25  2022-03-01    145056.528736    40000000  362.641322
24  2022-02-01    143126.526478    40000000  357.816316
23  2022-01-01    122449.121802    40000000  306.122805
22  2021-12-01     86965.812570    40000000  217.414531
21  2021-11-01     82537.616092    40000000  206.344040

Which date has the lowest covid rate?

In [63]:
covid_group.sort_values("covid_rate", ascending = True).head()

   clean_date  confirmed_cases  population  covid_rate
0  2020-02-01         2.868014    40000000    0.007170
1  2020-03-01       124.266407    40000000    0.310666
2  2020-04-01       722.974713    40000000    1.807437
3  2020-05-01      1735.987208    40000000    4.339968
4  2020-06-01      3610.618966    40000000    9.026547

How many unique months have more than a 90 covid rate per 100k Population

In [64]:
max_covid = covid_group[covid_group['covid_rate'] >= 90]

In [65]:
len(max_covid)

15

Comparing to Flight dataset

In [66]:
flight_data=pd.read_csv("data/Los_Angeles_International_Airport_-_Flight_Operations_By_Month.csv", dtype = {"DataExtractDate":str})

In [67]:
flight_data["clean_date"]= pd.to_datetime(flight_data["ReportPeriod"]).dt.strftime("%Y-%m-%d")

In [68]:
flight_data.head()

,DataExtractDate,ReportPeriod,FlightType,Arrival_Departure,Domestic_International,FlightOpsCount,clean_date
0,04/01/2021 09:37:48 AM,02/01/2021 12:00:00 AM,Scheduled,Departure,International,1690,2021-02-01
1,04/18/2018 03:12:41 PM,12/01/2017 12:00:00 AM,Scheduled,Departure,Domestic,20797,2017-12-01
2,04/18/2018 03:12:41 PM,10/01/2008 12:00:00 AM,Charter,Departure,International,9,2008-10-01
3,04/18/2018 03:12:41 PM,02/01/2016 12:00:00 AM,Scheduled,Arrival,Domestic,18427,2016-02-01
4,04/18/2018 03:12:41 PM,09/01/2007 12:00:00 AM,Scheduled,Departure,International,4227,2007-09-01

How many are arrival vs. departure flights?

In [69]:
flight_data.value_counts("Arrival_Departure")

Arrival_Departure
Arrival      759
Departure    718
dtype: int64

How many International vs Domestic Flights?

In [70]:
flight_data.value_counts("Domestic_International")

Domestic_International
Domestic         768
International    709
dtype: int64

Which date has the highest flight operations?

In [34]:
flight_data.sort_values("FlightOpsCount", ascending = False)

,DataExtractDate,ReportPeriod,FlightType,Arrival_Departure,Domestic_International,FlightOpsCount,clean_date
596,04/18/2018 03:12:41 PM,08/01/2016 12:00:00 AM,Scheduled,Departure,Domestic,22989,2016-08-01
1036,04/18/2018 03:12:41 PM,07/01/2016 12:00:00 AM,Scheduled,Departure,Domestic,22987,2016-07-01
1334,04/18/2018 03:12:41 PM,08/01/2016 12:00:00 AM,Scheduled,Arrival,Domestic,22983,2016-08-01
1116,04/18/2018 03:12:41 PM,07/01/2016 12:00:00 AM,Scheduled,Arrival,Domestic,22940,2016-07-01
516,09/26/2018 09:27:08 AM,08/01/2018 12:00:00 AM,Scheduled,Arrival,Domestic,22856,2018-08-01
...,...,...,...,...,...,...,...
1239,05/04/2020 06:39:48 AM,01/01/2020 12:00:00 AM,Charter,Departure,International,0,2020-01-01
414,12/10/2020 06:01:38 AM,11/01/2020 12:00:00 AM,Charter,Departure,International,0,2020-11-01
1424,08/01/2021 12:00:23 AM,06/01/2021 12:00:00 AM,Charter,Departure,International,0,2021-06-01
889,12/10/2019 06:01:20 AM,11/01/2019 12:00:00 AM,Charter,Departure,International,0,2019-11-01
774,04/29/2019 01:10:30 PM,03/01/2019 12:00:00 AM,Charter,Departure,International,0,2019-03-01

In [35]:
flight_data[flight_data['FlightOpsCount'] == flight_data["FlightOpsCount"].max()]

,DataExtractDate,ReportPeriod,FlightType,Arrival_Departure,Domestic_International,FlightOpsCount,clean_date
596,04/18/2018 03:12:41 PM,08/01/2016 12:00:00 AM,Scheduled,Departure,Domestic,22989,2016-08-01

For each month, what is the total departed flight operations in 2020 and 2021?

In [42]:
flight_ops_departure_data=flight_data[flight_data["Arrival_Departure"]=="Departure"].groupby(["clean_date"])["FlightOpsCount"].sum().reset_index()

In [43]:
flight_ops_departure_data[flight_ops_departure_data["clean_date"].str.contains("2020")]

     clean_date  FlightOpsCount
168  2020-01-01           25263
169  2020-02-01           23174
170  2020-03-01           20990
171  2020-04-01            5560
172  2020-05-01            4683
173  2020-06-01            6314
174  2020-07-01           10058
175  2020-08-01           10962
176  2020-09-01            9833
177  2020-10-01           10993
178  2020-11-01           11530
179  2020-12-01           12645

In [44]:
flight_ops_departure_data[flight_ops_departure_data["clean_date"].str.contains("2021")]

     clean_date  FlightOpsCount
180  2021-01-01           12466
181  2021-02-01           10745
182  2021-03-01           13517
183  2021-04-01           14130
184  2021-05-01           16884
185  2021-06-01           19133
186  2021-07-01           20887
187  2021-08-01           21052
188  2021-09-01           19441
189  2021-10-01           19954
190  2021-11-01           19665
191  2021-12-01           19549

For each departure flights,  what is the highest flight operation number?

In [83]:
flight_ops_departure_data.sort_values("FlightOpsCount", ascending = False).head()

     clean_date  FlightOpsCount
150  2018-07-01           29001
151  2018-08-01           28838
138  2017-07-01           28668
139  2017-08-01           28599
126  2016-07-01           28533

For each month, what is the total arrival flight operations in 2020 and 2021?

In [98]:
flight_ops_data_arrival[flight_ops_data_arrival["clean_date"].str.contains("2020")]

     clean_date  FlightOpsCount
168  2020-01-01           25214
169  2020-02-01           23152
170  2020-03-01           21049
171  2020-04-01            5541
172  2020-05-01            4677
173  2020-06-01            6186
174  2020-07-01           10071
175  2020-08-01           10967
176  2020-09-01            9819
177  2020-10-01           10983
178  2020-11-01           11548
179  2020-12-01           12681

In [99]:
flight_ops_data_arrival[flight_ops_data_arrival["clean_date"].str.contains("2021")]

     clean_date  FlightOpsCount
180  2021-01-01           12377
181  2021-02-01           10667
182  2021-03-01           13503
183  2021-04-01           14101
184  2021-05-01           16795
185  2021-06-01           19189
186  2021-07-01           20916
187  2021-08-01           20957
188  2021-09-01           19471
189  2021-10-01           19944
190  2021-11-01           19648
191  2021-12-01           19559

For each month, what is the total arrival flight operations?

In [84]:
flight_ops_data_arrival=flight_data[flight_data["Arrival_Departure"]=="Arrival"].groupby(["clean_date"])["FlightOpsCount"].sum().reset_index()

What date has the lowest arrival flights operated?

In [85]:
flight_ops_data_arrival.sort_values("FlightOpsCount", ascending = True).head()

     clean_date  FlightOpsCount
172  2020-05-01            4677
171  2020-04-01            5541
173  2020-06-01            6186
176  2020-09-01            9819
174  2020-07-01           10071

For each month, what is the total domestic flight operated?

In [86]:
flight_ops_domestic_data=flight_data[flight_data["Domestic_International"]=="Domestic"].groupby(["clean_date"])["FlightOpsCount"].sum().reset_index()

In [100]:
flight_ops_domestic_data

     clean_date  FlightOpsCount
0    2006-01-01           39471
1    2006-02-01           35723
2    2006-03-01           40419
3    2006-04-01           38761
4    2006-05-01           40492
5    2006-06-01           40415
6    2006-07-01           41963
7    2006-08-01           42814
8    2006-09-01           39495
9    2006-10-01           40992
10   2006-11-01           39352
11   2006-12-01           41269
12   2007-01-01           40547
13   2007-02-01           36472
14   2007-03-01           41842
15   2007-04-01           39796
16   2007-05-01           41053
17   2007-06-01           41091
18   2007-07-01           44354
19   2007-08-01           44655
20   2007-09-01           41666
21   2007-10-01           43522
22   2007-11-01           41994
23   2007-12-01           42999
24   2008-01-01           40529
25   2008-02-01           37515
26   2008-03-01           39978
27   2008-04-01           39059
28   2008-05-01           40496
29   2008-06-01           41577
30   2008-07-01           42681
31   2008-08-01           41825
32   2008-09-01           34726
33   2008-10-01           36138
34   2008-11-01           32874
35   2008-12-01           34418
36   2009-01-01           33690
37   2009-02-01           30843
38   2009-03-01           35068
39   2009-04-01           33774
40   2009-05-01           34964
41   2009-06-01           35791
42   2009-07-01           37804
43   2009-08-01           37465
44   2009-09-01           34018
45   2009-10-01           35467
46   2009-11-01           33816
47   2009-12-01           35346
48   2010-01-01           34882
49   2010-02-01           31526
50   2010-03-01           36436
51   2010-04-01           35355
52   2010-05-01           36737
53   2010-06-01           37311
54   2010-07-01           38821
55   2010-08-01           38657
56   2010-09-01           35292
57   2010-10-01           36365
58   2010-11-01           34571
59   2010-12-01           35929
60   2011-01-01           35321
61   2011-02-01           31989
62   2011-03-01           37261
63   2011-04-01           37237
64   2011-05-01           38983
65   2011-06-01           40148
66   2011-07-01           41887
67   2011-08-01           41673
68   2011-09-01           37493
69   2011-10-01           38447
70   2011-11-01           36566
71   2011-12-01           38356
72   2012-01-01           37022
73   2012-02-01           35274
74   2012-03-01           39278
75   2012-04-01           37737
76   2012-05-01           38900
77   2012-06-01           40032
78   2012-07-01           42120
79   2012-08-01           41670
80   2012-09-01           37208
81   2012-10-01           37732
82   2012-11-01           36081
83   2012-12-01           37334
84   2013-01-01           36194
85   2013-02-01           32830
86   2013-03-01           38171
87   2013-04-01           37474
88   2013-05-01           39485
89   2013-06-01           40983
90   2013-07-01           42929
91   2013-08-01           42183
92   2013-09-01           38960
93   2013-10-01           40272
94   2013-11-01           37598
95   2013-12-01           40234
96   2014-01-01           38758
97   2014-02-01           34681
98   2014-03-01           40428
99   2014-04-01           39249
100  2014-05-01           40999
101  2014-06-01           41998
102  2014-07-01           44267
103  2014-08-01           43103
104  2014-09-01           39479
105  2014-10-01           40961
106  2014-11-01           37839
107  2014-12-01           39026
108  2015-01-01           39131
109  2015-02-01           35281
110  2015-03-01           40836
111  2015-04-01           39591
112  2015-05-01           40745
113  2015-06-01           41520
114  2015-07-01           43367
115  2015-08-01           42755
116  2015-09-01           39075
117  2015-10-01           40654
118  2015-11-01           38629
119  2015-12-01           40331
120  2016-01-01           38988
121  2016-02-01           36894
122  2016-03-01           41143
123  2016-04-01           40004
124  2016-05-01           42118
125  2016-06-01           44629
126  2016-07-01           45944
127  2016-08-01           45985
128  2016-09-01           41472
129  2016-10-01           42838
130  2016-11-01           41214
131  2016-12-01           42495
132  2017-01-01           41279
133  2017-02-01           36987
134  2017-03-01           43018
135  2017-04-01           41033
136  2017-05-01           42810
137  2017-06-01           43968
138  2017-07-01           45272
139  2017-08-01           45284
140  2017-09-01           40664
141  2017-10-01           42807
142  2017-11-01           40090
143  2017-12-01           41730
144  2018-01-01           41111
145  2018-02-01           37150
146  2018-03-01           42461
147  2018-04-01           42210
148  2018-05-01           43913
149  2018-06-01           44389
150  2018-07-01           45686
151  2018-08-01           45660
152  2018-09-01           41482
153  2018-10-01           42810
154  2018-11-01           40647
155  2018-12-01           42421
156  2019-01-01           40915
157  2019-02-01           36758
158  2019-03-01           42697
159  2019-04-01           40727
160  2019-05-01           42070
161  2019-06-01           42971
162  2019-07-01           45401
163  2019-08-01           45324
164  2019-09-01           40558
165  2019-10-01           41802
166  2019-11-01           39767
167  2019-12-01           42689
168  2020-01-01           40627
169  2020-02-01           38039
170  2020-03-01           35547
171  2020-04-01            9903
172  2020-05-01            8240
173  2020-06-01           11184
174  2020-07-01           18047
175  2020-08-01           19553
176  2020-09-01           17131
177  2020-10-01           18945
178  2020-11-01           19796
179  2020-12-01           21221
180  2021-01-01           20285
181  2021-02-01           18102
182  2021-03-01           23572
183  2021-04-01           24390
184  2021-05-01           28983
185  2021-06-01           33101
186  2021-07-01           35828
187  2021-08-01           35818
188  2021-09-01           33353
189  2021-10-01           34134
190  2021-11-01           32894
191  2021-12-01           32070

What date has the lowest amount of domestic flights?

In [87]:
flight_ops_domestic_data.sort_values("FlightOpsCount", ascending = True).head()

     clean_date  FlightOpsCount
172  2020-05-01            8240
171  2020-04-01            9903
173  2020-06-01           11184
176  2020-09-01           17131
174  2020-07-01           18047

For each month, what is the total international flights operated?

In [88]:
flight_ops_international_data=flight_data[flight_data["Domestic_International"]=="International"].groupby(["clean_date"])["FlightOpsCount"].sum().reset_index()

In [ ]:
flight_ops_international_data

What date has the lowest amount of international flights?

In [90]:
flight_ops_international_data.sort_values("FlightOpsCount", ascending = True).head()

     clean_date  FlightOpsCount
172  2020-05-01            1120
171  2020-04-01            1198
173  2020-06-01            1316
174  2020-07-01            2082
175  2020-08-01            2376

Merge

In [101]:
covid_flight_merge=pd.merge(covid_group, flight_data, on = ["clean_date"])

In [102]:
covid_flight_merge.head()

,clean_date,confirmed_cases,population,covid_rate,DataExtractDate,ReportPeriod,FlightType,Arrival_Departure,Domestic_International,FlightOpsCount
0,2020-02-01,2.868014,40000000,0.00717,04/29/2020 07:14:24 AM,02/01/2020 12:00:00 AM,Scheduled,Departure,Domestic,19014
1,2020-02-01,2.868014,40000000,0.00717,04/29/2020 07:14:24 AM,02/01/2020 12:00:00 AM,Scheduled,Arrival,Domestic,18991
2,2020-02-01,2.868014,40000000,0.00717,05/04/2020 06:39:48 AM,02/01/2020 12:00:00 AM,Charter,Departure,International,2
3,2020-02-01,2.868014,40000000,0.00717,05/04/2020 06:39:48 AM,02/01/2020 12:00:00 AM,Charter,Arrival,International,2
4,2020-02-01,2.868014,40000000,0.00717,05/04/2020 06:39:48 AM,02/01/2020 12:00:00 AM,Charter,Departure,Domestic,17

For each date, what is the highest covid rate?

In [103]:
covid_merge_sort=covid_flight_merge.groupby(["clean_date"])["covid_rate"].max()

In [104]:
covid_merge_sort

clean_date
2020-02-01      0.007170
2020-03-01      0.310666
2020-04-01      1.807437
2020-05-01      4.339968
2020-06-01      9.026547
2020-07-01     19.990791
2020-08-01     29.162033
2020-09-01     34.156260
2020-10-01     38.695264
2020-11-01     48.616014
2020-12-01     83.334199
2021-01-01    131.290502
2021-02-01    149.558502
2021-03-01    153.940026
2021-04-01    156.846431
2021-05-01    158.906439
2021-06-01    160.186572
2021-07-01    164.054170
2021-08-01    177.984441
2021-09-01    191.520013
2021-10-01    199.406497
2021-11-01    206.344040
2021-12-01    217.414531
Name: covid_rate, dtype: float64