# Assignment 3

#### Load our Python tools

In [1]:
# %load_ext lab_black

In [2]:
import pandas as pd
import altair as alt

In [3]:
pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000
pd.options.display.max_colwidth = None

---

#### Import statewide dataset

In [4]:
covid_data=pd.read_csv("https://raw.githubusercontent.com/datadesk/california-coronavirus-data/master/cdph-state-cases-deaths.csv").sort_values('date')

#### Data are cumulative, so we need to extract how many new cases there were each day

In [5]:
covid_data['daily_new_cases'] = covid_data['confirmed_cases'].diff().fillna(covid_data['confirmed_cases'])

In [6]:
covid_data.head()

,date,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,daily_new_cases
765,2020-02-01,23,3,1,4,0,23.0
764,2020-02-02,30,6,1,7,0,7.0
763,2020-02-03,35,6,1,7,0,5.0
762,2020-02-04,35,6,2,8,0,0.0
761,2020-02-05,38,6,2,8,0,3.0

In [7]:
covid_data.tail()

,date,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,daily_new_cases
4,2022-03-03,8411558,8399677,587255,8986932,85353,2504.0
3,2022-03-04,8413279,8399677,587255,8986932,85353,1721.0
2,2022-03-05,8413944,8399677,587255,8986932,85353,665.0
1,2022-03-06,8414099,8412311,587255,8999566,85849,155.0
0,2022-03-07,8414099,8414669,587255,9001924,85854,0.0

#### Create a generic month column for aggregation

In [8]:
covid_data["month"]=pd.to_datetime(covid_data["date"]).dt.strftime("%Y-%m-01")

In [9]:
covid_data.head()

,date,confirmed_cases,reported_cases,probable_cases,reported_and_probable_cases,reported_deaths,daily_new_cases,month
765,2020-02-01,23,3,1,4,0,23.0,2020-02-01
764,2020-02-02,30,6,1,7,0,7.0,2020-02-01
763,2020-02-03,35,6,1,7,0,5.0,2020-02-01
762,2020-02-04,35,6,2,8,0,0.0,2020-02-01
761,2020-02-05,38,6,2,8,0,3.0,2020-02-01

#### Group by month to sum new cases by month

In [10]:
covid_group_months = covid_data.groupby(["month"]).agg({"daily_new_cases":"sum"}).reset_index()

#### How many new cases per month?

In [11]:
covid_group_months.rename(columns={'daily_new_cases':'new_monthly_cases'}, inplace=True)

In [12]:
covid_group_months.head()

        month  new_monthly_cases
0  2020-02-01              466.0
1  2020-03-01            19273.0
2  2020-04-01            46543.0
3  2020-05-01            71247.0
4  2020-06-01           174058.0

In [13]:
covid_group_months["new_monthly_covid_cases_per_100k"]=((covid_group_months.new_monthly_cases/38000000)*100000).round(1)

In [14]:
covid_group_months

         month  new_monthly_cases  new_monthly_covid_cases_per_100k
0   2020-02-01              466.0                               1.2
1   2020-03-01            19273.0                              50.7
2   2020-04-01            46543.0                             122.5
3   2020-05-01            71247.0                             187.5
4   2020-06-01           174058.0                             458.0
5   2020-07-01           280834.0                             739.0
6   2020-08-01           149064.0                             392.3
7   2020-09-01            98748.0                             259.9
8   2020-10-01           120594.0                             317.4
9   2020-11-01           399997.0                            1052.6
10  2020-12-01          1163545.0                            3062.0
11  2021-01-01           834412.0                            2195.8
12  2021-02-01           170654.0                             449.1
13  2021-03-01            76676.0                             201.8
14  2021-04-01            60313.0                             158.7
15  2021-05-01            34979.0                              92.0
16  2021-06-01            32993.0                              86.8
17  2021-07-01           189588.0                             498.9
18  2021-08-01           387631.0                            1020.1
19  2021-09-01           231464.0                             609.1
20  2021-10-01           163389.0                             430.0
21  2021-11-01           151721.0                             399.3
22  2021-12-01           712459.0                            1874.9
23  2022-01-01          2514137.0                            6616.2
24  2022-02-01           316707.0                             833.4
25  2022-03-01            12607.0                              33.2

#### Now that you have Altair!

In [15]:
#### Omicron pops!

In [16]:
alt.Chart(covid_group_months).mark_bar(size=10).encode(
    x=alt.X('month:T', axis=alt.Axis(format="%b. %y")),
    y='new_monthly_cases:Q'
).properties(title='New CA COVID cases by month')

alt.Chart(...)

---

#### Merge with flights

Good luck!!

In [17]:
flight_data=pd.read_csv("data/Los_Angeles_International_Airport_-_Flight_Operations_By_Month.csv", dtype = {"DataExtractDate":str})

In [18]:
flight_data["clean_date"]= pd.to_datetime(flight_data["ReportPeriod"]).dt.strftime("%Y-%m-%d")

In [19]:
flight_data.head()

,DataExtractDate,ReportPeriod,FlightType,Arrival_Departure,Domestic_International,FlightOpsCount,clean_date
0,04/01/2021 09:37:48 AM,02/01/2021 12:00:00 AM,Scheduled,Departure,International,1690,2021-02-01
1,04/18/2018 03:12:41 PM,12/01/2017 12:00:00 AM,Scheduled,Departure,Domestic,20797,2017-12-01
2,04/18/2018 03:12:41 PM,10/01/2008 12:00:00 AM,Charter,Departure,International,9,2008-10-01
3,04/18/2018 03:12:41 PM,02/01/2016 12:00:00 AM,Scheduled,Arrival,Domestic,18427,2016-02-01
4,04/18/2018 03:12:41 PM,09/01/2007 12:00:00 AM,Scheduled,Departure,International,4227,2007-09-01

In [20]:
flight_data[flight_data["clean_date"]=="2018-04-17"]

Empty DataFrame
Columns: [DataExtractDate, ReportPeriod, FlightType, Arrival_Departure, Domestic_International, FlightOpsCount, clean_date]
Index: []

In [21]:
flight_ops_data=flight_data[flight_data["Arrival_Departure"]=="Departure"].groupby(["clean_date"])["FlightOpsCount"].sum()

In [22]:
flight_ops_data

clean_date
2006-01-01    23844
2006-02-01    21394
2006-03-01    24222
2006-04-01    23327
2006-05-01    24279
2006-06-01    24276
2006-07-01    25534
2006-08-01    25790
2006-09-01    23638
2006-10-01    24455
2006-11-01    23436
2006-12-01    24808
2007-01-01    24693
2007-02-01    22125
2007-03-01    25165
2007-04-01    24101
2007-05-01    24764
2007-06-01    24936
2007-07-01    27098
2007-08-01    27226
2007-09-01    25123
2007-10-01    25961
2007-11-01    25121
2007-12-01    26099
2008-01-01    24710
2008-02-01    22797
2008-03-01    24401
2008-04-01    23721
2008-05-01    24473
2008-06-01    25021
2008-07-01    25840
2008-08-01    25304
2008-09-01    21162
2008-10-01    21888
2008-11-01    19929
2008-12-01    20942
2009-01-01    20520
2009-02-01    18640
2009-03-01    21182
2009-04-01    20496
2009-05-01    21021
2009-06-01    21436
2009-07-01    22909
2009-08-01    22682
2009-09-01    20468
2009-10-01    21349
2009-11-01    20427
2009-12-01    21597
2010-01-01    21269
2010-02-01    19165
2010-03-01    21982
2010-04-01    21351
2010-05-01    22151
2010-06-01    22542
2010-07-01    23585
2010-08-01    23336
2010-09-01    20977
2010-10-01    21662
2010-11-01    20734
2010-12-01    21629
2011-01-01    21448
2011-02-01    19391
2011-03-01    22463
2011-04-01    22495
2011-05-01    23385
2011-06-01    24012
2011-07-01    25175
2011-08-01    25012
2011-09-01    22556
2011-10-01    23105
2011-11-01    21831
2011-12-01    22982
2012-01-01    22310
2012-02-01    20998
2012-03-01    23434
2012-04-01    22585
2012-05-01    23217
2012-06-01    23806
2012-07-01    25144
2012-08-01    24911
2012-09-01    22235
2012-10-01    22466
2012-11-01    21390
2012-12-01    22421
2013-01-01    21808
2013-02-01    19645
2013-03-01    22792
2013-04-01    22401
2013-05-01    23585
2013-06-01    24413
2013-07-01    25849
2013-08-01    25410
2013-09-01    23315
2013-10-01    23990
2013-11-01    22361
2013-12-01    23991
2014-01-01    23300
2014-02-01    20763
2014-03-01    24234
2014-04-01    23576
2014-05-01    24631
2014-06-01    25324
2014-07-01    26813
2014-08-01    26122
2014-09-01    23681
2014-10-01    24381
2014-11-01    22622
2014-12-01    23584
2015-01-01    23760
2015-02-01    21237
2015-03-01    24535
2015-04-01    24123
2015-05-01    24845
2015-06-01    25427
2015-07-01    26803
2015-08-01    26429
2015-09-01    24027
2015-10-01    24849
2015-11-01    23436
2015-12-01    24671
2016-01-01    24009
2016-02-01    22593
2016-03-01    25124
2016-04-01    24575
2016-05-01    26148
2016-06-01    27370
2016-07-01    28533
2016-08-01    28455
2016-09-01    25627
2016-10-01    26394
2016-11-01    25298
2016-12-01    26618
2017-01-01    25873
2017-02-01    23111
2017-03-01    26686
2017-04-01    25756
2017-05-01    26838
2017-06-01    27580
2017-07-01    28668
2017-08-01    28599
2017-09-01    25594
2017-10-01    26753
2017-11-01    25173
2017-12-01    26518
2018-01-01    26086
2018-02-01    23429
2018-03-01    26712
2018-04-01    26585
2018-05-01    27681
2018-06-01    27879
2018-07-01    29001
2018-08-01    28838
2018-09-01    26109
2018-10-01    26721
2018-11-01    25306
2018-12-01    26473
2019-01-01    25572
2019-02-01    22860
2019-03-01    26443
2019-04-01    25561
2019-05-01    26386
2019-06-01    26909
2019-07-01    28480
2019-08-01    28217
2019-09-01    25264
2019-10-01    25980
2019-11-01    24614
2019-12-01    26462
2020-01-01    25263
2020-02-01    23174
2020-03-01    20990
2020-04-01     5560
2020-05-01     4683
2020-06-01     6314
2020-07-01    10058
2020-08-01    10962
2020-09-01     9833
2020-10-01    10993
2020-11-01    11530
2020-12-01    12645
2021-01-01    12466
2021-02-01    10745
2021-03-01    13517
2021-04-01    14130
2021-05-01    16884
2021-06-01    19133
2021-07-01    20887
2021-08-01    21052
2021-09-01    19441
2021-10-01    19954
2021-11-01    19665
2021-12-01    19549
Name: FlightOpsCount, dtype: int64

In [23]:
covid_flight_merge=pd.merge(covid_data, flight_ops_data, on = ["DataExtractDate"])

KeyError: 'DataExtractDate'

In [ ]:
covid_flight_merge.head()